<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>进件任务分案 / 分案规则维护</span>
		</div>
		<div class="pageTitle">
			分案规则维护
		</div>
		<div class="content">			
			<table class="table-list">
				<colgroup>
					<col width="5%" />
					<col width="30%" />
					<col width="30%" />
					<col width="25%" />
				</colgroup>
				<tr>
					<th width="50"></th>
					<th>规则名称</th>
					<th>维护时间</th>
					<th>维护人</th>
				</tr>
			</table>
			<table class="table-list">
				<colgroup>		
					<col width="5%" />
					<col width="30%" />
					<col width="30%" />
					<col width="25%" />
				</colgroup>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" checked/></td>
					<td>进件机构规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>进件区域规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>行业规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>商圈规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>客户经理规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>审核人规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>审批人规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>拟资信评估额度规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>产品规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>任务数量上限规则</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
			</table>
			<div class="pagebar">
				<div class="controlbtn">
					<a class="btn btn-info" href="javascript:void(0);" title="维护">维护</a>
					<a class="btn" href="javascript:void(0);" title="显示">显示</a>
				</div>
				<div class="page">
					<span>共<b>2</b>条数据，当前第<b>1</b>页</span>
					<a href="#" class="first"><img src="../../static/img/icon_button_first.png"/></a>
					<a href="#" class="previous"><img src="../../static/img/icon_button_previous.png"/></a>
					<input type="text"/>
					<input type="button" value="GO" class="go"/>
					<span>/页</span>	
					<a href="#" class="next"><img src="../../static/img/icon_button_next.png"/></a>
					<a href="#" class="end"><img src="../../static/img/icon_button_end.png"/></a>
				</div>
			</div>		
		</div>
	</body>
</html>