<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/bootstrap.css" rel="stylesheet">

		<script src="../../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../../static/js/index.js"></script>

		<style type="text/css">
			
		</style>
	</head>
	<body onload="setTimeOut();">
		<div class="position">
			当前位置：<span>进件任务分案 / 进件分案 / 新建进件</span>
		</div>

		<div class="pageTitle">
			新增进件
		</div>

		<form name="submitForm" action="/jjrwfa/save_jjfa" method="POST">
		<div class="content">
			<table class="myTable">
				<caption>客户信息</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">客户名称</td>
					<td><input type="text" name="name"/></td>
					<td class="table-label">身份证号码/营业执照号码</td>
					<td><input type="text" name="card_id"/></td>					
				</tr>
				
			</table>
			<div class="pagebar">			
				<div class="controlbtn">
					<input class="btn btn-info" href="javascript:void(0);" type="submit" value="保存"></input>
					<input class="btn btn-info" type="button" onclick="javascript:history.go(-1);" value="返回"/>
				</div>
			</div>
		</div>
	</form>
		<script type="text/javascript">
		</script>
	</body>
</html>