<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/alert.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<script src="../../static/js/util.js"></script><!-- html字符转义 -->
		<!--验证样式-->
		<link rel="stylesheet" href="../../static/css/validationEngine.jquery.css">
		<script src="../../static/js/jquery.validationEngine-zh_CN.js"></script> 
		<script src="../../static/js/jquery.validationEngine.js"></script> 
		<style type="text/css">
			
		</style>
	</head>
	<body onload="setTimeOut();">
		<div class="position">
			当前位置：<span>进件任务分案 / 进件分案 / 新建进件</span>
		</div>

		<div class="pageTitle">
			新增进件
		</div>

		<form id="form_id" action="/jjrwfa/save_jjfa" method="POST" >
		<div class="content">
			<table class="myTable">
				<caption>客户信息</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">客户名称<font class="red">*</font></td>
					<td><input type="text" name="name" class="validate[required]"/></td>
					<td class="table-label" style="width:20%">身份证号码/营业执照号码</td>
					<td><input type="text" name="card_id" id="card_id"  class="validate[required,custom[chinaIdLoose]]"/></td>					
				</tr>
				<tr>
					<td class="table-label">客户索引号<font class="red">*</font></td>
					<td><input type="text" name="index_id" class="validate[required]"/></td>
					<td class="table-label">进件银行<font class="red">*</font></td>
					<td><input type="text" name="bank_id"  class="validate[required]"/></td>					
				</tr>
				<tr>
					<td><label>所属区域:</label></td>
	              	<td colspan="3">
		              	<select id="regPermResidence_1" name="regPermResidence_1" style="width:20%;margin:3px;" onchange="change_regPermResidence_1(this.value);">
		              	<script>document.write(js.lang.String.decodeHtml('{{"regPermResidence_1"|dynDict("","")}}'))</script>
		              	</select>
		              	<select id="regPermResidence_2" name="regPermResidence_2" style="width:20%;margin:3px;" onchange="change_regPermResidence_2(this.value);">
		              	<script>document.write(js.lang.String.decodeHtml('{{"regPermResidence_2"|dynDict("","")}}'))</script>
		              	</select>
		              	<select id="regPermResidence_3" name="regPermResidence_3" style="width:20%;margin:3px;">
		              	<script>document.write(js.lang.String.decodeHtml('{{"regPermResidence_3"|dynDict("","")}}'))</script>
		              	</select>
	              	</td>				
				</tr>
				<tr>
					<td class="table-label">进件机构<font class="red">*</font></td>
					<td><input type="text" name="org_id" class="validate[required]"/></td>
					<td class="table-label">进件行业<font class="red">*</font></td>
					<td><input type="text" name="industry_id"  class="validate[required]"/></td>					
				</tr>
				<tr>
					<td class="table-label">进件商圈<font class="red">*</font></td>
					<td><input type="text" name="district_id" class="validate[required]"/></td>
					<td class="table-label">进件产品<font class="red">*</font></td>
					<td><input type="text" name="product_id"  class="validate[required]"/></td>					
				</tr>
				<tr>
					<td class="table-label">申请额度(元)<font class="red">*</font></td>
					<td><input type="text" name="approve_limit" class="validate[required]"/></td>
					<td class="table-label">客户经理</td>
					<td><input type="text" name="manager_id" /></td>					
				</tr>
				<tr>
					<td class="table-label">审核人</td>
					<td><input type="text" name="sh_user"/></td>
					<td class="table-label">审批人</td>
					<td><input type="text" name="sp_user"/></td>					
				</tr>
				
			</table>
			<div class="pagebar">			
				<div class="controlbtn">
					<input id="id_save_button" class="btn btn-info" type="button" value="保存"></input>
					<input class="btn btn-info" type="button" onclick="javascript:history.go(-1);" value="返回"/>
				</div>
			</div>
		</div>
	</form>
		<script type="text/javascript">
			//户籍所在地
			var indiv_brt_place_array2 = new Array();//用来保存为显示的select元素
			var indiv_brt_place_array3 = new Array();//用来保存为显示的select元素
			$(document).ready(function(){
			//前端验证
			$('#form_id').validationEngine();
			$("#id_save_button").click(function() {
				if(!submitFlag){
					alert("正在处理，请勿重复提交!");
					return;
				}
				submitFlag = false;
				// 前端验证 
				if($('#form_id').validationEngine('validate')){
					//ajax判断身份证是否重复
					var url = "/jjrwfa/new_jjfa_check/"+$("#card_id").val();
					$.ajax({
						url : url,
						type : "get",
						async: false,
						success : function(data) {
							if(data=='true'){
								alert("身份证号已存在,新增失败!");
								submitFlag = true;
							}
						}
					});
					if(submitFlag){
						return;
					}
					//submit
					$('#form_id').submit();
					submitFlag = true;
				}else{
					submitFlag = true;
				}
			});


			//户籍所在地
			$("#regPermResidence_2 option").each(function(){ //遍历全部option
				indiv_brt_place_array2.push($(this));
		    });
			$("#regPermResidence_3 option").each(function(){ //遍历全部option
				indiv_brt_place_array3.push($(this));
		    });
		});

			//户籍所在地
			function change_regPermResidence_1(objval){
				$("#regPermResidence_2").empty();
				$.each(indiv_brt_place_array2,function(n,opt) { 
					if(opt.val().split("_")[0] == objval.split("_")[1]){
						$("#regPermResidence_2").append(opt);
					}
				});
				$("#regPermResidence_2").get(0).selectedIndex = 0;

				
				var tmp = $("#regPermResidence_2 option:first");//IE7
				change_regPermResidence_2(tmp.val());
			}
			function change_regPermResidence_2(objval){
				$("#regPermResidence_3").empty();
				$.each(indiv_brt_place_array3,function(n,opt) {  
					if(opt.val().split("_")[0] == objval.split("_")[1]){
						$("#regPermResidence_3").append(opt);
					}
				});
				$("#regPermResidence_3").get(0).selectedIndex = 0;
		
	}
		</script>
	</body>
</html>