<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			.myTable{width:100%;border-collapse:collapse;}
			.myTable caption{background-color: #135AA4;eight: 30px;line-height: 30px;color: #fff;font-weight: bold;font-size: 16px;}
			.myTable td{border:1px solid #ddd;color:#333;line-height:36px;padding:0 5px;}
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>进件任务分案 / 进件分案 / 人工分案</span>
		</div>
		<div class="pageTitle">
			人工分案--张三
		</div>
		<div class="content">			
			<table class="myTable">
				<caption>进件资料</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">客户号</td>
					<td>01</td>
					<td class="table-label">客户名称</td>
					<td>张三</td>					
				</tr>
				<tr>
					<td class="table-label">证件号码</td>
					<td>310104198801010101</td>
					<td class="table-label">产品名称</td>
					<td>产品wy08</td>					
				</tr>
				<tr>
					<td class="table-label">申请额度</td>
					<td>10000</td>	
					<td class="table-label">进件机构</td>
					<td></td>		
				</tr>
				<tr>
					<td class="table-label">进件区域</td>
					<td></td>	
					<td class="table-label">行业</td>
					<td></td>		
				</tr>
				<tr>
					<td class="table-label">商圈</td>
					<td></td>	
					<td class="table-label">客户经理</td>
					<td></td>		
				</tr>
				<tr>
					<td class="table-label">审核人</td>
					<td></td>	
					<td class="table-label">审批人</td>
					<td></td>		
				</tr>
				<tr>
					<td class="table-label">分案客户经理</td>
					<td colspan="3"><select><option>---请选择---</option></select></td>		
				</tr>
			</table>	
			<div class="pagebar">			
				<div class="controlbtn">
					<a class="btn btn-info" href="javascript:void(0);" title="提交">提&nbsp;&nbsp;交</a>
					<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返&nbsp;&nbsp;回</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			
		</script>
	</body>
</html>