<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../static/js/date/lhgcore.js"></script>
		<script src="../../static/js/date/lhgcalendar.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>进件任务分案 / 资信评估模式规则维护</span>
		</div>
		<div class="pageTitle">
			资信评估模式规则维护
		</div>
		<div class="content">
			<form class="search">				
				<span>
					产品名称：<select><option>---请选择---</option></select>
				</span>
				<!-- <span>
					进件日期：<input type="text" onclick="J.calendar.get({type:'/'});"/>
				</span>	 -->				
				<span class="searchButton">
					<input type="button" class="btn btn-info" value="筛选"/>
				</span>
			</form>
			<table class="table-list">
				<colgroup>
					<col width="5%" />
					<col width="30%" />
					<col width="30%" />
					<col width="20%" />
					<col width="15%" />
				</colgroup>
				<tr>
					<th width="50"></th>
					<th>产品名称</th>
					<th>资信评估模式</th>
					<th>维护时间</th>
					<th>维护人</th>
				</tr>
			</table>
			<table class="table-list">
				<colgroup>			
					<col width="5%" />
					<col width="30%" />
					<col width="30%" />
					<col width="20%" />
					<col width="15%" />
				</colgroup>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" checked/></td>
					<td>产品wy08</td>
					<td>资信评估专家独立资信评估</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>产品wy00</td>
					<td>资信评估专家会审</td>
					<td>20150505</td>
					<td>admin</td>
				</tr>
			</table>
			<div class="pagebar">
				<div class="controlbtn">
					<a class="btn btn-info" href="javascript:void(0);" title="规则维护">规则维护</a>
					<a class="btn" href="javascript:void(0);" title="显示">显示</a>
				</div>
				<div class="page">
					<span>共<b>2</b>条数据，当前第<b>1</b>页</span>
					<a href="#" class="first"><img src="../../static/img/icon_button_first.png"/></a>
					<a href="#" class="previous"><img src="../../static/img/icon_button_previous.png"/></a>
					<input type="text"/>
					<input type="button" value="GO" class="go"/>
					<span>/页</span>	
					<a href="#" class="next"><img src="../../static/img/icon_button_next.png"/></a>
					<a href="#" class="end"><img src="../../static/img/icon_button_end.png"/></a>
				</div>
			</div>		
		</div>
	</body>
</html>