<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>远程授信系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/alert.css" rel="stylesheet" type="text/css" />
	<script src="../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../static/js/index.js"></script>
	<script src="../../static/js/util.js"></script><!-- html字符转义 -->
	<!--验证样式-->
	<link rel="stylesheet" href="../../static/css/validationEngine.jquery.css">
	<script src="../../static/js/jquery.validationEngine-zh_CN.js"></script> 
	<script src="../../static/js/jquery.validationEngine.js"></script>
</head>

<body>	
	<div style="margin:15px;">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">系统管理</a>/<a href="#">用户管理</a>/<a href="#">新增</a>
		</div>	
		<div class="row-fluid" >				
			<i class="icon-bookmark"></i><span class="titletip">用户信息</span>
			<form id="form_id" class="form-horizontal" method="POST" action="/System/new_user.json/{{pId}}">
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">
						<tr>
							<td class="table-label">登录名称<font class="red">*</font></td>
							<td width="36%">
								<input type="text" id="login_name" name="login_name" class="validate[required]"/>
							</td>
							<td class="table-label">邮箱地址</td>
							<td width="36%">
								<input type="text" id="email" name="email"/>
							</td>					
						</tr>
						<tr>
							<td class="table-label">用户类型</td>
							<td><select name="level" style="height:30px" onchange="selectUserType(this.value)">
								<option value="3">客户经理</option>
								<option value="1">普通专家</option>
								<option value="2">最终决策专家</option>

							</select></td>
							<td class="table-label">身份证号码<font class="red">*</font></td>
							<td><input type="text" value="" name="card_id" class="validate[required]"/></td>					
						</tr>
						<tr>
							<td class="table-label">登录密码<font class="red">*</font></td>
							<td>
								<input type="password" name="login_password" id="login_password" class="validate[required]">
							</td>
							<td class="table-label">确认密码<font class="red">*</font></td>
							<td>
								<input type="password" id="login_password2" name="login_password2" class="validate[required,equals[login_password]]"/>
							</td>						
						</tr>
						<tr>
							<td class="table-label">真实姓名<font class="red">*</font></td>
							<td>
								<input type="text" id="real_name" name="real_name" class="validate[required]"/>
							</td>	
							<td class="table-label">性别<font class="red">*</font></td>
							<td>
								<label><input type="radio" name="sex" value="1" checked />男<input type="radio" name="sex" value="0" />女</label>
							</td>												
						</tr>
						<tr>
							<td class="table-label">电话号码</td>
							<td><input type="text" id="mobile" name="mobile"/></td>
							<td class="table-label">是否激活</td>
							<td>
								<label><input type="radio" name="active" value="1" checked />是<input type="radio" name="active" value="0"/>否</label>
							</td>
						</tr>
											

						<tr id="expertInfo" style="display: none">
						<!-- 	<td class="table-label">现任职机构</td>
							<td><select id="org" name="org" style="height:30px">
			              	<script>document.write(js.lang.String.decodeHtml('{{"org_all"|dynDict("","")}}'))</script>
			              	</select></td> -->
							<td class="table-label">常驻地址</td>
							<td colspan="3"><input type="text" value="" name="address" style="width:500px"/></td>					
						</tr>
						<tr id="expertInfo" style="display: none">
							<td class="table-label">行业</td>
							<td><input type="text" value="" name="hy"/></td>
							<td class="table-label">区域</td>
							<td><input type="text" value="" name="qy"/></td>				
						</tr>
						<tr id="expertInfo" style="display: none">
							<td class="table-label">产品</td>
							<td><input type="text" value="" name="product"/></td>
							<td class="table-label">授信余额(万)</td>
							<td><input type="text" value="" name="balance"/></td>				
						</tr>
						<tr id="expertInfo" style="display: none">
							<td class="table-label">专业职称</td>
							<td><input type="text" value="" name="zyzc"/></td>
							<td class="table-label">现任职务</td>
							<td><input type="text" value="" name="xrzw"/></td>					
						</tr>
						<tr id="expertInfo" style="display: none">
							<td class="table-label">专家层级</td>
							<td><input type="text" value="" name="expert_level"/></td>
							<td class="table-label">授信评估权限</td>
							<td><input type="text" value="" name="approve_role"/></td>				
						</tr>
						<tr id="expertInfo" style="display: none">
							<td class="table-label">工作日</td>
							<td><input type="text" value="" name="gzr"/></td>
							<td class="table-label">工作时段</td>
							<td><input type="text" value="" name="gzsd"/></td>				
						</tr>
					</table>
					<table class="myTable" style="text-align:center;">
						<caption>角色</caption>
						<colgroup>
							<col width="10%">
							<col width="40%">
							<col width="10%">
							<col width="40%">
						</colgroup>
						<tr>
							<td class="table-label">选择角色</td>
							<td colspan="3" >
								<select name="roles" class="validate[required]" style="height:27px">
									<script>document.write(js.lang.String.decodeHtml('{{"role_all"|dynDict("","")}}'))</script>
								</select>
							</td>
						</tr>
					</table>
				</div>		
				<span class="point">*为必填字段</span><br/>
				<input id="id_save_button" type="button" value="提交" class="btn btn-info"/>
				<input class="btn" type="button" onclick="javascript:history.go(-1);" value="返回"/>
			</form>
		</div><!--/row-fluid -->
	</div><!--/content -->
	<script type="text/javascript">
		$(document).ready(function(){
			//前端验证
			$('#form_id').validationEngine();
			$("#id_save_button").click(function() {
				if(!submitFlag){
					alert("正在处理，请勿重复提交!");
					return;
				}
				submitFlag = false;
				// 前端验证 
				if($('#form_id').validationEngine('validate')){
					//submit
					$('#form_id').submit();
					submitFlag = true;
				}else{
					submitFlag = true;
				}
			});
		});

		function selectUserType(value){
			if(value!='3'){
				$("tr#expertInfo").css('display' ,'');
			}else{
				$("tr#expertInfo").css('display' ,'none');
			}
		}
	</script>
</body>
</html>
