<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>远程授信系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
	<link href="../../static/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/zTreeStyle/zTreeStyle.css" type="text/css">
	
	<script src="../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../static/js/jquery.json-2.4.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/script.js"></script>
	<script src="../../static/js/factory.js"></script>
	<script src="../../static/js/util.js"></script><!-- html字符转义 -->
	<script type="text/javascript" src="../../static/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.ztree.excheck-3.5.js"></script>
	
	<script type="text/javascript">
		function disableUser(type,user_id){
		    var url = "/System/disable_user.json/"+type+"/"+user_id;
		    $.ajax({
				url : url,
				type : "GET",
				success : function(data) {
					self.location.reload();
				}
			});
		}
	</script>
	<SCRIPT type="text/javascript">
        	var pId = "org_1";
        	function zTreeOnClick(event, treeId, treeNode) {
        		if(treeNode.type == "org"){
        			pId = "org_"+treeNode.id.split("_")[1]
        		}
        		else{
        			pId = "user_"+treeNode.id.split("_")[1]
        		}
                var childNodes = $.fn.zTree.getZTreeObj("org_user_tree").transformToArray(treeNode);
                childNodes.shift();
                var content = "";
                //表格赋值
                for (var i = 0; i < childNodes.length; i++) {
                	if(childNodes[i].type=="org"){
                		continue;
                	}
                    content += '<tr>'+
									'<td><input type="checkbox" onclick="changeColor(this)" name="checkbox"/></td>'+
									'<td><a href="#" onclick="iframe(\'System/edit_user.json/'+childNodes[i].id.split("_")[1]+'\')">'+childNodes[i].login_name+'</a></td>	'+						
									'<td>'+childNodes[i].real_name+'</td>';
					if(childNodes[i].sex == '1'){
						content += '<td>男</td>';
					}else{
						content += '<td>女</td>';
					}
					
					if(childNodes[i].active == '1'){
						content += '<td>激活</td>';
					}else{
						content += '<td>未激活</td>';
					}
					
					content += 		'<td>';
					
					if(childNodes[i].active == '1'){
						content += '<input type="button" class="btn btn-warning btn-mini" value="禁用" onclick="disableUser(0,'+childNodes[i].id.split("_")[1]+')"/>';
					}else{
						content += '<input type="button" class="btn btn-warning btn-mini" value="激活" onclick="disableUser(1,'+childNodes[i].id.split("_")[1]+')"/>';
					}
					content +=		'&nbsp;<input type="button" class="btn btn-warning btn-mini" value="密码重置"/>'+
									'&nbsp;<input type="button" class="btn btn-warning btn-mini" value="转移到用户" onclick="showDialog1('+childNodes[i].id.split("_")[1]+');"/>'+
									'&nbsp;<input type="button" class="btn btn-warning btn-mini" value="转移到机构" onclick="showDialog2('+childNodes[i].id.split("_")[1]+');"/>'+
					 				'</td>'+
								'</tr>	';
                }
                $("#uesr-list tbody").html(content);
                Frame();
            }
        	var org_user_tree_setting = {
    			data: {
    				simpleData: {
    					enable: true
    				},
    				key: {
    					name: "org_name"
    				}
    			},
    			async: {
    				enable: true,
    				url:"/System/org_user/org_user.json"
    			},
    			callback: {
    				onClick: zTreeOnClick
    			}
    		};
        	
        	$(document).ready(function(){						
    			$.fn.zTree.init($("#org_user_tree"), org_user_tree_setting);	
    			
    			$(".dialog").hide();
    		});
        	function new_user(){
        		var url = 'System/new_user.json/' + pId;
        		iframe(url);
        	}
        	
        	function showDialog1(id){
        		$("#user1").val(id);
    			$("#dialog1",window.location.document).show();
    		}
        	function showDialog2(id){
        		$("#user2").val(id);
    			$("#dialog2",window.location.document).show();
    		}
    		function hideDialog(){
    			$(".dialog").hide();
    		}
        </SCRIPT>	
</head>

<body onload="setTimeOut();">	
	<div style="margin:15px;">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">系统管理</a>/<a href="#">用户管理</a>
		</div>		
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<div class="row-fluid">
			<div class="span4">		
                <i class="icon-bookmark"></i><span class="titletip">架构列表</span>			
                <ul id="org_user_tree" class="ztree" style="height:400px;overflow:auto;border:1px solid #94c1dc;"></ul>	
            </div>
            <div class="span8" style="margin-top:25px;">
				<div style="margin-bottom:5px;">
					<a type="button" class="btn btn-info" href="#" onclick="new_user();">新增</a>	
				</div>
				<div style="border:1px solid #94c1dc;">				
					<table class="table-list" cellspacing="10" id="uesr-list">
						<thead>
							<tr>
								<th><input type="button" class="btn btn-info btn-mini" value="反选" style="margin:0;" onclick="ChkAllClick()"/></th>
								<th>登录名称</th>
								<th>真实姓名</th>
								<th>性别</th>						
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody class="center">
							
						</tbody>
					</table>
				</div>
			</div><!--/row-fluid -->
		</div><!--/content -->
	</div>
	
	<div class="dialog" id="dialog1" >
			<form id="form_id" class="dialog-box"  method="POST" action="/System/user/change_belong_user" style="width:50%;">
				<div class="dialog-top">
					转移到用户<span onclick="hideDialog()"></span>
				</div>
				<div class="dialog-content" style="width:100%;">
					<table >			
						<tr>
							<td>
								<input type="hidden" name="user_id" id="user1">
								<b>用户:</b>&nbsp;&nbsp;
									<select name="belong_user" style="height:30px;">
										<script>document.write(js.lang.String.decodeHtml('{{"user_all"|dynDict("","")}}'))</script>
									</select>
								&nbsp;&nbsp;
							</td>
						</tr>
					</table>
				</div>
				<div class="dialog-bottom">
					<input type="submit" class="btn btn-info" value="确定"/> 
					<input type="button" class="btn" value="取消" onclick="hideDialog()"/>
				</div>
			</form>
	</div>
	
	<div class="dialog" id="dialog2" >
			<form id="form_id" class="dialog-box"  method="POST" action="/System/user/change_belong_org" style="width:50%;">
				<div class="dialog-top">
					转移到机构<span onclick="hideDialog()"></span>
				</div>
				<div class="dialog-content" style="width:100%;">
					<table >			
						<tr>
							<td>
								<input type="hidden" name="user_id" id="user2">
								<b>机构:</b>&nbsp;&nbsp;
									<select name="belong_org" style="height:30px;">
										<script>document.write(js.lang.String.decodeHtml('{{"org_all"|dynDict("","")}}'))</script>
									</select>
								&nbsp;&nbsp;
							</td>
						</tr>
					</table>
				</div>
				<div class="dialog-bottom">
					<input type="submit" class="btn btn-info" value="确定"/> 
					<input type="button" class="btn" value="取消" onclick="hideDialog()"/>
				</div>
			</form>
	</div>
	
</body>
</html>
