<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>评估专家管理 / 专家资信评估权限管理 / 评估权限</span>
		</div>
		<div class="pageTitle">
			评估权限--专家1
		</div>
		<div class="content">
			<table class="myTable">
				<caption>评估权限</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">权限1</td>
					<td><input type="checkbox"/></td>					
					<td class="table-label">权限2</td>
					<td><input type="checkbox"/></td>				
				</tr>
				<tr>
					<td class="table-label">权限3</td>
					<td><input type="checkbox"/></td>					
					<td class="table-label">权限4</td>
					<td><input type="checkbox"/></td>				
				</tr>
				<tr>
					<td class="table-label">权限5</td>
					<td><input type="checkbox"/></td>					
					<td class="table-label">权限6</td>
					<td><input type="checkbox"/></td>				
				</tr>
			</table>
			<div class="pagebar">			
				<div class="controlbtn">
					<a class="btn btn-info" href="javascript:void(0);" title="提交">提&nbsp;&nbsp;交</a>
					<a class="btn" href="javascript:void(0);" onclick="javascript:history.go(-1);" title="返回">返&nbsp;&nbsp;回</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		</script>
	</body>
</html>