<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
				<!--验证样式-->
		<link rel="stylesheet" href="../../static/css/validationEngine.jquery.css">
		<script src="../../static/js/jquery.validationEngine-zh_CN.js"></script> 
		<script src="../../static/js/jquery.validationEngine.js"></script>	
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>评估专家管理 / 专家信息管理 / 新增</span>
		</div>
		<div class="pageTitle">
			新增
		</div>
		<form id="addUserForm" action="/pgzjgl/new_zjxxgl_save" method="post">
		<div class="content">
			<table class="myTable">
				<caption>基本信息</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">姓名</td>
					<td><input type="text" value="" name="user_name" class="validate[required]"/></td>
					<td class="table-label">性别</td>
					<td>
						<label><input type="radio" name="sex" value="1" checked/>男</label>
						<label><input type="radio" name="sex" value="2"/>女</label>
					</td>					
				</tr>
				<tr>
					<td class="table-label">身份证号码</td>
					<td><input type="text" value="" name="card_id" class="validate[required]"/></td>
					<td class="table-label">联系电话</td>
					<td><input type="text" value="" name="phone"/></td>					
				</tr>
				<tr>
					<td class="table-label">所属机构</td>
					<td><select><option>---请选择---</option></td>
					<td class="table-label">专家权限</td>
					<td><input type="text" value="" name="role"/>万</td>					
				</tr>
				<tr>
					<td class="table-label">专家级别</td>
					<td><select name="level"><option value="1">普通专家</option>
						<option value="2">最终决策专家</option>
					</select></td>
					<td></td>
					<td></td>					
				</tr>
			</table>
			<table class="myTable">
				<caption>资质信息</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">专家资质</td>
					<td><input type="text" value="" name="zjzz"/></td>
					<td class="table-label">说明</td>
					<td><input type="text" value="" name="remark1"/></td>					
				</tr>
			</table>
			<table class="myTable">
				<caption>权限信息</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">专家权限</td>
					<td><input type="text" value="" name="zjqx"/></td>
					<td class="table-label">说明</td>
					<td><input type="text" value="" name="remark2"/></td>					
				</tr>
			</table>
			<table class="myTable">
				<caption>专家对应编号信息</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">编号信息</td>
					<td><input type="text" value="" name="bhxx"/></td>
					<td class="table-label">说明</td>
					<td><input type="text" value="" name="remark3"/></td>					
				</tr>
			</table>
			<div class="pagebar">			
				<div class="controlbtn">
					<a class="btn btn-info" onclick="submitForm()" title="提交">提&nbsp;&nbsp;交</a>
					<a class="btn" href="javascript:void(0);" onclick="javascript:history.go(-1);" title="返回">返&nbsp;&nbsp;回</a>
				</div>
			</div>
		</div>
	</form>
		<script type="text/javascript">
			function submitForm(){
				//前端验证
				$('#addUserForm').validationEngine();
				if($('#addUserForm').validationEngine('validate')){
					document.getElementById('addUserForm').submit();
				}
			}
		</script>
	</body>
</html>