<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>评估专家管理 / 评审专家绩效管理 / 显示绩效</span>
		</div>
		<div class="pageTitle">
			显示绩效--专家1
		</div>
		<div class="content">
			<table class="table-list">
				<colgroup>
					<col width="5%" />
					<col width="20%" />
					<col width="20%" />
					<col width="20%" />
					<col width="20%" />
					<col width="15%" />
				</colgroup>
				<tr>
					<th width="50"></th>
					<th>专家编号</th>
					<th>专家名称</th>
					<th>绩效时间</th>
					<th>绩效结果</th>
					<th>创建人</th>
				</tr>
			</table>
			<table class="table-list">
				<colgroup>
					<col width="5%" />
					<col width="20%" />
					<col width="20%" />
					<col width="20%" />
					<col width="20%" />
					<col width="15%" />
				</colgroup>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" checked/></td>
					<td>001</td>
					<td>专家1</td>
					<td>20150506</td>
					<td><span class="label label-success">良好</span></td>
					<td>admin</td>
				</tr>
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" /></td>
					<td>001</td>
					<td>专家1</td>
					<td>20150406</td>
					<td><span class="label label-important">不合格</span></td>
					<td>admin</td>
				</tr>
			</table>
			<div class="pagebar">
				<div class="controlbtn">
					<a class="btn btn-info" href="javascript:void(0);" title="新增绩效" onclick="">新增绩效</a>
					<a class="btn" href="javascript:void(0);" title="绩效详情" onclick="">绩效详情</a>
				</div>
				<div class="page">
					<span>共<b>1</b>条数据，当前第<b>1</b>页</span>
					<a href="#" class="first"><img src="../../static/img/icon_button_first.png"/></a>
					<a href="#" class="previous"><img src="../../static/img/icon_button_previous.png"/></a>
					<input type="text"/>
					<input type="button" value="GO" class="go"/>
					<span>/页</span>	
					<a href="#" class="next"><img src="../../static/img/icon_button_next.png"/></a>
					<a href="#" class="end"><img src="../../static/img/icon_button_end.png"/></a>
				</div>
			</div>		
		</div>
		<script type="text/javascript">
		</script>
	</body>
</html>