<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>评估专家管理 / 专家信息管理</span>
		</div>
		<div class="pageTitle">
			专家信息管理
		</div>
		<div class="content">
			<form class="search">				
				<span>
					专家编号：<input type="text"/>
				</span>
				<span>
					专家名称：<input type="text"/>
				</span>		
				<span class="searchButton">
					<input type="button" class="btn btn-info" value="筛选"/>
				</span>
			</form>
			<table class="table-list">
				<colgroup>
					<col width="5%" />
					<col width="20%" />
					<col width="30%" />
					<col width="30%" />
					<col width="15%" />
				</colgroup>
				<tr>
					<th width="50"></th>
					<th>专家编号</th>
					<th>专家名称</th>
					<th>身份证号</th>
					<th>性别</th>
				</tr>
			</table>
			<table class="table-list">
				<colgroup>
					<col width="5%" />
					<col width="20%" />
					<col width="30%" />
					<col width="30%" />
					<col width="15%" />
				</colgroup>
				{%- for obj in user%}
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" onclick="selectbelong({{obj.id}})"/></td>
					<td>{{obj.id}}</td>
					<td>{{obj.real_name}}</td>
					<td>{{obj.card_id}}</td>
					<td>{%- if obj.sex=='1'%}男{%- else %}女{%- endif%}</td>
				</tr>
				{%-endfor%}
			</table>
			<div class="pagebar">
				<input type="hidden" id="hiddenId"/>
				<div class="controlbtn">
					<a class="btn btn-info" href="javascript:void(0);" title="新增" onclick="iframe('/pgzjgl/new_zjxxgl')">新增</a>
					<a class="btn btn-info" href="javascript:void(0);" title="编辑" onclick="iframeById('/pgzjgl/edit_zjxxgl',document.getElementById('hiddenId').value)">编辑</a>
					<a class="btn" href="javascript:void(0);" title="显示" onclick="iframeById('/pgzjgl/show_zjxxgl',document.getElementById('hiddenId').value)">显示</a>
				</div>
				<div class="page">
					<span>共<b>1</b>条数据，当前第<b>1</b>页</span>
					<a href="#" class="first"><img src="../../static/img/icon_button_first.png"/></a>
					<a href="#" class="previous"><img src="../../static/img/icon_button_previous.png"/></a>
					<input type="text"/>
					<input type="button" value="GO" class="go"/>
					<span>/页</span>	
					<a href="#" class="next"><img src="../../static/img/icon_button_next.png"/></a>
					<a href="#" class="end"><img src="../../static/img/icon_button_end.png"/></a>
				</div>
			</div>		
		</div>
		<script type="text/javascript">
		function selectbelong(id){
				document.getElementById("hiddenId").value=id;
			}
			//切换iframe里的内容用于iframe内部页面	
			function iframeById(page,id){
				if(id==""){
					alert("请选择记录");
					return;
				}
				var url = page+"/"+id;
			   window.location.href =  url;
			}
		</script>
	</body>
</html>