<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap_xh.css" rel="stylesheet">
	<link href="/static/css/main_xh.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
	<style type="text/css">	
		input.btn-mini{width:20px;margin-top:0px;}	
		input[type=text]{width:120px;}
		select{width:100px;}
	</style>
</head>
<body onload="sub();datepicker();setTimeOut();parent.parent.scroll(0,0);">
	<form class="content" method="post" action="/Process/dqdc/new_zkqd">
		{%- with messages = get_flashed_messages(with_categories=true) %}
			{%- if messages %}
			{%- for category, message in messages %}
			<div class="alert alert-{{category}}">
				{{message}}
			</div>
			{%- endfor %}
			{%- endif %}
		{%- endwith %}
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" id="fdcxd" data-toggle="tab" onclick="$('#tab1').attr('class','tab-pane active');$('#tab2').attr('class','tab-pane');doubleIframe('dqdcXed_zcfzb');">应付账款详单</a></li>
				<li><a href="#tab2" data-toggle="tab" onclick="$('#tab1').attr('class','tab-pane');$('#tab2').attr('class','tab-pane active');doubleIframe('dqdcXed_zcfzb');">应收账款详单</a></li>
			</ul>						
			<div class="tab-content">
				<!--*********************************应付账款详单*******************************************-->
				<div class="tab-pane active" id="tab1">
					<i class="icon-bookmark"></i><span class="titletip">应付账款详单</span>		
					<input type="button" value="+" onclick="addTd('yfzkxd','dqdcXed_zcfzb')" class="btn btn-info btn-mini" />
					<input type="button" value="-" onclick="removeTd('yfzkxd','dqdcXed_zcfzb');sub()" class="btn btn-info btn-mini" />	
					<div class="divBorder">	
						<table class="table-list" cellspacing="10" id="yfzkxd">				
							<tr>
								<th>应付对象</th>  
								<th>欠款日期</th>
								<th>应付款日期</th>	
								<th>应付金额</th>						
								<th>应付类别</th>
								<th>应付对象联系方式</th>						
								<th>关系/生意模式</th>
							</tr> 
							{%- for obj in accounts_list %}
								{%- if obj.mode_type==1%}
								<tr class="center">
									<td><input type="text" name="name" class="tbInput" value="{{obj.name}}" /></td>
									<td><input type="text" name="occur_date" value="{{obj.occur_date}}" class='datepicker' data-date-format='yyyy-mm-dd' readonly/></td>
									<td><input type="text" name="deadline" value="{{obj.deadline}}" class='datepicker' data-date-format='yyyy-mm-dd' readonly/></td>
									<td><input type="text" name="original_price" class="subData1" value="{{obj.original_price}}" /></td>
									<td>
									<select name="pay_type" value="{{obj.pay_type}}" >
										{%- if obj.pay_type=='现金'%}
										<option value='现金' selected>现金</option>
										{%- else %}
										<option value='现金'>现金</option>
										{%- endif %}
										{%- if obj.pay_type=='预付款'%}
										<option value='预付款' selected>预付款</option>
										{%- else %}
										<option value='预付款'>预付款</option>
										{%- endif %}
										{%- if obj.pay_type=='赊账'%}
										<option value='赊账' selected>赊账</option>
										{%- else %}
										<option value='赊账'>赊账</option>
										{%- endif %}
										{%- if obj.pay_type=='短期票据'%}
										<option value='短期票据' selected>短期票据</option>
										{%- else %}
										<option value='短期票据'>短期票据</option>
										{%- endif %}
										{%- if obj.pay_type=='长期票据'%}
										<option value='长期票据' selected>长期票据</option>
										{%- else %}
										<option value='长期票据'>长期票据</option>
										{%- endif %}
									</select>
									</td>
									<td><input type="text" name="present_price" class="tbInput" value="{{obj.present_price}}" /></td>
									<td><input type="text" name="cooperation_history" class="tbInput" value="{{obj.cooperation_history}}" />
										<input type="hidden" name="mode_type" class="tbInput" value="{{obj.mode_type}}"/></td>
								</tr>
								{%- endif%}	
							{%- endfor %}								
						</table>
						<table id="kcxx" class="table-list">
						<tr>
							<th style="border-top:none;">
								<b>合计</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;						
								总金额:<span id="sub1"></span>
							</th>
						</tr>		
					</table>
					</div>
				</div><!--/应付账款详单-->

				<!--**************************************应收账款详单**************************************-->
				<div class="tab-pane" id="tab2">
					<i class="icon-bookmark"></i><span class="titletip">应收账款详单</span>		
					<input type="button" value="+" onclick="addTd('yszkxd','dqdcXed_zcfzb')" class="btn btn-info btn-mini" />
					<input type="button" value="-" onclick="removeTd('yszkxd','dqdcXed_zcfzb');sub()" class="btn btn-info btn-mini" />
							
					<div class="divBorder">	
						<table class="table-list" cellspacing="10" id="yszkxd">				
							<tr>
								<th>应收对象</th>  
								<th>欠款日期</th>
								<th>应还款日期</th>	
								<th>应收金额</th>						
								<th>应收类别</th>
								<th>应收对象联系方式</th>						
								<th>关系/生意模式</th>
							</tr> 
							{%- for obj in accounts_list %}
								{%- if obj.mode_type==2%}
								<tr class="center">
									<td><input type="text" name="name" class="tbInput" value="{{obj.name}}" /></td>
									<td><input type="text" name="occur_date" value="{{obj.occur_date}}" class='datepicker' data-date-format='yyyy-mm-dd' readonly/></td>
									<td><input type="text" name="deadline" value="{{obj.deadline}}" class='datepicker' data-date-format='yyyy-mm-dd' readonly/></td>
									<td><input type="text" name="original_price" class="subData2" value="{{obj.original_price}}" /></td>
									<td>
									<select name="pay_type" value="{{obj.pay_type}}" >
										{%- if obj.pay_type=='现金'%}
										<option value='现金' selected>现金</option>
										{%- else %}
										<option value='现金'>现金</option>
										{%- endif %}
										{%- if obj.pay_type=='预付款'%}
										<option value='预付款' selected>预付款</option>
										{%- else %}
										<option value='预付款'>预付款</option>
										{%- endif %}
										{%- if obj.pay_type=='赊账'%}
										<option value='赊账' selected>赊账</option>
										{%- else %}
										<option value='赊账'>赊账</option>
										{%- endif %}
										{%- if obj.pay_type=='短期票据'%}
										<option value='短期票据' selected>短期票据</option>
										{%- else %}
										<option value='短期票据'>短期票据</option>
										{%- endif %}
										{%- if obj.pay_type=='长期票据'%}
										<option value='长期票据' selected>长期票据</option>
										{%- else %}
										<option value='长期票据'>长期票据</option>
										{%- endif %}
									</select>
									</td>
									<td><input type="text" name="present_price" class="tbInput" value="{{obj.present_price}}" /></td>
									<td><input type="text" name="cooperation_history" class="tbInput" value="{{obj.cooperation_history}}" />
										<input type="hidden" name="mode_type" class="tbInput" value="{{obj.mode_type}}"/></td>

								</tr>	
								{%- endif%}
							{%- endfor %}		
						</table>
						<table id="kcxx" class="table-list">
						<tr>
							<th style="border-top:none;">
								<b>合计</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;						
								总金额:<span id="sub2"></span>
							</th>
						</tr>		
					</table>
					</div>
					<input name="hiddenId" type="hidden" value="{{id}}"/>

				</div><!--应收账款详单-->									
			</div><!-- tabContent -->
		</div>
		<!-- <input type="submit" value="保存" class="btn btn-info"/> -->
	</form>

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		function sub(){
			//var num=$(".tbData").length;			
			//$("#sub1").text("总笔数："+num);
			for(i=1;i<3;i++){
				var sum=0;						
				$.each($(".subData"+i),function(){ 
					if(this.value=="")
						sum=sum;
					else
						sum += parseFloat(this.value);					
						$("#sub"+i).html(sum+"（<span class='je'>"+hjje($("#sub"+i),sum)+"</span>）"); 	
				}); 
			}
		}
	</script>
</body>
</html>
