<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap_xh.css" rel="stylesheet">
	<link href="/static/css/main_xh.css" rel="stylesheet">
	<style type="text/css">		
		input.btn-mini{width:20px;margin-top:0px;}	
	</style>
</head>

<body onload="sub();$('input[name]').click();setTimeOut();parent.parent.scroll(0,0);">	
	<form class="content" method="POST" action="/Process/dqdc/new_kc/{{loan_apply_id}}">
		{%- with messages = get_flashed_messages(with_categories=true) %}
			{%- if messages %}
			{%- for category, message in messages %}
			<div class="alert alert-{{category}}">
				{{message}}
			</div>
			{%- endfor %}
			{%- endif %}
		{%- endwith %}
	<!--*****************************************存货**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">存货清单</span>
		<input type="button" value="+" onclick="addTd('kcxx','dqdcXed_zcfzb')" class="btn btn-info btn-mini" />
		<input type="button" value="-" onclick="removeTd('kcxx','dqdcXed_zcfzb');sub()" class="btn btn-info btn-mini" />
		<div class="divBorder">	
			<table id="kcxx" class="table-list">
				<tr class="font-small">
					<th>货物名称</th>
					<th>数量</th>
					<th>买进单价</th>							
					<th>买进总价值</th>						
				</tr>
				{%- for obj in stocks %}
				<tr class="center">
					<td>
						<span id="name">	
							<input type="text" name="name" value="{{obj.name}}" onchange="spryMaxLength(this,32)"/><br/>&nbsp;
							<span class="errorInfo">字符数不得大于32</span>
						</span>
					</td>	
					<td>
						<span>	
							<input type="text" name="amount" value="{{obj.amount}}" class="subData1" onKeyUp="value=value.replace(/\D/g,'')" maxlength="32" onblur="mjzjz(this,'amount','purchase_price','purchase_total_price');sub()"/><br/>&nbsp;
						</span>
					</td>						
					<td>
						<span>	
							<input type="text" name="purchase_price" value="{{obj.purchase_price}}" onkeyup="setJe(this)" onclick="setJe(this)" maxlength="18" onblur="mjzjz(this,'amount','purchase_price','purchase_total_price');sub()"/><br/>
							<span class="je">人民币</span>	
							<span class="errorInfo"></span>							
						</span>
					</td>
					<td>
						<span>	
							<input type="text" name="purchase_total_price" value="{{obj.purchase_total_price}}" class="subData2" onclick="setJe(this)" value="0" readonly/><br/>
							<span class="je">人民币</span>	
							<span class="errorInfo"></span>							
						</span>
					</td>														
				</tr>
				{%- endfor %}				
			</table>
			<table id="kcxx" class="table-list">
				<tr>
					<th style="border-top:none;">
						<b>合计</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						数量:<span id="sub1"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						总价值:<span id="sub2"></span>
					</th>
				</tr>		
			</table>
		</div>
		<input type="submit" value="保存" class="btn btn-info"/>
		<!--
		<input type="button" value="报表" class="btn btn-info" onclick="window.open('/report/print_stock/{{loan_apply_id}}')"/>
		-->
		
	</form>

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript">	
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		function mjzjz(obj,name1,name2,sumname){
			var sum=0;
			var a=$(obj).parent().parent().parent().find("input[name="+name1+"]").val();
			var b=$(obj).parent().parent().parent().find("input[name="+name2+"]").val();
			if(a==""){a=0;}
			else{a=parseInt(a);}
			if(b==""){b=0;}
			else{b=parseFloat(b);}
			sum=a*b;
			$(obj).parent().parent().parent().find("input[name="+sumname+"]").val(sum);
			$(obj).parent().parent().parent().find("input[name="+sumname+"]").click();
		}
		function sub(){
			//var num=$(".tbData").length;			
			//$("#sub1").text("总笔数："+num);
			for(i=1;i<3;i++){
				var sum=0;	
				if($(".subData"+i).length==0){
					if(i==1)
						$("#sub"+i).html(0); 
					else
						$("#sub"+i).html(0+"（<span class='je'>"+hjje($("#sub"+i),0)+"</span>）"); 	
				}
				else{
					$.each($(".subData"+i),function(key,val){ 
						if(this.value=="")
							sum=sum;
						else
							sum += parseFloat(this.value);
						if(i==1)
							$("#sub"+i).html(sum); 
						else
							$("#sub"+i).html(sum+"（<span class='je'>"+hjje($("#sub"+i),sum)+"</span>）"); 	
					}); 
				}
			}
		}
	</script>
</body>
</html>
