<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap_xh.css" rel="stylesheet">
	<link href="/static/css/main_xh.css" rel="stylesheet">
	<script type="text/javascript">
		
	</script>
		
	
</head>

<body onload="">
<div class="well place">			
			<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">贷前调查</a>
		</div>		
	<div style="position:absolute;z-index:0;left:20px;right:20px;margin-bottom:10px;">
			
		<div class="row-fluid">			
			<form>
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">
						<tr>
							<td class="table-label">贷款编号</td>
							<td width="120px">{{info.id}}</td>
							<td class="table-label">客户名称</td>
							<td>{{info.customer_name}}</td>

						</tr>														
					</table>
				</div>														
			</form>
			<!-- 一级tab -->
			<ul id="tags" class="tags">	
				{%- for obj in sc_excel_table_contents %}			
					<li class="selectTag">
						<a onclick="selectTag('tagContent1',this);
						$('#dqdcXed_zcfzb').attr('src','/Process/dqdc/show_excel.page/{{info.id}}/{{obj.sheet_type}}')" href="javascript:void(0)">{{obj.sheet_name}}</a> 
					</li>
				{%- endfor %}
				<li class="selectTag">
						<a onclick="selectTag('tagContent1',this);
						$('#dqdcXed_zcfzb').attr('src','/xxlr/image_list.page/{{info.id}}/1/readonly')" href="javascript:void(0)">影像资料</a> 
					</li>
				<li class="selectTag">
						<a onclick="selectTag('tagContent1',this);
						$('#dqdcXed_zcfzb').attr('src','/Process/dqdc/show_advice.page/{{info.id}}')" href="javascript:void(0)">专家建议</a> 
					</li>
			</ul>
			<!-- 一级content -->
			<div id="tagContent" class="Content">
<!-- ************************************************第二个标签的内容*************************************************** -->
				{%- if sc_excel_table_contents%}
				<div class="tagContent selectTag" id="tagContent1">
					<iframe frameborder="0" width="100%;" id="dqdcXed_zcfzb" src="/Process/dqdc/show_excel.page/{{info.id}}/1" style="height:350px;"></iframe>
				</div><!-- /资产负债表 -->	
				{%- else%}	
				<div class="tagContent selectTag" id="tagContent1">
					<iframe frameborder="0" width="100%;" id="dqdcXed_zcfzb" src="/xxlr/image_list.page/{{info.id}}/1/readonly" style="height:350px;"></iframe>
				</div><!-- /专家建议 -->
				{%- endif%}	
			</div><!-- /tagContent -->	
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
