<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="/static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/index.js"></script>
		<!--日历-->
		<script src="/static/js/date/lhgcore.js"></script>
		<script src="/static/js/date/lhgcalendar.js"></script>
		<style type="text/css">
		</style>
	</head>
	<body onload="setTimeOut();">	
		<form id="submitForm" action="/Process/dqdc/save_advice/{{loan_apply_id}}" method="POST">
			{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<table class="myTable">
			<caption>评估模型</caption>
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tr>
					<td class="table-label">模型授信额度</td>
					{%- if score%}
					<td><span  style="display:block;width:100px;float:left;">{{score.total_approve}}元</span>
					<input type="button" class="btn btn-info" onclick="iframe('/mxpg/show_pgbg/{{score.application_id}}/readonly')" value="查询模型结果"></input>
					</td>
					{%- else%}		
					<td>0元</td>
					{%- endif%}
				</tr>
		</table>
			<table class="myTable">
				
				<caption>专家建议</caption>
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tr>
					<td class="table-label">授信结果</td>
					<td><select id="result" name="result" value="{{rcs.approve_result}}">
							<option value="1">同意发放</option>
							<option value="2">拒绝发放</option>
							<option value="3">补充调查</option>
					</td>
					<td class="table-label">授信额度</td>
					<td><input type="text" id="je" name="je" value="{{rcs.approve_ed}}">元</td>					
				</tr>
				<tr>
					<td class="table-label">授信建议</td>
					<td colspan="3"><textarea  id="advice" name="advice"> {{rcs.approve_advice}}</textarea>
					</td>
			
				</tr>

			</table>	
		</form>
			<div class="pagebar">			
				<div class="controlbtn">
					{%- if not rcs.approve_result%}
					<input type="button" class="btn btn-info"  onclick="save()" value="提交"/>
					{%- endif%}
					<input type="button" class="btn" onclick="parent.location.href='/zjzxpggl/yjsrw/1'" value="返回"/>
				</div>
			</div>
		<script type="text/javascript">
			$(document).ready(function(){
            

            })

            function save(){
            	$("#submitForm").submit();
            }
		</script>
	</body>
</html>