<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>客户资料调阅 / 客户资料</span>
		</div>
		<div class="pageTitle">
			客户资料--张三
		</div>
		<div class="content">			
			<table class="myTable">
				<caption>客户基本信息资料</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">客户号</td>
					<td>01</td>
					<td class="table-label">中文姓名</td>
					<td>张三</td>					
				</tr>
				<tr>
					<td class="table-label">拼音/英文姓名</td>
					<td>ZhangSan</td>
					<td class="table-label">国籍</td>
					<td>中国</td>					
				</tr>
				<tr>
					<td class="table-label">性别</td>
					<td>男</td>	
					<td class="table-label">出生日期</td>
					<td>19880623</td>		
				</tr>
				<tr>
					<td class="table-label">身份证件</td>
					<td>身份证</td>	
					<td class="table-label">证件号码</td>
					<td>3201456954622656561</td>		
				</tr>
				<tr>
					<td class="table-label">手机</td>
					<td>13402565230</td>	
					<td class="table-label">住宅电话</td>
					<td>051986654230</td>		
				</tr>
			</table>	
			<div class="pagebar">			
				<div class="controlbtn">
					<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返&nbsp;&nbsp;回</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			
		</script>
	</body>
</html>