<!DOCTYPE html>
<html lang="zh-cn">
    <head>	
        <meta charset="utf-8">
        <title>小微贷款业务管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
        <meta name="author" content="Muhammad Usman">

        <!-- The styles -->
        <link href="../../static/css/bootstrap.css" rel="stylesheet">
        <link href="../../static/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/zTreeStyle/zTreeStyle.css" type="text/css">
        <style type="text/css">
            input[type=text]{width:85%;}
        </style>
        <script src="../../static/js/jquery-1.7.2.min.js"></script>
        <script src="../../static/js/jquery.json-2.4.min.js"></script>
        <script src="../../static/js/index.js"></script>
        <script src="../../static/js/factory.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../static/js/jquery.ztree.core-3.5.js"></script>
        <script type="text/javascript" src="../../static/js/jquery.ztree.excheck-3.5.js"></script>
        <script src="../../static/js/system.js" type="text/javascript"></script>
        <script src="../../static/js/script.js"></script>
        <SCRIPT type="text/javascript">
      	//树节点单击回调
		var role_id = 0;
		function zTreeOnClick(event, treeId, treeNode) {
			role_id = treeNode.id;
			var treeObj = $.fn.zTree.getZTreeObj("menu_tree");
			treeObj.setting.async.url="/System/menu/tree.json/"+role_id;
			treeObj.reAsyncChildNodes(null, "refresh");
		};

		var role_tree_setting = {
			data: {
				simpleData: {
					enable: true
				},
				key: {
					name: "role_name"
				}
			},
			async: {
				enable: true,
				url:"/System/role/tree.json"
			},
			callback: {
				onClick: zTreeOnClick
			}
		};		
		
		var menu_tree_setting = {
			data: {
				simpleData: {
					enable: true
				}
			},
			check: {
				enable: true,
				chkboxType:{ "Y":"ps", "N":"ps"}
			},
			async: {
				enable: true,
				url:"/System/menu/tree.json/0"
			}
		};		
		$(document).ready(function(){					
			$.fn.zTree.init($("#role_tree"), role_tree_setting);		
			$.fn.zTree.init($("#menu_tree"), menu_tree_setting);	
		});
        </SCRIPT>	
    </head>

    <body onload="setTimeOut();">	
        <div style="margin:15px;"class="content">
            <div class="well place">			
                <i class="icon-home"></i><a href="#">系统管理</a>/<a href="#">权限管理</a>
            </div>	
            {%- with messages = get_flashed_messages(with_categories=true) %}
            {%- if messages %}
            {%- for category, message in messages %}
            <div class="alert alert-{{category}}">
                {{message}}
            </div>
            {%- endfor %}
            {%- endif %}
            {%- endwith %}
            
            
            <div class="row-fluid">	
            	<div class="span4">		
                    <i class="icon-bookmark"></i><span class="titletip">角色列表</span>			
                    <ul id="role_tree" class="ztree" style="height:350px;overflow:auto;border:1px solid #94c1dc;"></ul>	
                </div>
                <div class="span8">		
                    <i class="icon-bookmark"></i><span class="titletip">模块列表</span>			
                    <ul id="menu_tree" class="ztree" style="height:350px;overflow:auto;border:1px solid #94c1dc;"></ul>	
                </div>	
            </div>
            <div class="pagebar">			
			<div class="controlbtn">
				<input id="id_save_button" type="button" class="btn btn-info" value="保存" />	
			</div>
		</div>
        </div><!--/content -->
        
        <script type="text/javascript">
			$(document).ready(function(){
				//前端验证
				$("#id_save_button").click(function() {
					if(!submitFlag){
						alert("正在处理，请勿重复提交!");
						return;
					}
					submitFlag = false;
					if(role_id == 0){
						alert("请选择角色!");
						submitFlag = true;
						return;
					}
					var treeObj=$.fn.zTree.getZTreeObj("menu_tree");
		            nodes = {'nodesJsonStr':$.toJSON(treeObj.getCheckedNodes(true))}
					var url = "/System/accessright/save.json/"+role_id;
					$.ajax({
						url : url,
						type : "post",
						data : nodes,
						success : function(data) {
							window.location.reload(true);
							submitFlag = true;
						}
					});
				});
			});
		</script>
		
    </body>
</html>
