<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../static/css/main.css" rel="stylesheet">	
	<link href="../../static/css/alert.css" rel="stylesheet" type="text/css" />
	<script src="../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../static/js/index.js"></script>
	<!--验证样式-->
	<link rel="stylesheet" href="../../static/css/validationEngine.jquery.css">
	<script src="../../static/js/jquery.validationEngine-zh_CN.js"></script> 
	<script src="../../static/js/jquery.validationEngine.js"></script>	
	
</head>

<body>	
	<div style="margin:15px;"class="content">
	
		<div class="well place">			
			<i class="icon-home"></i><a href="#">修改密码</a>
		</div>		
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}" style="width:245px;margin:-10px auto 10px;">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<div class="row-fluid">
		
			<form id="form_id" method="POST" action="/change_password/{{current_user.id}}" target="_parent">
			  <div style="border:1px solid #94c1dc;">
				<table class="table-list">
					<tr>
						<td class="table-label">原始密码*</td>
						<td>						
							<input type="password" name="old_password" class="validate[required]"/>
						</td>
					</tr>
					<tr>
						<td class="table-label">新密码*</td>
						<td>
							<input type="password" name="login_password" id="login_password" class="validate[required]">
						</td>
					</tr>
					<tr>
						<td class="table-label">确认新密码*</td>
						<td>
							<input type="password" id="login_password2" class="validate[required,equals[login_password]]"/>
						</td>	
					</tr>									
				</table>
			  </div>
			  <br>
			  <input type="submit" class="btn btn-info" value="提交"/>
			</form>
		</div><!--/row-fluid -->
	</div><!--/content -->
	<script type="text/javascript">
		$(document).ready(function(){
			//前端验证
			$('#form_id').validationEngine();
			$("#id_save_button").click(function() {
				if(!submitFlag){
					alert("正在处理，请勿重复提交!");
					return;
				}
				submitFlag = false;
				// 前端验证 
				if($('#form_id').validationEngine('validate')){
					//submit
					$('#form_id').submit();
					submitFlag = true;
				}else{
					submitFlag = true;
				}
			});
		});
	</script>
</body>
</html>
