<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>乾康远程授信系统</title>
		<link href="../static/css/login.css" rel="stylesheet" type="text/css" />	
		<link href="../../static/css/alert.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--验证样式-->
		<link rel="stylesheet" href="../../static/css/validationEngine.jquery.css">
		<script src="../../static/js/jquery.validationEngine-zh_CN.js"></script> 
		<script src="../../static/js/jquery.validationEngine.js"></script>	
	</head>
	<body onload="setTimeOut();">
		<div class="loginBox">
			<form id="form_id" class="login_form" action="/login_wel" method="POST">
				<img src="../static/img/login.png"/>				
				<div class="login">
					<h1>乾康远程授信系统</h1>
					<input type="text" placeholder="用户名" id="login_name" name="login_name" 
						style="background-image:url('../static/img/login1.png');" class="validate[required]"/>
					<input type="password" placeholder="密码" id="login_password" name="login_password" 
						style="background-image:url('../static/img/login2.png');" class="validate[required]"/>
					<input type="submit" class="login_btn" value="登  录">
					{%- with messages = get_flashed_messages(with_categories=true) %}
					  	{%- if messages %}
				    	{%- for category, message in messages %}
				    	<div class="alert alert-{{category}}">
				      		{{message}}
				      	</div>
				    	{%- endfor %}
					  	{%- endif %}
					{%- endwith %}
				</div>
			</form>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				//前端验证
				$('#form_id').validationEngine();
				$("#id_save_button").click(function() {
					if(!submitFlag){
						alert("正在处理，请勿重复提交!");
						return;
					}
					submitFlag = false;
					// 前端验证 
					if($('#form_id').validationEngine('validate')){
						//submit
						$('#form_id').submit();
						submitFlag = true;
					}else{
						submitFlag = true;
					}
				});
			});
			
		</script>
	</body>
</html>