<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../static/css/main.css" rel="stylesheet" type="text/css" />
		<link href="../static/css/welcome.css" rel="stylesheet" type="text/css" />
		<script src="../static/js/jquery-1.7.2.min.js"></script>
		<script src="../static/js/index.js"></script>
		<style type="text/css">			
			.content{margin-top:60px;}
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>系统首页</span>
		</div>		
		<div class="content">
			<!--**********左侧待办事项**************-->
			<div class="workPlan">
				<!-- <ul class="tab">
					<li class="active" onclick="changeTab(this,'tab0')"><a href="javascript:void(0)">今天任务</a></li>
					<li onclick="changeTab(this,'tab1')"><a href="javascript:void(0)">明天</a></li>
					<li onclick="changeTab(this,'tab2')"><a href="javascript:void(0)">后天</a></li>
					<li onclick="changeTab(this,'tab3')"><a href="javascript:void(0)">4号</a></li>
					<li onclick="changeTab(this,'tab4')"><a href="javascript:void(0)" style="border-right:none;">5号</a></li>
				</ul> -->
				
				<div class="tabContent">
				<!--*************第一个标签**********************-->
					<div id="tab0" class="tabs active">
						{%- if current_user.user_type=='3'%}
						<div class="myItem">
							<div class="itemTitle" onclick="changeItem(this)">
								待授信进件<em class="icon-up"></em>
							</div>
							<ul class="itemList">
								{%- for obj in list_wait%}
								<li>{{obj.customer_name}}</li>
								{%- endfor%}
							</ul>
						</div>
						{%- elif current_user.user_type=='1'%}
							<div class="myItem">
								<div class="itemTitle" onclick="changeItem(this)">
									待授信进件<em class="icon-up"></em>
								</div>
								<ul class="itemList">
									{%- for obj in list_wait%}
									<li>{{obj.customer_name}}</li>
									{%- endfor%}
								</ul>
							</div>
						{%- else%}
							<div class="myItem">
								<div class="itemTitle" onclick="changeItem(this)">
									待授信进件<em class="icon-up"></em>
								</div>
								<ul class="itemList">
									{%- for obj in list_wait%}
									<li>{{obj.customer_name}}</li>
									{%- endfor%}
								</ul>
							</div>
							<div class="myItem">
								<div class="itemTitle" onclick="changeItem(this)">
									待分配进件<em class="icon-up"></em>
								</div>
								<ul class="itemList">
									{%- for obj in list_allot%}
									<li>{{obj.customer_name}}</li>
									{%- endfor%}
								</ul>
							</div>
							<div class="myItem">
								<div class="itemTitle" onclick="changeItem(this)">
									待最终评估进件<em class="icon-up"></em>
								</div>
								<ul class="itemList">
									{%- for obj in list_access%}
									<li>{{obj.customer_name}}</li>
									{%- endfor%}
								</ul>
							</div>
						{%- endif%}
						
						
					</div>
				<!--*************第二个标签**********************-->
					<div id="tab1" class="tabs" >2</div>
				<!--*************第三个标签**********************-->
					<div id="tab2" class="tabs" >3</div>
				<!--*************第四个标签**********************-->
					<div id="tab3" class="tabs" >4</div>
				<!--*************第五个标签**********************-->
					<div id="tab4" class="tabs" >5</div>
				</div>
			</div>
			<!--**********右侧用户信息**************-->
			<div class="userMessage">
				<div class="userTitle">
					用户信息
				</div>
				<ul class="userInfo">
					<li><img src="../static/img/user/01.png"/></li>
					<li>用户名：{{current_user.real_name}}</li>
					<li>职位：{{role.role_name}}</li>
					<li>机构：{{org}}</li>
					<li>角色：{{role.role_name}}</li>
				</ul>
				<div class="workInfo">
					{%- if not current_user.user_type%}
						<a href="#">
							<span class="color3">待授信</span>{{len_wait}}
						</a>
					{%- elif current_user.user_type=='1' %}
						<a href="#">
							<span class="color3">待授信</span>{{len_wait}}
						</a>
					{%- else%}
						<a href="#">
							<span class="color1">待授信</span>{{len_wait}}
						</a>
						<a href="#">
							<span class="color2">待分配</span>{{len_allot}}
						</a>
						<a href="#">
							<span class="color3">待评估</span>{{len_access}}
						</a>
					{%- endif%}
				</div>
	<!-- 			<div class="myItem">
					<div class="itemTitle" onclick="changeItem(this)">
						待授信进件<em class="icon-up-small"></em>
					</div>
					<ul class="itemList">
						<li>进件1<span>3000</span></li>
						<li>进件2<span>30000</span></li>
						<li>进件3<span>300000</span></li>
					</ul>
				</div> -->
			</div>
		</div>
	</body>
</html>