<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/bootstrap.css" rel="stylesheet">

		<script src="../../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../../static/js/index.js"></script>

		<style type="text/css">
			
		</style>
	</head>
	<body onload="setTimeOut();">
		<div class="position">
			当前位置：<span>资信评估结论 / 评估结论 / 评估结论信息</span>
		</div>

		<div class="pageTitle">
			评估结论信息--{{app.customer_name}}
		</div>

		<form name="submitForm" id="submitForm" action="/zxpgjl/save_pgjl_info/{{app.id}}" method="POST">
		<div class="content">
{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
			<table class="myTable">
				<caption>客户信息</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">客户号</td>
					<td>{{app.customer_id}}</td>
					<td class="table-label">客户名称</td>
					<td>{{app.customer_name}}</td>					
				</tr>
				<tr>
					<td class="table-label">证件号码</td>
					<td>{{app.card_id}}</td>
					<td class="table-label">产品名称</td>
					<td>{{app.product_name}}</td>					
				</tr>
				<tr>
					<td class="table-label">申请额度</td>
					<td>{{app.approve_je}}</td>	
					<td class="table-label">进件机构</td>
					<td>{{app.approve_org}}</td>		
				</tr>
				<tr>
					<td class="table-label">进件区域</td>
					<td>{{app.approve_area}}</td>	
					<td class="table-label">行业</td>
					<td>{{app.industry}}</td>		
				</tr>
				<tr>
					<td class="table-label">商圈</td>
					<td>{{app.district}}</td>	
					<td class="table-label">客户经理</td>
					<td>{{app.user_name}}</td>		
				</tr>
				<!-- <tr>
					<td class="table-label">审核人</td>
					<td>{{app.sh_name}}</td>	
					<td class="table-label">审批人</td>
					<td>{{app.sp_name}}</td>		
				</tr> -->
				<tr>
					<td class="table-label">审批额度</td>
					{%- if score%}
					<td><span  style="display:block;width:100px;float:left;">{{score.total_approve}}元</span>
					<input type="button" class="btn btn-info" onclick="iframe('/mxpg/show_pgbg/{{app.id}}/readonly')" value="查询模型结果"></input>
					</td>
					{%- else%}		
					<td>0元</td>
					{%- endif%}
				</tr>
			</table>
			<table class="myTable">
				<caption>专家结论</caption>
				<colgroup>
					<col width="10%">
					<col width="20%">
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="20%">
				</colgroup>
				{%- if level%}
					<!-- 普通专家页面 -->
					{%- for obj in advice%}
						<tr>
							<td class="table-label">专家评估建议</td>
							<td>{{obj.approve_advice}}</td>	
							<td class="table-label">专家评估金额(元)</td>
							<td>{{obj.approve_ed}}</td>	
							<td class="table-label">专家姓名</td>
							<td>{{obj.rcs_advice_ibfk_1.real_name}}</td>	
						</tr>
					{%- endfor%}
					{%- for obj in expert%}
						<tr>
							<td class="table-label">专家评估建议</td>
							<td>未评估</td>	
							<td class="table-label">专家评估金额(元)</td>
							<td></td>	
							<td class="table-label">专家姓名</td>
							<td>{{obj.rcs_expert_ibfk_1.real_name}}</td>	
						</tr>
					{%- endfor%}
					<!-- 决策专家页面 -->
					{%- if level=='2'%}
						<tr>
							<td class="table-label">管理员评估建议</td>
							<td><select name="last_advice" value="{{last_advice.approve_result}}" {%- if last_advice.approve_result %} disabled {%- endif%}>
								<option value="1" {%- if last_advice.approve_result=='1'%} selected {%- endif%}>建议发放</option>
								<option value="2" {%- if last_advice.approve_result=='2'%} selected {%- endif%}>拒绝发放</option>
								<option value="3" {%- if last_advice.approve_result=='3'%} selected {%- endif%}>补充调查信息</option>
								</select> </td>	
							
							<td class="table-label">发放额度(元)</td>
							<td><input type="text" name="last_approve" value="{{last_advice.approve_ed}}" {%- if last_advice.approve_ed%} readonly {%- endif%}/></td>
							<td class="table-label">授信建议</td>
							<td><textarea  id="advice" name="advice_end" {%- if last_advice.approve_ed%} readonly="readonly" {%- endif%}> {{last_advice.approve_advice}}</textarea>
							</td>
						</tr>
					{%- elif last_advice.approve_result %}
						<tr>
							<td class="table-label">管理员评估建议</td>
							<td><select name="last_advice" value="{{last_advice.approve_result}}" {%- if last_advice.approve_result %} disabled {%- endif%}>
								<option value="1" {%- if last_advice.approve_result=='1'%} selected {%- endif%}>建议发放</option>
								<option value="2" {%- if last_advice.approve_result=='2'%} selected {%- endif%}>拒绝发放</option>
								<option value="3" {%- if last_advice.approve_result=='3'%} selected {%- endif%}>补充调查信息</option>
								</select> </td>	
							
							<td class="table-label">发放额度(元)</td>
							<td><input type="text" name="last_approve" value="{{last_advice.approve_ed}}" {%- if last_advice.approve_ed%} readonly {%- endif%}/></td>
							<td class="table-label">授信建议</td>
							<td><textarea  id="advice" name="advice_end" {%- if last_advice.approve_ed%} readonly="readonly" {%- endif%}> {{last_advice.approve_advice}}</textarea>
							</td>
						</tr>
					{%- else%}
						<tr>
							<td class="table-label">管理员评估建议</td>
							<td colspan="5">暂无评估</td>
						</tr>
					{%- endif%}
				{%- else%}
					<!-- 普通用户页面 -->
					{%- if last_advice%}
						<tr>
							<td class="table-label">管理员评估建议</td>
							<td><select name="last_advice" value="{{last_advice.approve_advice}}" disabled>
								<option value="1" {%- if last_advice.approve_result=='1'%} selected {%- endif%}>建议发放</option>
								<option value="2" {%- if last_advice.approve_result=='2'%} selected {%- endif%}>拒绝发放</option>
								<option value="3" {%- if last_advice.approve_result=='3'%} selected {%- endif%}>补充调查信息</option>
								</select> </td>	
							
							<td class="table-label">发放额度</td>
							<td colspan="3"><input type="text" name="last_approve" value="{{last_advice.approve_ed}}" readonly/>元</td>
						</tr>
					{%- else%}
						<tr>	
							<td colspan="6">尚未评估</td>
						</tr>
					{%- endif%}
				{%- endif%}

			</table>	
			<div class="pagebar">			
				<div class="controlbtn">
					<!-- 决策岗并且未操作 -->
					{%- if level=="2" and not last_advice.approve_result%}
					<input class="btn btn-info" href="javascript:void(0);" type="submit" value="提交"></input>
					<input class="btn btn-info" href="javascript:void(0);" type="button" onclick="cancel()" value="撤销"></input>
					{%- endif%}
					<input class="btn btn-info" type="button" onclick="javascript:history.go(-1);" value="返回"/>
				</div>
			</div>
		</div>
	</form>
		<script type="text/javascript">
			function cancel(){
				window.location.href="/zxpgjl/cancel/{{app.id}}";
			}
		</script>
	</body>
</html>