<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">			
			.myTable td{font-size:13px;}
			input[type=text]{width:80px;}
		</style>
	</head>
	<body>		
		<form class="iframeForm" action="/khzldy/khzl_hknl_save/{{id}}" method="POST">		
<!--*****************************还款能力**********************************-->
			<table class="myTable">
				<caption>还款能力</caption>
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tr>
					<td><b>资产负债率({{result.split(',')[0]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[0]}}" name="zcfzb" id="zcfzb"/>
					<td>
						<select name="" id="zcfzb1" >
							
							<option value="{{result.split(',')[1]}}" {%- if  appResult.zcfzl|float >1 %} selected {%- endif%}>负债/资产》100%</option>
							
							<option value="{{result.split(',')[2]}}" {%- if appResult and 0.9<appResult.zcfzl|float  and appResult.zcfzl|float <=1 %} selected {%- endif%}>90%《负债/资产《100%</option>
							<option value="{{result.split(',')[3]}}" {%- if appResult and 0.8<appResult.zcfzl|float  and appResult.zcfzl|float <=0.9 %} selected {%- endif%}>80%《负债/资产《90%</option>
							<option value="{{result.split(',')[4]}}" {%- if appResult and 0.7<appResult.zcfzl|float  and appResult.zcfzl|float <=0.8 %} selected {%- endif%}>70%《负债/资产《80%</option>
							<option value="{{result.split(',')[5]}}" {%- if appResult and 0.6<appResult.zcfzl|float  and appResult.zcfzl|float <=0.7 %} selected {%- endif%}>60%《负债/资产《70%</option>
							<option value="{{result.split(',')[6]}}" {%- if appResult and 0.5<appResult.zcfzl|float  and appResult.zcfzl|float <=0.6 %} selected {%- endif%}>50%《负债/资产《60%</option>
							<option value="{{result.split(',')[7]}}" {%- if appResult and 0.4<appResult.zcfzl|float  and appResult.zcfzl|float <=0.5 %} selected {%- endif%}>40%《负债/资产《50%</option>
							<option value="{{result.split(',')[8]}}" {%- if appResult and 0.3<appResult.zcfzl|float  and appResult.zcfzl|float <=0.4 %} selected {%- endif%}>30%《负债/资产《40%</option>
							<option value="{{result.split(',')[9]}}" {%- if appResult and 0.2<appResult.zcfzl|float and appResult.zcfzl|float <=0.3 %} selected {%- endif%}>20%《负债/资产《30%</option>
							<option value="{{result.split(',')[10]}}" {%- if appResult and 0.1<appResult.zcfzl|float  and appResult.zcfzl|float <=0.2 %} selected {%- endif%}>10%《负债/资产《20%</option>
							<option value="{{result.split(',')[11]}}" {%- if appResult and 0<appResult.zcfzl|float  and appResult.zcfzl|float <=0.1 %} selected {%- endif%}>0《负债/资产《10%</option>
						</select>
					</td>
					<td><b>流动比率({{result.split(',')[12]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[12]}}" name="ldbl" id="ldbl"/>
					<td>
						<select name="" id="ldbl1" disabled>
							<option value="{{result.split(',')[13]}}" {%- if appResult and appResult.ldbl|float >2 %} selected {%- endif%}>流动资产/流动负债》200%</option>
							<option value="{{result.split(',')[14]}}" {%- if appResult and 1.9<appResult.ldbl|float  and appResult.ldbl|float <=2 %} selected {%- endif%}>190%《流动资产/流动负债《200%</option>
							<option value="{{result.split(',')[15]}}" {%- if appResult and 1.8<appResult.ldbl|float  and appResult.ldbl|float <=1.9 %} selected {%- endif%}>180%《流动资产/流动负债《190%</option>
							<option value="{{result.split(',')[16]}}" {%- if appResult and 1.7<appResult.ldbl|float  and appResult.ldbl|float <=1.8 %} selected {%- endif%}>170%《流动资产/流动负债《180%</option>
							<option value="{{result.split(',')[17]}}" {%- if appResult and 1.6<appResult.ldbl|float  and appResult.ldbl|float <=1.7 %} selected {%- endif%}>160%《流动资产/流动负债《170%</option>
							<option value="{{result.split(',')[18]}}" {%- if appResult and 1.5<appResult.ldbl|float  and appResult.ldbl|float <=1.6 %} selected {%- endif%}>150%《流动资产/流动负债《160%</option>
							<option value="{{result.split(',')[19]}}" {%- if appResult and 1.4<appResult.ldbl|float  and appResult.ldbl|float <=1.5 %} selected {%- endif%}>140%《流动资产/流动负债《150%</option>
							<option value="{{result.split(',')[20]}}" {%- if appResult and 1.3<appResult.ldbl|float  and appResult.ldbl|float <=1.4 %} selected {%- endif%}>130%《流动资产/流动负债《140%</option>
							<option value="{{result.split(',')[21]}}" {%- if appResult and 1.2<appResult.ldbl|float  and appResult.ldbl|float <=1.3 %} selected {%- endif%}>120%《流动资产/流动负债《130%</option>
							<option value="{{result.split(',')[22]}}" {%- if appResult and 1.1<appResult.ldbl|float  and appResult.ldbl|float <=1.2 %} selected {%- endif%}>110%《流动资产/流动负债《120%</option>
							<option value="{{result.split(',')[23]}}" {%- if appResult and 1<appResult.ldbl|float  and appResult.ldbl|float <=1.1 %} selected {%- endif%}>100%《流动资产/流动负债《110%</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><b>速动比率({{result.split(',')[24]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[24]}}" name="sdbl" id="sdbl"/>
					<td>
						<select name="" id="sdbl1" disabled>
							<option value="{{result.split(',')[25]}}" {%- if appResult and 1<appResult.sdbl|float %} selected {%- endif%}>速动资产/流动负债》100%</option>
							<option value="{{result.split(',')[26]}}" {%- if appResult and 0.9<appResult.sdbl|float  and appResult.sdbl|float <=1 %} selected {%- endif%}>90%《速动资产/流动负债《100%</option>
							<option value="{{result.split(',')[27]}}" {%- if appResult and 0.8<appResult.sdbl|float  and appResult.sdbl|float <=0.9 %} selected {%- endif%}>80%《速动资产/流动负债《90%</option>
							<option value="{{result.split(',')[28]}}" {%- if appResult and 0.7<appResult.sdbl|float  and appResult.sdbl|float <=0.8 %} selected {%- endif%}>70%《速动资产/流动负债《80%</option>
							<option value="{{result.split(',')[29]}}" {%- if appResult and 0.6<appResult.sdbl|float  and appResult.sdbl|float <=0.7 %} selected {%- endif%}>60%《速动资产/流动负债《70%</option>
							<option value="{{result.split(',')[30]}}" {%- if appResult and 0.5<appResult.sdbl|float  and appResult.sdbl|float <=0.6 %} selected {%- endif%}>50%《速动资产/流动负债《60%</option>
							<option value="{{result.split(',')[31]}}" {%- if appResult and 0.4<appResult.sdbl|float  and appResult.sdbl|float <=0.5 %} selected {%- endif%}>40%《速动资产/流动负债《50%</option>
							<option value="{{result.split(',')[32]}}" {%- if appResult and 0.3<appResult.sdbl|float  and appResult.sdbl|float <=0.4 %} selected {%- endif%}>30%《速动资产/流动负债《40%</option>
							<option value="{{result.split(',')[33]}}" {%- if appResult and 0.2<appResult.sdbl|float  and appResult.sdbl|float <=0.3 %} selected {%- endif%}>20%《速动资产/流动负债《30%</option>
							<option value="{{result.split(',')[34]}}" {%- if appResult and 0.1<appResult.sdbl|float  and appResult.sdbl|float <=0.2 %} selected {%- endif%}>10%《速动资产/流动负债《20%</option>
							<option value="{{result.split(',')[35]}}" {%- if appResult and 0<appResult.sdbl|float  and appResult.sdbl|float <=0.1 %} selected {%- endif%}>0%《速动资产/流动负债《10%</option>
						</select>
					</td>
					<td><b>存货周转率({{result.split(',')[36]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[36]}}" name="chzzl" id="chzzl"/>
					<td>
						<select name="" id="chzzl1" disabled>
							<option value="{{result.split(',')[37]}}" {%- if appResult and 20<appResult.chzzl|float %} selected {%- endif%}>销售成本/平均存货余额》20</option>
							<option value="{{result.split(',')[38]}}" {%- if appResult and 17<appResult.chzzl|float  and appResult.chzzl|float <=20 %} selected {%- endif%}>17《销售成本/平均存货余额《20</option>
							<option value="{{result.split(',')[39]}}" {%- if appResult and 14<appResult.chzzl|float  and appResult.chzzl|float <=17 %} selected {%- endif%}>14《销售成本/平均存货余额《17</option>
							<option value="{{result.split(',')[40]}}" {%- if appResult and 11<appResult.chzzl|float  and appResult.chzzl|float <=14 %} selected {%- endif%}>11《销售成本/平均存货余额《14</option>
							<option value="{{result.split(',')[41]}}" {%- if appResult and 8<appResult.chzzl|float  and appResult.chzzl|float <=11 %} selected {%- endif%}>8《销售成本/平均存货余额《11</option>
							<option value="{{result.split(',')[42]}}" {%- if appResult and 5<appResult.chzzl|float  and appResult.chzzl|float <=8 %} selected {%- endif%}>5《销售成本/平均存货余额《8</option>
							<option value="{{result.split(',')[43]}}" {%- if appResult and 3<appResult.chzzl|float  and appResult.chzzl|float <=5 %} selected {%- endif%}>3《销售成本/平均存货余额《5</option>
							<option value="{{result.split(',')[44]}}" {%- if appResult and 1<appResult.chzzl|float  and appResult.chzzl|float <=3 %} selected {%- endif%}>1《销售成本/平均存货余额《3</option>
							<option value="{{result.split(',')[45]}}" {%- if appResult and 0<appResult.chzzl|float  and appResult.chzzl|float <=1 %} selected {%- endif%}>0《销售成本/平均存货余额《1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><b>应收账款周转率({{result.split(',')[46]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[46]}}" name="zzl" id="zzl"/>
					<td>
						<select name="" id="zzl1">
							<option value="{{result.split(',')[47]}}">当期销售净收入/（期初应收账款余额 + 期末应收账款余额）/ 2》3</option>
							<option value="{{result.split(',')[48]}}">2.5《当期销售净收入/（期初应收账款余额 + 期末应收账款余额）/ 2《3</option>
							<option value="{{result.split(',')[49]}}">2《当期销售净收入/（期初应收账款余额 + 期末应收账款余额）/ 2》2.5</option>
							<option value="{{result.split(',')[50]}}">1.5《当期销售净收入/（期初应收账款余额 + 期末应收账款余额）/ 2》2</option>
							<option value="{{result.split(',')[51]}}">1《当期销售净收入/（期初应收账款余额 + 期末应收账款余额）/ 2》1.5</option>
							<option value="{{result.split(',')[52]}}">0.5《当期销售净收入/（期初应收账款余额 + 期末应收账款余额）/ 2》1</option>
							<option value="{{result.split(',')[53]}}">0《当期销售净收入/（期初应收账款余额 + 期末应收账款余额）/ 2《0.5</option>
						</select>
					</td>
					<td><b>现金比率({{result.split(',')[54]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[54]}}" name="xjbl" id="xjbl"/>
					<td>
						<select name="" id="xjbl1">
							<option value="{{result.split(',')[55]}}">35%≤（现金+现金等价物）/流动负债<40%</option>
							<option value="{{result.split(',')[56]}}">30%≤（现金+现金等价物）/流动负债<35%</option>
							<option value="{{result.split(',')[57]}}">25%≤（现金+现金等价物）/流动负债<30%</option>
							<option value="{{result.split(',')[58]}}">20%≤（现金+现金等价物）/流动负债<25%</option>
							<option value="{{result.split(',')[59]}}">15%≤（现金+现金等价物）/流动负债<20%</option>
							<option value="{{result.split(',')[60]}}">10%≤（现金+现金等价物）/流动负债<15%</option>
							<option value="{{result.split(',')[61]}}">5%≤（现金+现金等价物）/流动负债<10%</option>
							<option value="{{result.split(',')[62]}}">0%≤（现金+现金等价物）/流动负债<5%</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><b>总资产周转率({{result.split(',')[63]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[63]}}" name="zzczzl" id="zzczzl"/>
					<td>
						<select name="" id="zzczzl1" disabled>
							<option value="{{result.split(',')[64]}}" {%- if appResult and 0.8<=appResult.zzczzl|float %} selected {%- endif%}>销售收入/总资产》0.8</option>
							<option value="{{result.split(',')[65]}}" {%- if appResult and 0.7<appResult.zzczzl|float  and appResult.zzczzl|float <=0.8 %} selected {%- endif%}>0.7《销售收入/总资产《0.8</option>
							<option value="{{result.split(',')[66]}}" {%- if appResult and 0.6<appResult.zzczzl|float  and appResult.zzczzl|float <=0.7 %} selected {%- endif%}>0.6《销售收入/总资产《0.7</option>
							<option value="{{result.split(',')[67]}}" {%- if appResult and 0.5<appResult.zzczzl|float  and appResult.zzczzl|float <=0.6 %} selected {%- endif%}>0.5《销售收入/总资产《0.6</option>
							<option value="{{result.split(',')[68]}}" {%- if appResult and 0.4<appResult.zzczzl|float  and appResult.zzczzl|float <=0.5 %} selected {%- endif%}>0.4《销售收入/总资产《0.5</option>
							<option value="{{result.split(',')[69]}}" {%- if appResult and 0.3<appResult.zzczzl|float  and appResult.zzczzl|float <=0.4 %} selected {%- endif%}>0.3《销售收入/总资产《0.4</option>
							<option value="{{result.split(',')[70]}}" {%- if appResult and 0.2<appResult.zzczzl|float  and appResult.zzczzl|float <=0.3 %} selected {%- endif%}>0.2《销售收入/总资产《0.3</option>
							<option value="{{result.split(',')[71]}}" {%- if appResult and 0.1<appResult.zzczzl|float  and appResult.zzczzl|float <=0.2 %} selected {%- endif%}>0.1《销售收入/总资产《0.2</option>
						</select>
					</td>
					<td><b>营业周期({{result.split(',')[72]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[72]}}" name="yyzq" id="yyzq"/>
					<td>
						<select name="" id="yyzq1">
							<option value="{{result.split(',')[73]}}">1《存货周转天数+应收账款周转天数《7</option>
							<option value="{{result.split(',')[74]}}">7《存货周转天数+应收账款周转天数《15</option>
							<option value="{{result.split(',')[75]}}">15《存货周转天数+应收账款周转天数《30</option>
							<option value="{{result.split(',')[76]}}">30《存货周转天数+应收账款周转天数《45</option>
							<option value="{{result.split(',')[77]}}">45《存货周转天数+应收账款周转天数《75</option>
							<option value="{{result.split(',')[78]}}">75《存货周转天数+应收账款周转天数《105</option>
							<option value="{{result.split(',')[79]}}">105《存货周转天数+应收账款周转天数《135</option>
							<option value="{{result.split(',')[80]}}">135《存货周转天数+应收账款周转天数《170</option>
							<option value="{{result.split(',')[81]}}">170《存货周转天数+应收账款周转天数《220</option>
							<option value="{{result.split(',')[82]}}">220《存货周转天数+应收账款周转天数《270</option>
							<option value="{{result.split(',')[83]}}">270《存货周转天数+应收账款周转天数</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><b>流动资产周转率（次）({{result.split(',')[84]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[84]}}" name="ldczzl" id="ldczzl"/>
					<td>
						<select name="" id="ldczzl1">
							<option value="{{result.split(',')[85]}}">0.8《主营业务收入净额/平均流动资产总额</option>
							<option value="{{result.split(',')[86]}}">0.7《主营业务收入净额/平均流动资产总额《0.8</option>
							<option value="{{result.split(',')[87]}}">0.6《主营业务收入净额/平均流动资产总额《0.7</option>
							<option value="{{result.split(',')[88]}}">0.5《主营业务收入净额/平均流动资产总额《0.6</option>
							<option value="{{result.split(',')[89]}}">0.4《主营业务收入净额/平均流动资产总额《0.5</option>
							<option value="{{result.split(',')[90]}}">0.3《主营业务收入净额/平均流动资产总额《0.4</option>
							<option value="{{result.split(',')[91]}}">0.2《主营业务收入净额/平均流动资产总额《0.3</option>
							<option value="{{result.split(',')[92]}}">0.1《主营业务收入净额/平均流动资产总额《0.2</option>
							<option value="{{result.split(',')[93]}}">0《主营业务收入净额/平均流动资产总额《0.1</option>
						</select>
					</td>
					<td><b>资产收益率({{result.split(',')[94]}}%)</b></td>
					<input type="hidden" value="{{result.split(',')[94]}}" name="zcsyl" id="zcsyl"/>
					<td>
						<select name="" id="zcsyl1">
							<option value="{{result.split(',')[95]}}">0《净收益/资产总额《0.15</option>
							<option value="{{result.split(',')[96]}}">0.15《净收益/资产总额《0.2</option>
							<option value="{{result.split(',')[97]}}">0.2《净收益/资产总额《0.25</option>
							<option value="{{result.split(',')[98]}}">0.25《净收益/资产总额《0.3</option>
							<option value="{{result.split(',')[99]}}">0.3《净收益/资产总额《0.35</option>
							<option value="{{result.split(',')[100]}}">0.35《净收益/资产总额《0.39</option>
							<option value="{{result.split(',')[101]}}">0.39《净收益/资产总额</option>
						</select>
					</td>
				</tr>
			</table>
<!--*****************************交叉检验**********************************-->
			<table class="myTable">
				<caption>交叉检验</caption>
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="40%">
					<col width="10%">
				</colgroup>
				<tr>
					<td rowspan="9"><b>营业额交叉检验</b></td>
					<td colspan="2">
						<b>1，年营业额=期末现金-期初现金+经营性现金流出（现金流）</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value1}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>2,年营业额=淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数（包括主导业务1，主导业务2，其他业务）</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value2}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>3.年营业额=产成品金额*（365/产成品运转周期)（存货产成品）</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value3}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>4，年营业额=主营业务成本/[1-（主营业务收入-主营业务成本）/主营业务收入]（主营业务）</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value4}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>5，年营业额=企业增值税金额/企业增值税税率</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value5}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>6,{（365/原材料运转周期）*原材料金额）/[1-（主营业务收入-主营业务成本）/主营业务收入]}*12</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value6}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>7，年营业额=（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（主导业务1）</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value7}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>8，年营业额=（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（主导业务2）</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value8}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>9，年营业额=（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（其他业务）</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value9}}" readonly/></td>
				</tr>
				<tr>
					<td rowspan="2"><b>存货检验</b></td>
					<td colspan="2">
						<b>现有存货=上次进货时存货+期间购买的存货-期间销售的存货</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value10}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>期间购买的存货与存货总和对比</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value11}}" readonly/></td>
				</tr>
				<tr>
					<td rowspan="2"><b>毛利率检验</b></td>
					<td colspan="2">
						<b>对比同行毛利率水平检验毛利率（大数据）</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value12}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>毛利率=（主营业务收入-主营业务成本）/主营业务收入*100%</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value13}}" readonly/></td>
				</tr>
				<tr>
					<td rowspan="9"><b>权益交叉检验</b></td>
					<td colspan="2">
						<b>应有权益=初始权益+期间利润+期间生意外注资-期间生意外大项开支+固定资产升值-固定资产贬值</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value14}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>实际权益=资产-负债</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value15}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>{[期末现金-期初现金+经营性现金流出（现金流）]-[淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数（包括主导业务1，主导业务2，其他业务）]}
						/[淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数（包括主导业务1，主导业务2，其他业务）]</b>
					</td>
					<td><input type="text" name="value_1" id="value_1" value="" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>{[产成品金额*（365/产成品运转周期)（存货产成品）]-[淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数（包括主导业务1，主导业务2，其他业务）]}
						/[产成品金额*（365/产成品运转周期)（存货产成品）]</b>
					</td>
					<td><input type="text" name="value_2" id="value_2" value="" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>{主营业务成本/[1-（主营业务收入-主营业务成本）/主营业务收入]（主营业务）-[产成品金额*（365/产成品运转周期)（存货产成品）]}
						/{主营业务成本/[1-（主营业务收入-主营业务成本）/主营业务收入]（主营业务）}</b>
					</td>
					<td><input type="text" name="value_3" id="value_3" value="" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>{[企业增值税金额/企业增值税税率-主营业务成本]/[1-（主营业务收入-主营业务成本）/主营业务收入]（主营业务）}
						/[企业增值税金额/企业增值税税率-主营业务成本]</b>
					</td>
					<td><input type="text" name="value_4" id="value_4" value="" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>{ {(365/原材料运转周期)*原材料金额)/[1-(主营业务收入-主营业务成本)/主营业务收入]}*12-[企业增值税金额/企业增值税税率-主营业务成本]}/{(365/原材料运转周期)*原材料金额)/[1-(主营业务收入-主营业务成本)/主营业务收入]}*12</b>
					</td>
					<td><input type="text" name="value_5" id="value_5" value="" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>[（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（主导业务1）-（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（主导业务2）]
						/（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（主导业务1）</b>
					</td>
					<td><input type="text" name="value_6" id="value_6" value="" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>[（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（主导业务2）-（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（主导业务1）]
						/（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）/主导业务1销售占比（主导业务2）</b>
					</td>
					<td><input type="text" name="value_7" id="value_7" value="" readonly/></td>
				</tr>
				<tr>
					<td><b>权益差异率</b></td>
					<td colspan="3">
						<select name="" id="qycyl">
							<option value="{{result.split(',')[120]}}">0%《（实际权益-应有权益）/实际权益《5%</option>
							<option value="{{result.split(',')[121]}}">5%《（实际权益-应有权益）/实际权益《10%</option>
							<option value="{{result.split(',')[122]}}">10%《（实际权益-应有权益）/实际权益《15%</option>
							<option value="{{result.split(',')[123]}}">15%《（实际权益-应有权益）/实际权益《20%</option>
							<option value="{{result.split(',')[124]}}">20%《（实际权益-应有权益）/实际权益《25%</option>
							<option value="{{result.split(',')[125]}}">25%《（实际权益-应有权益）/实际权益《30%</option>
							<option value="{{result.split(',')[126]}}">30%《（实际权益-应有权益）/实际权益《35%</option>
							<option value="{{result.split(',')[127]}}">35%《（实际权益-应有权益）/实际权益《40%</option>
							<option value="{{result.split(',')[128]}}">40%《（实际权益-应有权益）/实际权益《45%</option>
							<option value="{{result.split(',')[129]}}">45%《（实际权益-应有权益）/实际权益《50%</option>
							<option value="{{result.split(',')[130]}}">50%《（实际权益-应有权益）/实际权益《55%</option>
							<option value="{{result.split(',')[131]}}">55%《（实际权益-应有权益）/实际权益《60%</option>
							<option value="{{result.split(',')[132]}}">60%《（实际权益-应有权益）/实际权益《65%</option>
							<option value="{{result.split(',')[133]}}">65%《（实际权益-应有权益）/实际权益《70%</option>
							<option value="{{result.split(',')[134]}}">70%《（实际权益-应有权益）/实际权益《75%</option>
							<option value="{{result.split(',')[135]}}">75%《（实际权益-应有权益）/实际权益《80%</option>
							<option value="{{result.split(',')[136]}}">80%《（实际权益-应有权益）/实际权益《85%</option>
							<option value="{{result.split(',')[137]}}">85%《（实际权益-应有权益）/实际权益《90%</option>
							<option value="{{result.split(',')[138]}}">90%《（实际权益-应有权益）/实际权益《95%</option>
							<option value="{{result.split(',')[139]}}">95%《（实际权益-应有权益）/实际权益《100%</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>企业月可支</b></td>
					<td colspan="2">
						<b>月可支=[（淡季月营业额*淡季月数+旺季月营业额*旺季月数+平常季月营业额*平常季月数）-（主营业务成本+主营业务税金+固定人工成本+水电成本+房租租金+固定交通成本+企业增值税+维修费+广告费+公司经费+劳动保险费+其他费用+财务费用）]/12</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value17}}" readonly/></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>月可用现金=期初现金+经营性现金流入-经营性现金流出+融资现金流入-融资现金流出</b>
					</td>
					<td><input type="text" name="" value="{{jcjy.value18}}" readonly/></td>
				</tr>
			</table>
			<!--*****************************评分结果**********************************-->
			<table class="myTable">
				<caption>评分结果</caption>

				<tr>
					<td><b>评分结果</b></td>
					<td><input type="text" id="score_result" name="score_result" readonly /></td>
					<input type="hidden" id="score_remark" name="score_remark" readonly/>
					<td><b>禁入结果</b></td>
					<td><input type="Textarea" id="score_stop" name="score_stop" /></td>
				</tr>	
			</table>
		
		<div class="pagebar">			
			<div class="controlbtn">
				<input type="submit" class="btn btn-info" id="button1" value="提交" disabled>
				<input type="button" class="btn btn-info" onclick="sum()" id="button2" value="评分">
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
		</form>
		<script type="text/javascript">
			$(document).ready(function() {
					var value_1 = ("{{jcjy.value1}}"-"{{jcjy.value2}}")/"{{jcjy.value2}}";
					if(value_1<0.3){
						$("#value_1").val("{{result.split(',')[142]}}");
					}else{
						$("#value_1").val("{{result.split(',')[143]}}");
					}
					var value_2 = ("{{jcjy.value3}}"-"{{jcjy.value2}}")/"{{jcjy.value3}}";
					if(value_2<0.3){
						$("#value_2").val("{{result.split(',')[144]}}");
					}else{
						$("#value_2").val("{{result.split(',')[145]}}");
					}
					var value_3 = ("{{jcjy.value4}}"-"{{jcjy.value3}}")/"{{jcjy.value4}}";
					if(value_3<0.3){
						$("#value_3").val("{{result.split(',')[146]}}");
					}else{
						$("#value_3").val("{{result.split(',')[147]}}");
					}
					var value_6 = ("{{jcjy.value7}}"-"{{jcjy.value8}}")/"{{jcjy.value7}}";
					if(value_6<0.3){
						$("#value_6").val("{{result.split(',')[152]}}");
					}else{
						$("#value_6").val("{{result.split(',')[153]}}");
					}
					var value_7 = ("{{jcjy.value8}}"-"{{jcjy.value7}}")/"{{jcjy.value8}}";
					if(value_7<0.3){
						$("#value_7").val("{{result.split(',')[154]}}");
					}else{
						$("#value_7").val("{{result.split(',')[155]}}");
					}
				})
			function sum(){
				//不能提交
				$("#button1").attr('disabled',true);
				var total=0;
				type=true;
				remark = new Array();
				// $("#score_remark").val("");
				//资产负债率
				if(transfer($("#zcfzb1").val())){
					total+=(parseFloat($("#zcfzb").val())/100)*parseFloat($("#zcfzb1").val());
				}else{

					remark.push("资产负债率为禁入");
					type = false;
				}
				//流动比率
				if(transfer($("#ldbl1").val())){
					total+=(parseFloat($("#ldbl").val())/100)*parseFloat($("#ldbl1").val());
				}else{

					remark.push("流动比率为禁入");
					type = false;
				}
				//速动比率
				if(transfer($("#sdbl1").val())){
					total+=(parseFloat($("#sdbl").val())/100)*parseFloat($("#sdbl1").val());
				}else{

					remark.push("速动比率为禁入");
					type = false;
				}
	
				//存货比率
				if(transfer($("#chzzl1").val())){
					total+=(parseFloat($("#chzzl").val())/100)*parseFloat($("#chzzl1").val());
				}else{
			
					remark.push("存货比率为禁入");
					type = false;
				}

				//周转率
				if(transfer($("#zzl1").val())){
					total+=(parseFloat($("#zzl").val())/100)*parseFloat($("#zzl1").val());
				}else{
				
					remark.push("周转率为禁入");
					type = false;
				}
		
				//现金比率
				if(transfer($("#xjbl1").val())){
					total+=(parseFloat($("#xjbl").val())/100)*parseFloat($("#xjbl1").val());
				}else{
			
					remark.push("现金比率为禁入");
					type = false;
				}
		
				//总资产周转率
				if(transfer($("#zzczzl1").val())){
					total+=(parseFloat($("#zzczzl").val())/100)*parseFloat($("#zzczzl1").val());
				}else{
		
					remark.push("总资产周转率为禁入");
					type = false;
				}
				
				//营业周期
				if(transfer($("#yyzq1").val())){
					total+=(parseFloat($("#yyzq").val())/100)*parseFloat($("#yyzq1").val());
				}else{
			
					remark.push("营业周期为禁入");
					type = false;
				}
			
				//流动资产周转率
				if(transfer($("#ldczzl1").val())){
					total+=(parseFloat($("#ldczzl").val())/100)*parseFloat($("#ldczzl1").val());
				}else{	
					remark.push("流动资产周转率为禁入");
					type = false;
				}
			
				//资产收益率
				if(transfer($("#zcsyl1").val())){
					total+=(parseFloat($("#zcsyl").val())/100)*parseFloat($("#zcsyl1").val());
				}else{
					remark.push("资产收益率为禁入");
					type = false;
				}
			
				//权益差异率
				if(transfer($("#qycyl").val())){
					total+=parseFloat($("#qycyl").val());	
				}else{
					remark.push("权益差异率为禁入");
					type = false;
				}
				if(!type){
					$("#score_result").val("不满足准入条件");
					$("#score_remark").val(remark);
					$("#score_stop").val(remark);
				}else{
					$("#score_stop").val("");
					$("#score_result").val(total);
					//能提交
					$("#button1").attr('disabled',false);
				}
				
			}
			function transfer(value){
				if(value=="禁入"){
					return false;
				}else{
					return true;
				}
			}

		</script>
	</body>
</html>