<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../static/js/date/lhgcore.js"></script>
		<script src="../../static/js/date/lhgcalendar.js"></script>
		<style type="text/css">
			label{display:inline-block;width:95px;text-align:right;margin-right:5px;}
			.addTable{margin :5px;text-align :center ;width:99%;}
			.addTable th{border:1px solid #ddd;background:#a4daff;font-size:13px;}
			.addinput {width:80%;}
			.myTable td{font-size:13px;}
		</style>
	</head>
	<body>		
		<form class="iframeForm">
<!--*****************************基本资料**********************************-->
			<table class="myTable">
				<caption>基本资料</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td><b>客户名称</b></td>
					<td><input type="text" name="" value="张三"/></td>
					<td><b>客户类型</b></td>
					<td><input type="text" name="" value="XX"/></td>
				</tr>
				<tr>
					<td><b>所属区域</b></td>
					<td><input type="text" name="" value="常州"/></td>
					<td><b>营业执照注册号</b></td>
					<td><input type="text" name="" value="01122332"/></td>
				</tr>
				<tr>
					<td><b>组织机构代码号</b></td>
					<td><input type="text" name="" value="12355688"/></td>
					<td><b>注册资本</b></td>
					<td><input type="text" name="" value="5000000"/></td>
				</tr>
				<tr>
					<td><b>实收资本</b></td>
					<td><input type="text" name="" value="2500000"/></td>
					<td><b>成立时间</b></td>
					<td><input type="text" name="" value="2015-02-03" onclick="J.calendar.get({type:'-'});"/></td>
				</tr>
				<tr>
					<td><b>公司网址</b></td>
					<td colspan="3"><input type="text" name="" value="http://123.com"/></td>
				</tr>
			</table>
<!--*****************************法人代表**********************************-->
			<table class="myTable">
				<caption>法人代表</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td><b>姓名</b></td>
					<td><input type="text" name="" value="张三"/></td>
					<td><b>职位</b></td>
					<td><input type="text" name="" value="XX"/></td>
				</tr>
				<tr>
					<td><b>电话</b></td>
					<td><input type="text" name="" value="123456789"/></td>
					<td><b>电邮</b></td>
					<td><input type="text" name="" value="01122332"/></td>
				</tr>
			</table>
<!--*****************************企业负责人**********************************-->
			<table class="myTable">
				<caption>企业负责人</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td><b>姓名</b></td>
					<td><input type="text" name="" value="张三"/></td>
					<td><b>职位</b></td>
					<td><input type="text" name="" value="XX"/></td>
				</tr>
				<tr>
					<td><b>电话</b></td>
					<td><input type="text" name="" value="123456789"/></td>
					<td><b>电邮</b></td>
					<td><input type="text" name="" value="01122332"/></td>
				</tr>
			</table>
<!--*****************************股东信息**********************************-->
			<table class="myTable">
				<caption>股东信息</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td><b>股东名称</b></td>
					<td><input type="text" name="" value=""/></td>
					<td><b>股东类型</b></td>
					<td>
						<select	name="">
							<option>个人</option>
							<option>上市公司</option>
							<option>投资机构</option>
							<option>其他</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><b>出资类型</b></td>
					<td>
						<select	name="">
							<option>货币</option>
							<option>产权</option>
							<option>知识产权</option>
							<option>土地使用权</option>
						</select>
					</td>
					<td><b>股份比例</b></td>
					<td><input type="text" name="" value="80%"/></td>
				</tr>
				<tr>
					<td><b>应缴金额</b></td>
					<td><input type="text" name="" value="80000"/></td>
					<td><b>实缴金额</b></td>
					<td><input type="text" name="" value="70000"/></td>
				</tr>
			</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" href="#" onclick="" title="提交">提交</a>
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
	</body>
</html>