<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			label{display:inline-block;width:95px;text-align:right;margin-right:5px;}
			.addTable{margin :5px;text-align :center ;width:99%;}
			.addTable th{border:1px solid #ddd;background:#a4daff;font-size:13px;}
			.addinput {width:80%;}
			.myTable td{font-size:13px;}
		</style>
	</head>
	<body>
		<form class="iframeForm">
<!--*****************************交叉检验**********************************-->
			<table class="myTable">
				<caption>交叉检验</caption>
				<colgroup>
					<col width="20%">
					<col width="60%">
					<col width="20%">
				</colgroup>
				<tr>
					<td rowspan="6"><b>营业额交叉检验</b></td>
					<td><b>1，期间销售额=期末现金-期初现金+期间开支</b></td>
					<td><input type="text" value="250000"/></td>
				</tr>
				<tr>
					<td><b>2,主导业务1（淡季+旺季+平稳季节）=年营业额</b></td>
					<td><input type="text" value="250000"/></td>
				</tr>
				<tr>
					<td><b>3.产成品金额*（365/产成品运转周期)=年营业额</b></td>
					<td><input type="text" value="250000"/></td>
				</tr>
				<tr>
					<td><b>4，营业额=可变成本/(1-毛利率）</b></td>
					<td><input type="text" value="250000"/></td>
				</tr>
				<tr>
					<td><b>5，营业额=某一类销售额/销售占比</b></td>
					<td><input type="text" value="25000"/></td>
				</tr>
				<tr>
					<td><b>6，用必耗品推测营业额</b></td>
					<td><input type="text" value="25000"/></td>
				</tr>				
				<tr>
					<td rowspan="2"><b>存货检验</b></td>
					<td><b>期间可变成本=上次进货时存货+期间购买的存货-现有存货</b></td>
					<td><input type="text" value="25000"/></td>
				</tr>
				<tr>
					<td><b>必耗品推测可变成本</b></td>
					<td><input type="text" value="25000"/></td>
				</tr>				
				<tr>
					<td><b>毛利率检验</b></td>
					<td><b>对比同行毛利率水平检验毛利率</b></td>
					<td><input type="text" value="25000"/></td>
				</tr>				
				<tr>
					<td><b>权益交叉检验</b></td>
					<td><b>应有权益=初始权益+期间利润+期间生意外注资-期间生意外大项开支+固定资产升值-固定资产贬值</b></td>
					<td><input type="text" value="25000"/></td>
				</tr>									
				<tr>
					<td><b>实际权益</b></td>
					<td><b>实际权益=资产-负债</b></td>
					<td><input type="text" value="25000"/></td>
				</tr>	
			</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" href="#" onclick="" title="提交">提交</a>
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
	</body>
</html>