<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../static/js/date/lhgcore.js"></script>
		<script src="../../static/js/date/lhgcalendar.js"></script>
		<style type="text/css">
			label{display:inline-block;width:95px;text-align:right;margin-right:5px;}
			.myTable td{font-size:13px;}
		</style>
	</head>
	<body>		
		<form class="iframeForm">
<!--*****************************经营状况**********************************-->
			<table class="myTable">
				<caption>经营状况</caption>
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
				<tr>
					<td><b>行业</b></td>
					<td colspan="3">
						<select	name="">
							<option>电子信息</option>
							<option>互联网移动互联网</option>
							<option>生物医药</option>
							<option>先进制造</option>
							<option>新能源及节能环保</option>
							<option>新材料</option>
							<option>文化创意</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="4"><b>员工状况</b></td>
					<td colspan="2"><b>人数</b></td>
					<td><input type="text" name="" value="80"/></td>
				</tr>
				<tr>
					<td rowspan="3"><b>技术等级人员分布</b></td>
					<td><b>初级</b></td>
					<td><input type="text" name="" value="50"/></td>
				</tr>
				<tr>
					<td><b>中级</b></td>
					<td><input type="text" name="" value="20"/></td>
				</tr>
				<tr>
					<td><b>高级</b></td>
					<td><input type="text" name="" value="10"/></td>
				</tr>
				<tr>
					<td rowspan="18"><b>核心技术</b></td>
					<td rowspan="4"><b>专利</b></td>
					<td><b>名称</b></td>
					<td><input type="text" name="" value="电视机"/></td>
				</tr>
				<tr>
					<td><b>专利类型</b></td>
					<td>
						<select	name="">
							<option>发明专利</option>
							<option>实用新型</option>
							<option>外观设计</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><b>专利号</b></td>
					<td><input type="text" name="" value="0001"/></td>
				</tr>
				<tr>
					<td><b>获得时间</b></td>
					<td><input type="text" name="" value="2000-01-01"/></td>
				</tr>
				<tr>
					<td rowspan="2"><b>非专利专有技术</b></td>
					<td><b>名称</b></td>
					<td><input type="text" name="" value="无"/></td>
				</tr>
				<tr>
					<td><b>技术来源</b></td>
					<td>
						<select	name="">
							<option>独立知识产权</option>
							<option>合并研发</option>
							<option>购买技术</option>
							<option>其他</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>软件著作权</b></td>
					<td><b>名称</b></td>
					<td><input type="text" name="" value="无"/></td>
				</tr>
				<tr>
					<td><b>技术来源</b></td>
					<td>
						<select	name="">
							<option>独立知识产权</option>
							<option>合并研发</option>
							<option>购买技术</option>
							<option>其他</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>药品批文</b></td>
					<td><b>名称</b></td>
					<td><input type="text" name="" value="无"/></td>
				</tr>
				<tr>
					<td><b>技术来源</b></td>
					<td>
						<select	name="">
							<option>独立知识产权</option>
							<option>合并研发</option>
							<option>购买技术</option>
							<option>其他</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>创新商业模式</b></td>
					<td><b>名称</b></td>
					<td><input type="text" name="" value="无"/></td>
				</tr>
				<tr>
					<td><b>技术来源</b></td>
					<td>
						<select	name="">
							<option>独立知识产权</option>
							<option>合并研发</option>
							<option>购买技术</option>
							<option>其他</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>医疗器械批文</b></td>
					<td><b>名称</b></td>
					<td><input type="text" name="" value="无"/></td>
				</tr>
				<tr>
					<td><b>技术来源</b></td>
					<td>
						<select	name="">
							<option>独立知识产权</option>
							<option>合并研发</option>
							<option>购买技术</option>
							<option>其他</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>集成电路步图</b></td>
					<td><b>名称</b></td>
					<td><input type="text" name="" value="无"/></td>
				</tr>
				<tr>
					<td><b>技术来源</b></td>
					<td>
						<select	name="">
							<option>独立知识产权</option>
							<option>合并研发</option>
							<option>购买技术</option>
							<option>其他</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>其他</b></td>
					<td><b>名称</b></td>
					<td><input type="text" name="" value="无"/></td>
				</tr>
				<tr>
					<td><b>技术来源</b></td>
					<td>
						<select	name="">
							<option>独立知识产权</option>
							<option>合并研发</option>
							<option>购买技术</option>
							<option>其他</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="18">
						<b>核心团队</b><br/>
						<a class="add" onclick="addTd('hxtd')"><img src="../../static/img/add.png"/></a>
						<a class="del" onclick="removeTd('hxtd')"><img src="../../static/img/del.png"/></a>
					</td>
					<td colspan="3">
						<table class="addTable" id="hxtd">
							<tr>								
								<th rowspan="2">姓名<input type="text" class="addinput" value="张三"/></th>
								<th>性别</th>
								<th>年龄</th>
								<th>职位</th>
								<th>最高学历</th>
								<th>留学经历</th>
								<th>入选国家千人计划</th>
								<th>入选时间</th>
							</tr>
							<tr>
								<td><select name=""><option>男</option><option>女</option></select></td>
								<td><input type="text" class="addinput" value="40"/></td>
								<td><input type="text" class="addinput" value="导师"/></td>
								<td><input type="text" class="addinput"/ value="博士"></td>
								<td><input type="text" class="addinput" value="无"/></td>
								<td><input type="text" class="addinput" value="入选"/></td>
								<td><input type="text" class="addinput"  value="2009-01-01" onclick="J.calendar.get({type:'-'});"/></td>
							</tr>
							<tr>
								<th colspan="2">大学生科技企业</th>
								<th colspan="2">教育经历</th>
								<th colspan="2">主要工作经历</th>
								<th>主要成就</th>
							</tr>
							<tr>
								<td colspan="2"><input type="text" class="addinput" value="是"/></td>
								<td colspan="2"><input type="text" class="addinput" value="博士"/></td>
								<td colspan="2"><input type="text" class="addinput" value="略"/></td>
								<td><input type="text" class="addinput" value="无"/></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" href="#" onclick="" title="提交">提交</a>
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
		<script type="text/javascript">			
			function addTd(table){	//表格添加行
				var tr= document.getElementById(table).getElementsByTagName("tr");
				//更新行数
				//var cnt = tr.length-2+1;
				//$("#"+table+"_cnt").val(cnt);
				
				if(table=="hxtd"){//核心团队
					$("#"+table).append("<tr>"+							
											"<th rowspan='4'>姓名<input type='text' class='addinput'/></th>"+	
											"<th>性别</th>"+	
											"<th>年龄</th>"+	
											"<th>职位</th>"+	
											"<th>最高学历</th>"+	
											"<th>留学经历</th>"+	
											"<th>入选国家千人计划</th>"+	
											"<th>入选时间</th>"+	
										"</tr>"+	
										"<tr>"+	
											"<td><select name=''><option>男</option><option>女</option></select></td>"+	
											"<td><input type='text' class='addinput'/></td>"+	
											"<td><input type='text' class='addinput'/></td>"+	
											"<td><input type='text' class='addinput'/></td>"+	
											"<td><input type='text' class='addinput'/></td>"+	
											"<td><input type='text' class='addinput'/></td>"+	
											"<td><input type='text' class='addinput' onclick='J.calendar.get({type:\"-\"});'/></td>"+	
										"</tr>"+	
										"<tr>"+	
											"<th colspan='2'>大学生科技企业</th>"+	
											"<th colspan='2'>教育经历</th>"+	
											"<th colspan='2'>主要工作经历</th>"+	
											"<th>主要成就</th>"+	
										"</tr>"+	
										"<tr>"+	
											"<td colspan='2'><input type='text' class='addinput'/></td>"+	
											"<td colspan='2'><input type='text' class='addinput'/></td>"+	
											"<td colspan='2'><input type='text' class='addinput'/></td>"+	
											"<td><input type='text' class='addinput'/></td>"+	
										"</tr>");
				}				
			}

			function removeTd(table){ //表格删除行 
				var tr= document.getElementById(table).getElementsByTagName("tr");
				if(tr.length>2){
					for(j=0;j<4;j++){
						document.getElementById(table).deleteRow(tr.length-1);//删除最后一行
					}
							
					//$("#"+table+"_cnt").val(tr.length-2);
				}
			}
		</script>
	</body>
</html>