<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			input[type=text]{width:100px;}
			label{display:inline-block;width:95px;text-align:right;margin-right:5px;}
			.addTable{margin :5px;text-align :center ;width:99%;}
			.myTable th{text-align:left;padding:5px;background:#e8e8e8;border:1px solid #ddd;font-size:13px;}
			.addTable th{text-align:center;border:1px solid #ddd;background:#a4daff;font-size:13px;}
			.myTable td{font-size:13px;}
			input[type=text]{width:40px;}
		</style>
	</head>
	<body>	
		<form class="" id="iframeForm" action="" method="POST">
<!--*****************************资产**********************************-->			
			<table class="myTable">
				<caption>现金流量表/预期现金流量表</caption>
				<colgroup>
					<col width="10%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
				</colgroup>
				<tr>
					<td colspan="2"><b>月份</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>期初现金</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>经营现金流入合计</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">  现金销售额</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">  应收账款回收</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">  客户预付款</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>经营现金流出合计</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"> 现金购买原材料、服务、货物</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"> 应付账款的支付</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"> 购货的预付款项（原材料、服务费）</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"> 固定费用支付</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>经营活动净现金流量</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>投资现金流入</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">固定资产出售流入</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">其他流入</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>投资现金流出</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">购买新固定资产的支出</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">建设和装修等的支出</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">其他支出</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>投资活动净现金流量</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>融资现金流入</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">银行贷款</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">其他借款</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>融资现金流出</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">偿还银行贷款本金以及利息</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">偿还其他借款</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>融资活动净现金流量</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">其他现金来源</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">家庭开支</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2">私人使用资金</td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>私人活动净现金流量</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td colspan="2"><b>期末现金</b></td>
					<td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
                    <td><input type="text" name=""></td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td><b>固定费用明细</b></td>
					<td colspan="7"><textarea name=""></textarea></td>
                    <td colspan="2"><b>现金流分析及说明</b></td>
					<td colspan="7"><textarea name=""></textarea></td>
				</tr>
				</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" onclick="sum()" title="提交">提交</a>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				data = "{{content}}";
				content = data.split("@@");
				$("input,Textarea").each(function(i){
					$(this).val(content[i]);
				});
			})

		</script>
	</body>
</html>