<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			input[type=text]{width:100px;}
			label{display:inline-block;width:95px;text-align:right;margin-right:5px;}
			.addTable{margin :5px;text-align :center ;width:99%;}
			.myTable th{text-align:left;padding:5px;background:#e8e8e8;border:1px solid #ddd;font-size:13px;}
			.addTable th{text-align:center;border:1px solid #ddd;background:#a4daff;font-size:13px;}
			input[type=text].addinput {width:80%;}
			.myTable td{font-size:13px;}
		</style>
	</head>
	<body>	
		<form class="" id="iframeForm" action="" method="POST">
<!--*****************************资产**********************************-->			
			<table class="myTable">
				<caption>现金流量表/预期现金流量表</caption>
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
					<col width="5%">
				</colgroup>
				<tr>
					<td colspan="2"><b>月份</b></td>
					<td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月</b></td>
                    <td><b>月  日</b></td>
					<td><b>合计</b></td>
				</tr>
				</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" onclick="sum()" title="提交">提交</a>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {

				})

		</script>
	</body>
</html>