<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../../static/js/jquery-1.4.2.min.js"></script>
		<script src="../../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../../static/js/date/lhgcore.js"></script>
		<script src="../../../static/js/date/lhgcalendar.js"></script>
		<script src="../../../static/js/util.js"></script><!-- html字符转义 -->
		<style type="text/css">			
			.myTable td{font-size:13px;}
		</style>
	</head>
	<body>		
		<form class="iframeForm" id="iframeForm" action="/customer/customer_jyzk_save/{{id}}" method="POST">

<!--*****************************信仰状况**********************************-->
			<table class="myTable">

			<colgroup>
				<col width="15%">
				<col width="35%">
				<col width="15%">
				<col width="35%">
			</colgroup>
			{%- for level3 in ddpz_level%}
				<tr>
					<td><b>{{level3.name}}</b></td>
					<td><select name="" id="tess" content="{{level3.name}}">
						<option value="0">无数据</option>
					{%- for allSelect in all_select%}	
						{%- if allSelect.tree_id==level3.id%}
							
							<option value="{{allSelect.id}}/{{allSelect.score}}">{{allSelect.name}}</option>
						
						{%- endif%}
					{%- endfor%}
					</select></td>
				</tr>	
			{%- endfor%}
		</table>

<!--*****************************评分结果**********************************-->
			<table class="myTable">
				<caption>评分结果</caption>

				<tr>
					<td><b>评分结果</b></td>
					<td><input type="text" id="score_result" name="score_result" value="{{score.jyzk_score}}" readonly/></td>
					<input type="hidden" id="score_remark" name="score_remark" readonly/>
					<td><b>禁入结果</b></td>
					<td><input type="Textarea" id="score_stop" value="{{score.remark}}" name="score_stop" /></td>
				</tr>	
			</table>
			<input type="hidden" name="dataTotalSelect" id="dataTotalSelect"/>

		<div class="pagebar">			
			<div class="controlbtn">
				<input type="button" class="btn btn-info" id="button1" onclick="submitForm()" value="提交" >
				<input type="button" class="btn btn-info" onclick="sum()" id="button2" value="评分">
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
		</form>
		<script type="text/javascript">
     		$(document).ready(function() {
				var data_2 = "{{data.value_2}}";
				
				if(data_2!=''){
					var dataArray = data_2.split(",");
					for(var j=0;j<dataArray.length;j++){
						data1 = dataArray[j].split("@@")[0];
					    data2 = dataArray[j].split("@@")[1];
					    $("select").each(function(i){
						    if($(this).attr("content")==data1){
						    	data2 = js.lang.String.decodeHtml(data2);
						    	$(this).find("option[text='"+data2+"']").attr("selected",true);
						    }
						});
					}
				}

			});



     		var remark = new Array();
     		function sum(){
     			remark = new Array();
     			var selectData = new Array();
				$("select").each(function(i){
				    var value = $(this).val();
				    var text = $(this).find("option:selected").text();
					if(value==''){
				    	selectData.push($(this).attr("content")+"@@"+0);
				    }else{
				    	selectData.push($(this).attr("content")+"@@"+text);
				    }  
			
				});

				//form组成json格式
				$("#dataTotalSelect").val(selectData);

				//计算分值
				var totalScore = new Array();
				$("select").each(function(i){
					var value = $(this).val();
					var score = value.split("/");
					if(score[1]=="禁入"){
						remark.push($(this).attr("content")+"为禁入");
					}else{
						totalScore.push(score[0]);
				
					}
				})
				$("#score_stop").val(remark);
				if(remark==""||remark==null){
					//ajax请求，后台计算分值
					var url = "/parameter/scoreTotal/"+totalScore;
					$.ajax({
						url : url,
						type : "get",
						success : function(data) {
							$("#score_result").val(data);
						}
					});
				}else{
					$("#score_result").val("");
				}
     		}
     		function submitForm(){


				$("#iframeForm").submit();
			}
		</script>
	</body>
</html>