<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="/static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/index.js"></script>
		<script src="/static/js/base64.js"></script>
		<script src="/static/js/util.js"></script>
		
		<script src="/static/js/Date.js"></script>
		<script src="/static/js/Stack.js"></script>
		<script src="/static/js/Tokanizer.js"></script>
		<script src="/static/js/Evaluator.js"></script>
		<!--验证样式-->
		<link rel="stylesheet" href="/static/css/validationEngine.jquery.css">
		<script src="/static/js/jquery.validationEngine-zh_CN.js"></script> 
		<script src="/static/js/jquery.validationEngine.js"></script>	
		<style type="text/css">
			input[type=text]{width:40px;}
			label{display:inline-block;width:95px;text-align:right;margin-right:5px;}
			.addTable{margin :5px;text-align :center ;width:99%;}
			.myTable th{text-align:left;padding:5px;background:#e8e8e8;border:1px solid #ddd;font-size:13px;}
			.addTable th{text-align:center;border:1px solid #ddd;background:#a4daff;font-size:13px;}
			input[type=text].addinput {width:80%;}
			.myTable td{font-size:13px;}
			.tdBgClr{background-color: #87CEFA}
			input:read-only{background-color: #D9D9D9;}
		</style>
		<script type="text/javascript">
		var rules = [
						'C6=C4-C5',
						'D6=D4-D5',
						'E6=E4-E5',
						'F6=F4-F5',
						'G6=G4-G5',
						'H6=H4-H5',
						'I6=I4-I5',
						'J6=J4-J5',
						'K6=K4-K5',
						'L6=L4-L5',
						'M6=M4-M5',
						'N6=N4-N5',
						'O6=O4-O5',
						'C7=C8+C9+C10+C11+C12+C13+C14+C15+C16+C17+C18+C19+C20+C21+C22',
						'D7=D8+D9+D10+D11+D12+D13+D14+D15+D16+D17+D18+D19+D20+D21+D22',
						'E7=E8+E9+E10+E11+E12+E13+E14+E15+E16+E17+E18+E19+E20+E21+E22',
						'F7=F8+F9+F10+F11+F12+F13+F14+F15+F16+F17+F18+F19+F20+F21+F22',
						'G7=G8+G9+G10+G11+G12+G13+G14+G15+G16+G17+G18+G19+G20+G21+G22',
						'H7=H8+H9+H10+H11+H12+H13+H14+H15+H16+H17+H18+H19+H20+H21+H22',
						'I7=I8+I9+I10+I11+I12+I13+I14+I15+I16+I17+I18+I19+I20+I21+I22',
						'J7=J8+J9+J10+J11+J12+J13+J14+J15+J16+J17+J18+J19+J20+J21+J22',
						'K7=K8+K9+K10+K11+K12+K13+K14+K15+K16+K17+K18+K19+K20+K21+K22',
						'L7=L8+L9+L10+L11+L12+L13+L14+L15+L16+L17+L18+L19+L20+L21+L22',
						'M7=M8+M9+M10+M11+M12+M13+M14+M15+M16+M17+M18+M19+M20+M21+M22',
						'N7=N8+N9+N10+N11+N12+N13+N14+N15+N16+N17+N18+N19+N20+N21+N22',
						'O7=O8+O9+O10+O11+O12+O13+O14+O15+O16+O17+O18+O19+O20+O21+O22',
						'C24=C6-C7-C23',
						'D24=D6-D7-D23',
						'E24=E6-E7-E23',
						'F24=F6-F7-F23',
						'G24=G6-G7-G23',
						'H24=H6-H7-H23',
						'I24=I6-I7-I23',
						'J24=J6-J7-J23',
						'K24=K6-K7-K23',
						'L24=L6-L7-L23',
						'M24=M6-M7-M23',
						'N24=N6-N7-N23',
						'O24=O6-O7-O23',
						'C29=C24-C25-C26-C27+C28',
						'D29=D24-D25-D26-D27+D28',
						'E29=E24-E25-E26-E27+E28',
						'F29=F24-F25-F26-F27+F28',
						'G29=G24-G25-G26-G27+G28',
						'H29=H24-H25-H26-H27+H28',
						'I29=I24-I25-I26-I27+I28',
						'J29=J24-J25-J26-J27+J28',
						'K29=K24-K25-K26-K27+K28',
						'L29=L24-L25-L26-L27+L28',
						'M29=M24-M25-M26-M27+M28',
						'N29=N24-N25-N26-N27+N28',
						'O29=O24-O25-O26-O27+O28',
						'P4=C4+D4+E4+F4+G4+H4+I4+J4+K4+L4+M4+N4',
						'P5=C5+D5+E5+F5+G5+H5+I5+J5+K5+L5+M5+N5',
						'P6=C6+D6+E6+F6+G6+H6+I6+J6+K6+L6+M6+N6',
						'P7=C7+D7+E7+F7+G7+H7+I7+J7+K7+L7+M7+N7',
						'P8=C8+D8+E8+F8+G8+H8+I8+J8+K8+L8+M8+N8',
						'P9=C9+D9+E9+F9+G9+H9+I9+J9+K9+L9+M9+N9',
						'P10=C10+D10+E10+F10+G10+H10+I10+J10+K10+L10+M10+N10',
						'P11=C11+D11+E11+F11+G11+H11+I11+J11+K11+L11+M11+N11',
						'P12=C12+D12+E12+F12+G12+H12+I12+J12+K12+L12+M12+N12',
						'P13=C13+D13+E13+F13+G13+H13+I13+J13+K13+L13+M13+N13',
						'P14=C14+D14+E14+F14+G14+H14+I14+J14+K14+L14+M14+N14',
						'P15=C15+D15+E15+F15+G15+H15+I15+J15+K15+L15+M15+N15',
						'P16=C16+D16+E16+F16+G16+H16+I16+J16+K16+L16+M16+N16',
						'P17=C17+D17+E17+F17+G17+H17+I17+J17+K17+L17+M17+N17',
						'P18=C18+D18+E18+F18+G18+H18+I18+J18+K18+L18+M18+N18',
						'P19=C19+D19+E19+F19+G19+H19+I19+J19+K19+L19+M19+N19',
						'P20=C20+D20+E20+F20+G20+H20+I20+J20+K20+L20+M20+N20',
						'P21=C21+D21+E21+F21+G21+H21+I21+J21+K21+L21+M21+N21',
						'P22=C22+D22+E22+F22+G22+H22+I22+J22+K22+L22+M22+N22',
						'P23=C23+D23+E23+F23+G23+H23+I23+J23+K23+L23+M23+N23',
						'P24=C24+D24+E24+F24+G24+H24+I24+J24+K24+L24+M24+N24',
						'P25=C25+D25+E25+F25+G25+H25+I25+J25+K25+L25+M25+N25',
						'P26=C26+D26+E26+F26+G26+H26+I26+J26+K26+L26+M26+N26',
						'P27=C27+D27+E27+F27+G27+H27+I27+J27+K27+L27+M27+N27',
						'P28=C28+D28+E28+F28+G28+H28+I28+J28+K28+L28+M28+N28',
						'P29=C29+D29+E29+F29+G29+H29+I29+J29+K29+L29+M29+N29',
						'Q4=P4/12',
						'Q5=P5/12',
						'Q6=P6/12',
						'Q7=P7/12',
						'Q8=P8/12',
						'Q9=P9/12',
						'Q10=P10/12',
						'Q11=P11/12',
						'Q12=P12/12',
						'Q13=P13/12',
						'Q14=P14/12',
						'Q15=P15/12',
						'Q16=P16/12',
						'Q17=P17/12',
						'Q18=P18/12',
						'Q19=P19/12',
						'Q20=P20/12',
						'Q21=P21/12',
						'Q22=P22/12',
						'Q23=P23/12',
						'Q24=P24/12',
						'Q25=P25/12',
						'Q26=P26/12',
						'Q27=P27/12',
						'Q28=P28/12',
						'Q29=P29/12']
			var exp = new Expression("");

			function Convert(strExp)
			{
			    if (strExp == null || strExp == undefined)
			    {
			        alert ("No expression is specified!");
			        return false;
			    }

			    exp.Expression(strExp);
			    return exp.Parse();
			}

			function Compute(strExp)
			{
			    exp.Expression(strExp);
			    return exp.Evaluate();
			}
		</script>
	</head>
	<body>
		{%- if table_content != '' %}
			<script type="text/javascript">
				var content = '{{table_content}}'; 
				document.write('<form id="form_id" class="" action="" method="POST">'+unescape(content));
			</script>
		{%- else %}
		<form class="" id="form_id" action="">
		<table class="myTable">
				<caption>利润表</caption>
				<tr>
					<td class="tdCenter tdBgClr" colspan="2"><b>项目</b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b><input type="text" name="" value="年月"/></b></td>
					<td class="tdCenter tdBgClr"><b>调查当月</b></td>
					<td class="tdCenter tdBgClr"><b>总计</b></td>
					<td class="tdCenter tdBgClr"><b>月平均</b></td>
				</tr>
				<tr>
					<td class="tdBgClr" colspan="2"><b>主营业务收入</b></td>
					<td class="tdCenter"><input type="text" name="C4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O4" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P4" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q4" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr" colspan="2"><b>可变成本（成本率）</b></td>
					<td class="tdCenter"><input type="text" name="C5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O5" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P5" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q5" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr" colspan="2"><b>毛利= (1)-(2)</b></td>
					<td class="tdCenter"><input type="text" name="C6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="D6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="E6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="F6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="G6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="H6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="I6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="J6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="K6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="L6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="M6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="N6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="O6" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="P6" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q6" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr" colspan="2"><b>营业费用合计</b></td>
					<td class="tdCenter"><input type="text" name="C7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="D7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="E7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="F7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="G7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="H7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="I7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="J7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="K7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="L7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="M7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="N7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="O7" value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="P7" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q7" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">1</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O8" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P8" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q8" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">2</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O9" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P9" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q9" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">3</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O10" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P10" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q10" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">4</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O11" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P11" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q11" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">5</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O12" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P12" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q12" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">6</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O13" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P13" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q13" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">7</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O14" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P14" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q14" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">8</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O15" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P15" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q15" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">9</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O16" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P16" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q16" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">10</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O17" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P17" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q17" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">11</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O18" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P18" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q18" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">12</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O19" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P19" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q19" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">13</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O20" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P20" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q20" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">14</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O21" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P21" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q21" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">15</td>
					<td class="tdBgClr"><input type="text" name="" style="width:100px"/></td>
					<td class="tdCenter"><input type="text" name="C22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O22" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P22" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q22" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr" colspan="2" style="text-align:right">分期还款（经营）<b>(4)</b></td>
					<td class="tdCenter"><input type="text" name="C23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O23" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P23" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q23" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr" colspan="2"><b>净利润=(1)-(2)-(3)-(4)</b></td>
					<td class="tdCenter"><input type="text" name="C24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="D24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="E24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="F24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="G24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="H24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="I24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="J24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="K24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="L24"  value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="M24"  value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="N24"  value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="O24"  value="0"readonly/></td>
					<td class="tdCenter"><input type="text" name="P24" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q24" id="Q24" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">1</td>
					<td class="tdBgClr">家庭开支</td>
					<td class="tdCenter"><input type="text" name="C25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O25" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P25" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q25" value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">2</td>
					<td class="tdBgClr">分期付款(私人用途)</td>
					<td class="tdCenter"><input type="text" name="C26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O26" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P26" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q26"  value="0"readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">3</td>
					<td class="tdBgClr">其它开支</td>
					<td class="tdCenter"><input type="text" name="C27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O27" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P27" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q27"  value="0"readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">4</td>
					<td class="tdBgClr">其它收入</td>
					<td class="tdCenter"><input type="text" name="C28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="D28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="E28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="F28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="G28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="H28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="I28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="J28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="K28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="L28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="M28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="N28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="O28" value="0"/></td>
					<td class="tdCenter"><input type="text" name="P28" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q28"  value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr" colspan="2" style="text-align:right"><b>每月可支配资金</b></td>
					<td class="tdCenter"><input type="text" name="C29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="D29"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="E29"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="F29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="G29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="H29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="I29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="J29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="K29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="L29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="M29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="N29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="O29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="P29" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="Q29" value="0" readonly/></td>
				</tr>
			</table>
		
		<div class="pagebar">			
			<div class="controlbtn">
				<input type="button" class="btn btn-info" id="id_count_button" value="计算">
				<input type="button" class="btn btn-info" id="id_save_button" value="提交">
			</div>
		</div>
		{%- endif %}
		</form>
		<script type="text/javascript">
    	 $(document).ready(function() {
				data = "{{content}}";
				data_content = "{{table_content}}";
				if(data_content==''&&data!=''){
					content = data.split("@@");
					$("input,Textarea").each(function(i){
						if($(this).attr("type")!='button'){
							$(this).val(content[i]);
						}
					});
				}
			//前端验证
			$('#form_id').validationEngine();
			
			$("#id_count_button").click(function() {
				for(index in rules){
					var rule = rules[index];
					var sum_name = rule.split("=")[0];
					var strExp = rule.split("=")[1];
					//将编码换成数值
					var code = "";
					var sb = "";
					for(var i = 0;i<strExp.length;i++){
						if("^,*,/,%,+,-,(,)".indexOf(strExp[i])<0){
							code += strExp[i];
						}
						else{
							if(code != ""){
								sb += $("input[name='"+code+"']").val();
								code = "";
							}
							sb += strExp[i];
						}
					}
					if(code != ""){
						var reg= /^[A-Za-z]+$/;
						if(reg.test(code[0])){
							sb += $("input[name='"+code+"']").val();
						}else{
							sb += code;
						}
						code = "";
					}
					$("input[name='"+sum_name+"']").val(Compute(sb));
					exp.Reset();
				}
			})
			$("#id_save_button").click(function() {
				if(!submitFlag){
						alert("正在处理，请勿重复提交!");
						return;
				}
				submitFlag = false;
				// 前端验证 
				if($('#form_id').validationEngine('validate')){
					//获取小微贷月可支值（还款能力）
					var month_value = document.getElementById("Q24").value;
					//submit
					var b = new Base64(); 
					updateAllDOMFields(document.getElementById("form_id"));
					var content = {'content':b.encode(escape($("#form_id").html()))};
					var url = "/customer/lrb_static_save/{{id}}/"+month_value;
					$.ajax({
						url : url,
						type : "POST",
						data:content,
						success : function(data) {
							window.location.reload();
							submitFlag = true;
						}
					});
				}else{
					submitFlag = true;
				}
			})

			})
		</script>
	</body>
</html>