<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../static/js/date/lhgcore.js"></script>
		<script src="../../static/js/date/lhgcalendar.js"></script>
		<style type="text/css">
			label{display:inline-block;width:95px;text-align:right;margin-right:5px;}
			.myTable td{font-size:13px;}
			select{max-width:120px;}
		</style>
	</head>
	<body>	
		<form class="iframeForm">
<!--*****************************资产状况**********************************-->			
			<table class="myTable">
				<caption>资产状况</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td rowspan="2"><b>房子</b></td>
					<td><b>自有</b></td>
                    <td>
						<table class="addTable">
							<tr>
								<th>按揭/全额付款</th>
								<th>房产数量</th>
								<th>地址</th>
								<th>购买日期</th>
								<th>当前市价总值</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>按揭</option>
										<option>全额付款</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>≥5套</option>
										<option>4套</option>
										<option>3套</option>
										<option>2套</option>
										<option>1套</option>
									</select>
								</td>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"  onclick="J.calendar.get({type:'-'});"/></td>
								<td>
									<select	name="">
										<option>≥1亿</option>
										<option>5000万-1亿元</option>
										<option>3000-5000万</option>
										<option>1000-3000万</option>
										<option>500-1000万</option>
										<option>300-500万</option>
										<option>100-300万</option>
										<option>≤100万</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>住房面积平均值/套</th>
								<th>装修情况</th>
								<th>居住年限</th>
								<th colspan ="2">房间格局</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>≥500㎡/套</option>
										<option>400-500㎡/套</option>
										<option>300-400㎡/套</option>
										<option>200-300㎡/套</option>
										<option>100-200㎡/套</option>
										<option>≤100㎡/套</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>精装</option>
										<option>简装</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>≥50年</option>
										<option>40-50年</option>
										<option>30-40年</option>
										<option>20-30年</option>
										<option>10-20年</option>
										<option>5-10年</option>
										<option>≤5年</option>
									</select>
								</td>
								<td colspan ="2">
									<select	name="">
										<option>朝南</option>
										<option>朝北</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
                    <td><b>租赁</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>数量</th>
								<th>平均面积/套</th>
								<th>总租金/月</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>≥5套</option>
										<option>4套</option>
										<option>3套</option>
										<option>2套</option>
										<option>1套</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>≥500㎡/套</option>
										<option>400-500㎡/套</option>
										<option>300-400㎡/套</option>
										<option>200-300㎡/套</option>
										<option>100-200㎡/套</option>
										<option>≤100㎡/套</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>≥5万元</option>
										<option>3-5万元</option>
										<option>1-3万元</option>
										<option>5000元-1万元</option>
										<option>3000-5000元</option>
										<option>≤3000元</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td><b>车辆</b></td>
                    <td></td>
                    <td>
						<table class="addTable">
							<tr>
								<th>车辆数量</th>
								<th>购买价格（总额）</th>
								<th>平均使用时间</th>
								<th>品牌、型号</th>
								<th>车牌购置方式</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>≥5辆</option>
										<option>4辆</option>
										<option>3辆</option>
										<option>2辆</option>
										<option>1辆</option>
										<option>0辆</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>≥3000万</option>
										<option>2000-3000万</option>
										<option>1000-2000万</option>
										<option>500-1000万</option>
										<option>300-500万</option>
										<option>100-300万</option>
										<option>50-100万</option>
										<option>20-50万</option>
										<option>10-20万</option>
										<option>≤10万</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>≤1年</option>
										<option>1-3年</option>
										<option>3-5年</option>
										<option>≥5年</option>
									</select>
								</td>
								<td><input type="text" class="addinput"/></td>
								<td>
									<select	name="">
										<option>竞拍/摇号</option>
										<option>常规上牌方式</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
<!--*****************************生活环境**********************************-->			
			<table class="myTable">
				<caption>生活环境</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td><b>居住区的客观环境</b></td>
					<td></td>
                    <td>
						<table class="addTable">
							<tr>
								<th>安全性</th>
								<th>健康性</th>
								<th>便利性</th>
								<th>舒适性</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>安全</option>
										<option>一般</option>
										<option>不安全</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>健康</option>
										<option>一般</option>
										<option>不健康</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>便利</option>
										<option>一般</option>
										<option>不便利</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>舒适</option>
										<option>一般</option>
										<option>不舒适</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>居住区的人文环境</b></td>
					<td><b>邻里社会特征</b></td>
                    <td>
						<table class="addTable">
							<tr>
								<th>邻居的友好程度</th>
								<th>居民平均教育水平  </th>
								<th>职业种类</th>
								<th>经济收入水平</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>友好</option>
										<option>一般</option>
										<option>无接触</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>硕士</option>
										<option>本科</option>
										<option>高中</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>公务员/事业单位</option>
										<option>生意人</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>金领水平</option>
										<option>白领水平</option>
										<option>蓝领水平</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>	
			</table>
<!--*****************************生活时间分配**********************************-->			
			<table class="myTable">
				<caption>生活时间分配</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td><b>工作时间</b></td>
					<td><b>每天工作时间(小时)</b></td>                    
					<td>
						<select	name="">
							<option>>8小时</option>
							<option>8小时</option>
							<option><8小时</option>
						</select>
					</td>
				</tr>	
				<tr>
					<td rowspan="2"><b>休息时间</b></td>
					<td><b>休闲娱乐活动</b></td>
                   <td>
						<select	name="">
							<option>经常</option>
							<option>偶尔</option>
							<option>无</option>
						</select>
					</td>
				</tr>	
				<tr>
					<td><b>户外活动</b></td>
					<td>
						<select	name="">
							<option>经常</option>
							<option>偶尔</option>
							<option>无</option>
						</select>
					</td>
				</tr>
			</table>
<!--*****************************收入来源**********************************-->			
			<table class="myTable">
				<caption>收入来源</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td><b>企业经营</b></td>
					<td></td>
                    <td>
						<table class="addTable">
							<tr>
								<th>店铺/公司名称</th>
								<th>法定代表人</th>
								<th>实际控制人</th>
								<th>股权集中度</th>
								<th>股权构成</th>								
								<th colspan="2">主营业务经营范围</th>
							</tr>
							<tr>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td>
									<select	name="">
										<option>股权高度集中</option>
										<option>股权平衡</option>
										<option>股权高度分散</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>国家股东+法人股东+社会公众股东</option>
										<option>国家股东+法人股东</option>
										<option>法人股东+社会公众股东</option>
									</select>
								</td>
								<td colspan="2"><input type="text" class="addinput"/></td>
							</tr>
							<tr>
								<th>店铺/公司固定电话</th>
								<th>经营地址</th>
								<th>经营年限</th>
								<th>雇员人数</th>
								<th>经营场所面积</th>								
								<th>店铺类型</th>		
							</tr>
							<tr>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td>
									<select	name="">
										<option>>20年</option>
										<option>15-20年</option>
										<option>10-15年</option>
										<option>5-10年</option>
										<option>3-5年</option>
										<option>1-3年</option>
										<option><1年</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>>10000人</option>
										<option>5000-10000人</option>
										<option>1000-5000人</option>
										<option>500-1000人</option>
										<option>150-500人</option>
										<option>50-150人</option>
										<option><50人</option>
									</select>
								</td>
								<td><input type="text" class="addinput"/></td>
								<td>
									<select	name="">
										<option>贸易</option>
										<option>制造</option>
										<option>服务</option>
										<option>养殖</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>其他收入来源</b></td>
					<td><b>第二职业</b></td>
                    <td>
						<select	name="">
							<option>事业单位/公务员</option>
							<option>私企员工</option>
						</select>
					</td>
				</tr>
			</table>
<!--*****************************社会福利**********************************-->			
			<table class="myTable">
				<caption>社会福利</caption>
				<colgroup>
					<col width="13%">
					<col width="37%">
					<col width="13%">
					<col width="37%">
				</colgroup>
				<tr>
					<td><b>社会保险</b></td>                  
					<td>
						<select	name="">
							<option>有</option>
							<option>无</option>
						</select>
					</td>
					<td><b>公积金</b></td>                  
					<td>
						<select	name="">
							<option>有</option>
							<option>无</option>
						</select>
					</td>
				</tr>	
			</table>
<!--*****************************收入分配**********************************-->			
			<table class="myTable">
				<caption>收入分配</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td rowspan="2"><b>日常生活消费</b></td>  
					<td><b>消费结构</b></td>                     
					<td>
						<table class="addTable">
							<tr>
								<th>衣</th>
								<th>食</th>
								<th>住</th>
								<th>行</th>
								<th>其他</th>
							</tr>
							<tr>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>消费习惯</b></td>                     
					<td>
						<select	name="">
							<option>信用卡+现金</option>
							<option>现金</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>理财结构</b></td>  
					<td><b>储蓄、保险、理财产品、房地产、高风险产品占比</b></td>                     
					<td>
						<select	name="">
							<option>稳健型</option>
							<option>风险偏好型</option>
							<option>风险厌恶型</option>
						</select>
					</td>
				</tr>	
			</table>
<!--*****************************健康状况**********************************-->			
			<table class="myTable">
				<caption>健康状况</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td><b>生理健康</b></td>  
					<td><b></b></td>                     
					<td>
						<table class="addTable">
							<tr>
								<th>食欲状况</th>
								<th>睡眠质量</th>
								<th>定期体检</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>良好</option>
										<option>一般</option>
										<option>差</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>8小时</option>
										<option>>8小时</option>
										<option><8小时</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>1年</option>
										<option>2年</option>
										<option>>2年</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>心理健康</b></td>  
					<td><b></b></td>                     
					<td>
						<table class="addTable">
							<tr>
								<th>记忆状况</th>
								<th>有无消极感受</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>从不忘记任何事</option>
										<option>偶尔忘记事情</option>
										<option>时常忘记事情</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>无</option>
										<option>偶尔</option>
										<option>经常</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>	
			</table>
<!--*****************************家庭关系**********************************-->			
			<table class="myTable">
				<caption>家庭关系</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td><b>与配偶的情感关系</b></td>  
					<td><b></b></td>                     
					<td>
						<select	name="">
							<option>与配偶感情非常好</option>
							<option>偶尔吵架</option>
							<option>经常吵架</option>
						</select>
						<table class="addTable">
							<tr>
								<th>配偶姓名</th>
								<th>配偶工作单位</th>
								<th>配偶身份证号码</th>
								<th>配偶移动电话</th>
							</tr>
							<tr>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>与家庭其他成员关系</b></td>  
					<td><b></b></td>                     
					<td>
						<select	name="">
							<option>相处和睦</option>
							<option>偶尔吵架</option>
							<option>经常吵架</option>
						</select>
					</td>
				</tr>	
				<tr>
					<td><b>家庭角色的发挥程度</b></td>  
					<td><b></b></td>                     
					<td><input type="text"/></td>
				</tr>	
				<tr>
					<td><b>参与家庭事务决策能力</b></td>  
					<td><b></b></td>                     
					<td>
						<select	name="">
							<option>家庭主要决策人</option>
							<option>偶尔参与决策</option>
							<option>从不参与决策</option>
						</select>
					</td>
				</tr>	
			</table>
<!--*****************************社交状况**********************************-->			
			<table class="myTable">
				<caption>社交状况</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td><b>频繁程度</b></td>  
					<td><b>聚会的次数/周</b></td>                     
					<td>
						<select	name="">
							<option>每天</option>
							<option>5-6次</option>
							<option>3-5次</option>
							<option>1-3次</option>
							<option>无</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><b>交友状况</b></td>  
					<td><b></b></td>                     
					<td>
						<table class="addTable">
							<tr>
								<th>朋友的工作</th>
								<th>朋友的学历</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>公务员/事业单位</option>
										<option>做生意</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>硕士</option>
										<option>本科</option>
										<option>高中</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
<!--*****************************资产负债状况**********************************-->			
			<table class="myTable">
				<caption>资产负债状况</caption>
				<colgroup>
					<col width="13%">
					<col width="13%">
					<col width="74%">
				</colgroup>
				<tr>
					<td rowspan="2"><b>资产</b></td>  
					<td><b>储蓄账户</b></td>            
					<td>
						<table class="addTable">
							<tr>
								<th rowspan="2">生意帐户</th>
								<th>开户行</th>
								<th>开户账号</th>
								<th>储蓄金额</th>
							</tr>
							<tr>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td>
									<select	name="">
										<option>≥5000万</option>
										<option>3000-5000万</option>
										<option>1000-3000万</option>
										<option>500-1000万</option>
										<option>300-500万</option>
										<option>≤300万</option>
									</select>
								</td>
							</tr>
							<tr>
								<th rowspan="2">个人银行帐户</th>
								<th>主要银行开户行</th>
								<th>主要账户号</th>
								<th>储蓄金额</th>
							</tr>
							<tr>
								<td><input type="text" class="addinput"/></td>
								<td><input type="text" class="addinput"/></td>
								<td>
									<select	name="">
										<option>≥1000万</option>
										<option>500-1000万</option>
										<option>300-500万</option>
										<option>100-300万</option>
										<option>50-100万</option>
										<option>≤50万</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>其他应收账款</b></td>            
					<td>
						<table class="addTable">
							<tr>
								<th>借出日期</th>
								<th>回收期限</th>
								<th>金额占储蓄比例</th>
								<th>收息</th>
							</tr>
							<tr>
								<td><input type="text" class="addinput" onclick="J.calendar.get({type:'-'});"/></td>
								<td>
									<select	name="">
										<option>≤1年</option>
										<option>1-2年</option>
										<option>2-3年</option>
										<option>>3年</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>≥30%</option>
										<option>20%-30%</option>
										<option>10%-20%</option>
										<option>5%-10%</option>
										<option><5%</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option><1000元</option>
										<option>1000-3000元</option>
										<option>3000-5000元</option>
										<option>>5000元</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td rowspan="3"><b>负债</b></td>  
					<td><b>贷记卡</b></td>            
					<td>
						<table class="addTable">
							<tr>
								<th>信用卡总数</th>
								<th>单卡最高授信额度</th>
								<th>已用额度</th>
								<th>逾期情况</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>3张以上</option>
										<option>2张</option>
										<option>1张</option>
										<option>0张</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>>200万</option>
										<option>100-200万</option>
										<option>50-100万</option>
										<option>30-50万</option>
										<option>10-30万</option>
										<option><10万</option>
									</select>
								</td>
								<td><input type="text" class="addinput"/></td>								
								<td>
									<select	name="">
										<option>10次以上</option>
										<option>8-10次</option>
										<option>6-7次</option>
										<option>4-5次</option>
										<option>2-3次</option>
										<option>1次</option>
										<option>0次</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>银行贷款</b></td>            
					<td>
						<b>历史贷款笔数</b>
						<table class="addTable">
							<tr>
								<th>放款日期</th>
								<th>贷款机构</th>
								<th>贷款金额</th>
								<th colspan="2">利率</th>
							</tr>
							<tr>
								<td><input type="text" class="addinput" onclick="J.calendar.get({type:'-'});"/></td>
								<td>
									<select	name="">
										<option>农商行</option>
										<option>城商行</option>
										<option>国有4大行</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>>1000万</option>
										<option>500-1000万</option>
										<option><500万</option>
									</select>
								</td>								
								<td colspan="2">
									<select	name="">
										<option>高于一般水平</option>
										<option>一般水平</option>
										<option>低于一般水平</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>期限</th>
								<th>用途</th>
								<th>还款日期</th>
								<th>是否有担保</th>
								<th>逾期情况</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>>1年</option>
										<option>6个月-1年</option>
										<option><6个月</option>
									</select>
								</td>								
								<td>
									<select	name="">
										<option>房贷</option>
										<option>车贷</option>
										<option>经营</option>
										<option>消费</option>
									</select>
								</td>
								<td><input type="text" class="addinput" onclick="J.calendar.get({type:'-'});"/></td>
								<td>
									<select	name="">
										<option>是</option>
										<option>否</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>10次以上</option>
										<option>8-10次</option>
										<option>6-7次</option>
										<option>4-5次</option>
										<option>2-3次</option>
										<option>1次</option>
										<option>0次</option>
									</select>
								</td>
							</tr>
						</table>
						<b>尚未到期笔数</b>
						<table class="addTable">
							<tr>
								<th>放款日期</th>
								<th>贷款机构</th>
								<th>贷款金额</th>
								<th colspan="2">利率</th>
							</tr>
							<tr>
								<td><input type="text" class="addinput" onclick="J.calendar.get({type:'-'});"/></td>
								<td>
									<select	name="">
										<option>农商行</option>
										<option>城商行</option>
										<option>国有4大行</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>>1000万</option>
										<option>500-1000万</option>
										<option><500万</option>
									</select>
								</td>								
								<td colspan="2">
									<select	name="">
										<option>高于一般水平</option>
										<option>一般水平</option>
										<option>低于一般水平</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>期限</th>
								<th>用途</th>
								<th>还款日期</th>
								<th>是否有担保</th>
								<th>逾期情况</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>>1年</option>
										<option>6个月-1年</option>
										<option><6个月</option>
									</select>
								</td>								
								<td>
									<select	name="">
										<option>房贷</option>
										<option>车贷</option>
										<option>经营</option>
										<option>消费</option>
									</select>
								</td>
								<td><input type="text" class="addinput" onclick="J.calendar.get({type:'-'});"/></td>
								<td>
									<select	name="">
										<option>是</option>
										<option>否</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>10次以上</option>
										<option>8-10次</option>
										<option>6-7次</option>
										<option>4-5次</option>
										<option>2-3次</option>
										<option>1次</option>
										<option>0次</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>其他借款</b></td>            
					<td>
						<table class="addTable">
							<tr>
								<th>借款来源</th>
								<th>借款金额</th>
								<th>利率</th>
								<th>期限</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>民间借贷</option>
										<option>小额借款公司</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>>1000万</option>
										<option>500-1000万</option>
										<option><500万</option>
									</select>
								</td>								
								<td>
									<select	name="">
										<option>高于一般水平</option>
										<option>一般水平</option>
										<option>低于一般水平</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>>1年</option>
										<option>6个月-1年</option>
										<option>3个月-6个月</option>
										<option><3个月</option>
									</select>
								</td>							
							</tr>
							<tr>
								<th>用途</th>
								<th>借款日期</th>
								<th>剩余还款期限</th>
								<th>是否正常还款</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>经营</option>
										<option>消费</option>
										<option>其他</option>
									</select>
								</td>
								<td><input type="text" class="addinput" onclick="J.calendar.get({type:'-'});"/></td>
								<td>
									<select	name="">
										<option>1年</option>
										<option>6个月-1年</option>
										<option>3个月-6个月</option>
										<option><3个月</option>
									</select>
								</td>								
								<td>
									<select	name="">
										<option>是</option>
										<option>否</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>担保情况</b></td>
					<td><b></b></td> 
					<td>
						<table class="addTable">
							<tr>
								<th>是否为其他人担保</th>
								<th>担保金额</th>
								<th>担保贷款用途</th>
								<th>担保期限</th>
							</tr>
							<tr>
								<td>
									<select	name="">
										<option>高中</option>
										<option>本科</option>
										<option>硕士</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>>100%</option>
										<option>50%-100%</option>
										<option>10%-50%</option>
										<option>5%-10%</option>
										<option><5%</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>经营</option>
										<option>其他</option>
									</select>
								</td>
								<td>
									<select	name="">
										<option>5年以上</option>
										<option>3-5年</option>
										<option>2年</option>
										<option>1年</option>
										<option><1年</option>
									</select>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" href="#" onclick="" title="提交">提交</a>
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
	</body>
</html>