<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../static/js/date/lhgcore.js"></script>
		<script src="../../static/js/date/lhgcalendar.js"></script>
		<style type="text/css">			
			.myTable td{font-size:13px;text-align:center;}
			input[type=text]{width:80px;}
		</style>
	</head>
	<body>		
		<form class="iframeForm">
<!--*****************************道德品质**********************************-->
			<table class="myTable">
				<caption>道德品质</caption>			
		<!--*****************************家庭情况**********************************-->
				<tr>
					<td rowspan="4"><b>家庭情况</b><br/><input type="text" name="" value="20%"/></td>
					<td rowspan="2"><b>家庭成员状况</b><br/><input type="text" name="" value="20%"/></td>
					<td><b>家庭其他成员经济收入来源</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="50"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>不良嗜好</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="20"/></td>
								<td><input type="text" name="" value="100"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>婚姻状况</b><br/><input type="text" name="" value="50%"/></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>已婚</th>
								<th>未婚</th>
								<th>离异</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="60"/></td>
								<td><input type="text" name="" value="30"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>家庭结构类型</b><br/><input type="text" name="" value="30%"/></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th colspan="2">夫妻个体家庭</th>
								<th rowspan="2">离异组合家庭</th>								
								<th rowspan="2">核心家庭</th>							
								<th rowspan="2">主干家庭</th>						
								<th rowspan="2">其他家庭</th>
							</tr>
							<tr>
								<th>生育</th>
								<th>未生育</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="80"/></td>
								<td><input type="text" name="" value="60"/></td>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="80"/></td>
							</tr>
						</table>
					</td>
				</tr>
		<!--*****************************知识水平**********************************-->
				<tr>
					<td><b>知识水平</b><br/><input type="text" name="" value="5%"/></td>
					<td><b>教育程度</b></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>本科及以上</th>
								<th>大专</th>
								<th>高中或中专</th>
								<th>初中及以下</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="80"/></td>
								<td><input type="text" name="" value="60"/></td>
								<td><input type="text" name="" value="40"/></td>
							</tr>
						</table>
					</td>
				</tr>	
		<!--*****************************素质评估**********************************-->
				<tr>
					<td rowspan="4"><b>素质评估</b><br/><input type="text" name="" value="15%"/></td>
					<td><b>公众形象</b><br/><input type="text" name="" value="30%"/></td>
					<td><b>他人评价</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>好</th>
								<th>一般</th>
								<th>差</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="60-80"/></td>
								<td><input type="text" name="" value="30"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td rowspan="2"><b>健康状况</b><br/><input type="text" name="" value="35%"/></td>
					<td><b>定时体检</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>良好</th>
								<th>轻微疾病</th>
								<th>重大疾病</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="50-90"/></td>
								<td><input type="text" name="" value="20-50"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>运动情况</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有运动习惯</th>
								<th>无运动习惯</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="80"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>不良嗜好</b><br/><input type="text" name="" value="35%"/></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有涉毒、涉赌、涉黄嗜好</th>
								<th>无不良嗜好</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="0"/></td>
								<td><input type="text" name="" value="100"/></td>
							</tr>
						</table>
					</td>
				</tr>	
		<!--*****************************信用记录**********************************-->
				<tr>
					<td rowspan="9"><b>信用记录</b><br/><input type="text" name="" value="50%"/></td>
					<td><b>违法情况及犯罪行为</b><br/><input type="text" name="" value="20%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>刑事案件--涉毒、涉黄、涉赌</th>
								<th>经济案件--行贿、受贿、逃税漏税</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="0"/></td>
								<td><input type="text" name="" value="0"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>在银行系统有无逾期</b><br/><input type="text" name="" value="15%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th colspan="2">征信报告无逾期</th>
								<td><input type="text" name="" value="100"/></td>
							</tr>
							<tr>
								<th rowspan="5">征信报告有逾期</th>
								<th>24个月内无逾期，5年内有逾期</th>
								<td><input type="text" name="" value="80"/></td>
							</tr>
							<tr>
								<th>24个月内有逾期（逾期<5次），无连续逾期，5年内有逾期</th>
								<td><input type="text" name="" value="70"/></td>
							</tr>
							<tr>
								<th>24个月内有逾期（逾期<5次），无连续逾期，5年内无逾期</th>
								<td><input type="text" name="" value="60"/></td>
							</tr>
							<tr>
								<th>24个月内有逾期（逾期<5次），且为连续逾期，5年内有逾期</th>
								<td><input type="text" name="" value="50"/></td>
							</tr>
							<tr>
								<th>24个月内逾期≥5次</th>
								<td><input type="text" name="" value="20"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>应付账款长期赖账</b><br/><input type="text" name="" value="15%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="20"/></td>
								<td><input type="text" name="" value="100"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>是否拖欠税费、水电煤气费</b><br/><input type="text" name="" value="15%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>是</th>
								<th>否</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="20"/></td>
								<td><input type="text" name="" value="100"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>拖欠其他私人债务</b><br/><input type="text" name="" value="15%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>是</th>
								<th>否</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="20"/></td>
								<td><input type="text" name="" value="100"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>火车、地铁逃票</b><br/><input type="text" name="" value="8%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="20"/></td>
								<td><input type="text" name="" value="100"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>交通违章</b><br/><input type="text" name="" value="8%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="20"/></td>
								<td><input type="text" name="" value="100"/></td>
							</tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td><b>电话欠费</b><br/><input type="text" name="" value="2%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="20"/></td>
								<td><input type="text" name="" value="100"/></td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr>
					<td><b>签证记录</b><br/><input type="text" name="" value="2%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>无拒签记录</th>
								<th>有拒签记录</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="20"/></td>
							</tr>
						</table>
					</td>
				</tr>
			<!--*****************************社交好友**********************************-->
				<tr>
					<td rowspan="2"><b>社交好友</b><br/><input type="text" name="" value="5%"/></td>
					<td><b>朋友工作</b><br/><input type="text" name="" value="70%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>企事业单位</th>
								<th>个体工商户</th>
								<th>无业</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="90"/></td>
								<td><input type="text" name="" value="50"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>朋友学历</b><br/><input type="text" name="" value="30%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>本科及以上学历</th>
								<th>大专</th>
								<th>高中及中专</th>
								<th>初中及以下学历</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="90"/></td>
								<td><input type="text" name="" value="80"/></td>
								<td><input type="text" name="" value="60"/></td>
							</tr>
						</table>
					</td>
				</tr>	
			<!--*****************************公益行为**********************************-->
				<tr>
					<td><b>公益行为</b><br/><input type="text" name="" value="4%"/></td>
					<td><b>有无公益活动</b></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>捐款</th>
								<th>志愿者活动</th>
								<th>无公益活动</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="80"/></td>
							</tr>
						</table>
					</td>
				</tr>	
			<!--*****************************信仰状况**********************************-->
				<tr>
					<td rowspan="2"><b>信仰状况</b><br/><input type="text" name="" value="1%"/></td>
					<td><b>宗教信仰</b><br/><input type="text" name="" value="50%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th colspan="2">有宗教信仰</th>
								<th rowspan="2">无宗教信仰</th>
							</tr>
							<tr>
								<th>佛教、基督教、伊斯兰教等基本教</th>
								<th>法轮功、邪教组织、ISIS、恐怖组织</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="80"/></td>
								<td><input type="text" name="" value="0"/></td>
								<td><input type="text" name="" value="80"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>信仰</b><br/><input type="text" name="" value="50%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100"/></td>
								<td><input type="text" name="" value="80"/></td>
							</tr>
						</table>
					</td>
				</tr>	
			</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" href="#" onclick="" title="提交">提交</a>
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
		<script type="text/javascript">
			
		</script>
	</body>
</html>