<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../templates/mxpg/cspz_ddpz_validation.js.js"></script>
		<script src="../../static/js/jquery.validate.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../static/js/date/lhgcore.js"></script>
		<script src="../../static/js/date/lhgcalendar.js"></script>
		<style type="text/css">			
			.myTable td{font-size:13px;text-align:center;}
			input[type=text]{width:80px;}
		</style>
	</head>
	<body onload="setTimeOut();">		
		<form class="iframeForm" id="iframeForm">
			<div id="formsId">
			{%- with messages = get_flashed_messages(with_categories=true) %}
				  	{%- if messages %}
			    	{%- for category, message in messages %}
			    	<div class="alert alert-{{category}}">
			      		{{message}}
			      	</div>
			    	{%- endfor %}
				  	{%- endif %}
				{%- endwith %}
<!--*****************************道德品质**********************************-->
			<table class="myTable">
				<caption>道德品质</caption>			
		<!--*****************************家庭情况**********************************-->
				<tr>
					<td rowspan="6"><b>家庭情况</b><br/><input type="text" name="name1" value="" onkeyup="value=value.replace(/[^\d]/g,'')"/>%</td>
					<td rowspan="5"><b>家庭成员状况</b><br/><input type="text" name="name2" />%</td>
					<td><b>经济收入来源</b><br/><input type="text" name="name3" />%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name4" /></td>
								<td><input type="text" name="name5" /></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>家庭成员不良嗜好</b><br/><input type="text" name="name6" />%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name7" /></td>
								<td><input type="text" name="name8" /></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>健康状况</b><br/><input type="text" name="name13" />%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>健康良好</th>
								<th>健康一般</th>
								<th>短期轻微疾病</th>
								<th>长期慢性疾病</th>
								<th>可治愈重大疾病</th>
								<th>不可治愈重大疾病</th>
							</tr>
							<tr>
								<td><input type="text" name="name14" /></td>
								<td><input type="text" name="name15" /></td>
								<td><input type="text" name="name16" /></td>
								<td><input type="text" name="name17" /></td>
								<td><input type="text" name="name18" /></td>
								<td><input type="text" name="name19" /></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>家庭成员违法犯罪</b><br/><input type="text" name="name96" />%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>无违法犯罪</th>
								<th>有违法犯罪</th>
							</tr>
							<tr>
								<td><input type="text" name="name97" /></td>
								<td><input type="text" name="name98" /></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>家庭成员宗教信仰</b><br/><input type="text" name="name99" />%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>无宗教信仰/有佛教、基督教、伊斯兰教等合法宗教信仰</th>
								<th>有法轮功、邪教、ISIS、恐怖组织等非法宗教信仰</th>
							</tr>
							<tr>
								<td><input type="text" name="name100" /></td>
								<td><input type="text" name="name101" /></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>婚姻状况</b><br/><input type="text" name="name9" />%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>已婚</th>
								<th>未婚</th>
								<th>离异</th>
							</tr>
							<tr>
								<td><input type="text" name="name10" /></td>
								<td><input type="text" name="name11" /></td>
								<td><input type="text" name="name12" /></td>
							</tr>
						</table>
					</td>
				</tr>	
				
		<!--*****************************知识水平**********************************-->
				<tr>
					<td><b>教育程度</b><br/><input type="text" name="name20" />%</td>
					<td><b>学历</b></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>本科及以上</th>
								<th>大专</th>
								<th>高中或中专</th>
								<th>初中及以下</th>
							</tr>
							<tr>
								<td><input type="text" name="name21"/></td>
								<td><input type="text" name="name22" /></td>
								<td><input type="text" name="name23"/></td>
								<td><input type="text" name="name24" /></td>
							</tr>
						</table>
					</td>
				</tr>	
		<!--*****************************素质评估**********************************-->
				<tr>
					<td rowspan="4"><b>素质评估</b><br/><input type="text" name="name25" />%</td>
					<td><b>公众形象</b><br/><input type="text" name="name26" />%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>好</th>
								<th>一般</th>
								<th>差</th>
							</tr>
							<tr>
								<td><input type="text" name="name27" /></td>
								<td><input type="text" name="name28" /></td>
								<td><input type="text" name="name29"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>健康状况</b><br/><input type="text" name="name31"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>良好</th>
								<th>轻微疾病</th>
								<th>重大疾病</th>
							</tr>
							<tr>
								<td><input type="text" name="name32"/></td>
								<td><input type="text" name="name33" /></td>
								<td><input type="text" name="name34" /></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>运动情况</b><br/><input type="text" name="name35" />%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有运动习惯</th>
								<th>无运动习惯</th>
							</tr>
							<tr>
								<td><input type="text" name="name36" /></td>
								<td><input type="text" name="name37" /></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>不良嗜好</b><br/><input type="text" name="name38"/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有涉毒、涉赌、涉黄嗜好</th>
								<th>无不良嗜好</th>
							</tr>
							<tr>
								<td><input type="text" name="name39" /></td>
								<td><input type="text" name="name40" /></td>
							</tr>
						</table>
					</td>
				</tr>	
		<!--*****************************信用记录**********************************-->
				<tr>
					<td rowspan="9"><b>信用记录</b><br/><input type="text" name="name41" />%</td>
					<td><b>违法情况及犯罪行为</b><br/><input type="text" name="name42" />%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>无</th>
								<th>刑事案件--涉毒、涉黄、涉赌</th>
								<th>经济案件--行贿、受贿、逃税漏税</th>
							</tr>
							<tr>
								<td><input type="text" name="name95" /></td>
								<td><input type="text" name="name43" /></td>
								<td><input type="text" name="name44" /></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>征信报告</b><br/><input type="text" name="name45" />%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th colspan="2">征信报告无逾期</th>
								<td><input type="text" name="name46"/></td>
							</tr>
							<tr>
								<th rowspan="5">征信报告有逾期</th>
								<th>24个月内无逾期，5年内有逾期</th>
								<td><input type="text" name="name47" /></td>
							</tr>
							<tr>
								<th>24个月内有逾期（逾期<5次），无连续逾期，5年内有逾期</th>
								<td><input type="text" name="name48" /></td>
							</tr>
							<tr>
								<th>24个月内有逾期（逾期<5次），无连续逾期，5年内无逾期</th>
								<td><input type="text" name="name49" /></td>
							</tr>
							<tr>
								<th>24个月内有逾期（逾期<5次），且为连续逾期，5年内有逾期</th>
								<td><input type="text" name="name50" /></td>
							</tr>
							<tr>
								<th>24个月内逾期≥5次</th>
								<td><input type="text" name="name51" /></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>应付账款长期赖账</b><br/><input type="text" name="name52" />%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name53"/></td>
								<td><input type="text" name="name54"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>是否拖欠税费、水电煤气费</b><br/><input type="text" name="name55"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>是</th>
								<th>否</th>
							</tr>
							<tr>
								<td><input type="text" name="name56"/></td>
								<td><input type="text" name="name57" /></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>拖欠其他私人债务</b><br/><input type="text" name="name58"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>是</th>
								<th>否</th>
							</tr>
							<tr>
								<td><input type="text" name="name59"/></td>
								<td><input type="text" name="name60"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>火车、地铁逃票</b><br/><input type="text" name="name61"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name62"/></td>
								<td><input type="text" name="name63"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>交通违章</b><br/><input type="text" name="name64"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name65"/></td>
								<td><input type="text" name="name66"/></td>
							</tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td><b>电话欠费</b><br/><input type="text" name="name67"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name68"/></td>
								<td><input type="text" name="name69" /></td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr>
					<td><b>签证记录</b><br/><input type="text" name="name70"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>无拒签记录</th>
								<th>有拒签记录</th>
							</tr>
							<tr>
								<td><input type="text" name="name71" /></td>
								<td><input type="text" name="name72" /></td>
							</tr>
						</table>
					</td>
				</tr>
			<!--*****************************社交好友**********************************-->
				<tr>
					<td rowspan="2"><b>社交好友</b><br/><input type="text" name="name73"/>%</td>
					<td><b>朋友工作</b><br/><input type="text" name="name74" />%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>企事业单位</th>
								<th>个体工商户</th>
								<th>无业</th>
							</tr>
							<tr>
								<td><input type="text" name="name75"/></td>
								<td><input type="text" name="name76" /></td>
								<td><input type="text" name="name77" /></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>朋友学历</b><br/><input type="text" name="name78"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>本科及以上学历</th>
								<th>大专</th>
								<th>高中及中专</th>
								<th>初中及以下学历</th>
							</tr>
							<tr>
								<td><input type="text" name="name79"/></td>
								<td><input type="text" name="name80" /></td>
								<td><input type="text" name="name81" /></td>
								<td><input type="text" name="name82"/></td>
							</tr>
						</table>
					</td>
				</tr>	
			<!--*****************************公益行为**********************************-->
				<tr>
					<td><b>公益行为</b><br/><input type="text" name="name83"/>%</td>
					<td><b>有无公益活动</b></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>捐赠/志愿者</th>
								<th>无公益活动</th>
							</tr>
							<tr>
								<td><input type="text" name="name85" /></td>
								<td><input type="text" name="name86" /></td>
							</tr>
						</table>
					</td>
				</tr>	
			<!--*****************************信仰状况**********************************-->
				<tr>
					<td rowspan="2"><b>信仰状况</b><br/><input type="text" name="name87"/>%</td>
					<td><b>宗教信仰</b><br/><input type="text" name="name88"/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>无宗教信仰/有佛教、基督教、伊斯兰教等合法宗教信仰</th>
								<th>法轮功、邪教组织、ISIS、恐怖组织</th>
							</tr>
							<tr>
								<td><input type="text" name="name89" /></td>
								<td><input type="text" name="name90" /></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>信仰</b><br/><input type="text" name="name92" />%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name93" /></td>
								<td><input type="text" name="name94" /></td>
							</tr>
						</table>
					</td>
				</tr>	
			</table>
		</div>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" onclick="getSum()" title="提交">提交</a>
				<a class="btn"  onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				var result = "{{result}}";
				if(result!=''){
					$("input").each(function(i){
					    var str = $(this).attr("name").substring(4,$(this).attr("name").length);
					    $(this).val(result.split(",")[str-1]);
					});
				}
			})

			function getSum(){
				var score = new Array();
				for(var j=1;j<120;j++){
					var str = "name"+j;
					var ifexit = false;
					$("input").each(function(i){
						if($(this).attr("name")==str){
							var value = $(this).val();
						    if(value==''){
						    	score.push(0);
						    }else{
						    	score.push(value);
						    } 
						    ifexit= true;
						}
					    
					});
					// 不存在name值，则数组置为0
					if(!ifexit){
						score.push(0);
					}
				}
				var url = "/mxpg/cspz_ddpz_save/"+score;
		   		window.location.href =  url;
			}
		</script>
	</body>
</html>