<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">			
			.myTable td{font-size:13px;text-align:center;}
			input[type=text]{width:80px;}
		</style>
	</head>
	<body>		
		<form class="iframeForm">
<!--*****************************经营状况**********************************-->
			<table class="myTable">
				<caption>行业<input type="text" name="" value="30%"/></caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
		<!--*****************************行业政策**********************************-->
				<tr>
					<td rowspan="3"><b>行业政策</b><br/><input type="text" name="" value="20%"/></td>
					<td><b>金融货币政策</b><br/><input type="text" name="" value="20%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>宽松</th>
								<th>一般</th>
								<th>紧缩</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="30%"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>国家产业政策</b><br/><input type="text" name="" value="80%"/></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>扶持</th>
								<th>一般</th>
								<th>限制</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="50%-100%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>税收政策</b></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>免税</th>
								<th>出口退税</th>
								<th>增值税正常<br/>（13%）</th>
								<th>增值税低税率<br/>（17%）</th>
								<th>增收消费税<br/>小于等于10%</th>
								<th>增收消费税<br/>小于等于20%</th>
								<th>增收消费税<br/>大于20%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>	
			<!--*****************************行业**********************************-->
				<tr>
					<td rowspan="12"><b>行业</b><br/><input type="text" name="" value="80%"/></td>
					<td><b>行业供求关系</b></td>
					<td><b>产品供应/市场需求量</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>小于等于50%</th>
								<th>小于等于70%</th>
								<th>小于等于90%</th>
								<th>小于等于100%</th>
								<th>小于等于105%</th>
								<th>小于等于110%</th>
								<th>小于等于120%</th>
								<th>大于120%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>行业周期性分析</b></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th rowspan="4">周期性行业</th>
								<th>汽车</th>
								<th>机械</th>
								<th>电力</th>
								<th>原料药</th>
								<th>石油化工</th>
								<th>房地产</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="准入"/></td>
								<td><input type="text" name="" value="准入"/></td>
								<td><input type="text" name="" value="准入"/></td>
								<td><input type="text" name="" value="准入"/></td>
								<td><input type="text" name="" value="禁入"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
							<tr>
								<th>煤炭</th>
								<th>钢铁</th>
								<th>造船</th>
								<th>水泥</th>
								<th colspan="2">有色金属</th>
							</tr>
							<tr>
								
								<td><input type="text" name="" value="禁入"/></td>
								<td><input type="text" name="" value="禁入"/></td>
								<td><input type="text" name="" value="禁入"/></td>
								<td><input type="text" name="" value="禁入"/></td>
								<td colspan="2"><input type="text" name="" value="禁入"/></td>
							</tr>
							<tr>
								<th>非周期性</th>
								<td colspan="6"><input type="text" name="" value="准入"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>行业资产结构</b><br/><input type="text" name="" value="5%"/></td>
					<td><b>固定资产占总资产</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>小于或等于5%</th>
								<th>小于或等于10%</th>
								<th>小于或等于20%</th>
								<th>小于或等于30%</th>
								<th>小于或等于40%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="95%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="85%"/></td>
								<td><input type="text" name="" value="80%"/></td>
							</tr>
							<tr>
								<th>小于或等于50%</th>
								<th>小于或等于60%</th>
								<th>小于或等于70%</th>
								<th>小于或等于80%</th>
								<th>小于或等于90%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="5%"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td rowspan="3"><b>行业盈利能力</b><br/><input type="text" name="" value="15%"/></td>
					<td><b>净利率</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>大于或等于25%</th>
								<th>大于或等于20%</th>
								<th>大于或等于15%</th>
								<th>大于或等于10%</th>
								<th>大于或等于5%</th>
								<th>小于5%</th>
								<th>小于或等于0%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="75%"/></td>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="25%"/></td>
								<td><input type="text" name="" value="12.5%"/></td>
								<td><input type="text" name="" value="0"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>平均应收账款周转天数</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>小于或等于7</th>
								<th>小于或等于15</th>
								<th>小于或等于30</th>
								<th>小于或等于60</th>
								<th>小于或等于90</th>
								<th>小于或等于180</th>
								<th>大于180</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="75%"/></td>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="25%"/></td>
								<td><input type="text" name="" value="12.5%"/></td>
								<td><input type="text" name="" value="0"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>平均存货周转天数</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>小于或等于7</th>
								<th>小于或等于15</th>
								<th>小于或等于30</th>
								<th>小于或等于60</th>
								<th>小于或等于90</th>
								<th>大于90</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="75%"/></td>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="25%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td rowspan="2"><b>行业依赖性</b><br/><input type="text" name="" value="20%"/></td>
					<td><b>上游客户</b><br/><input type="text" name="" value="10%"/></td>
					<td>
						<b>供应商数量</b>
						<table class="addTable">
							<tr>
								<th>大于20</th>
								<th>大于等于18</th>
								<th>大于等于16</th>
								<th>大于等于14</th>
								<th colspan="2">大于等于12</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td colspan="2"><input type="text" name="" value="60%"/></td>
							</tr>
							<tr>
								<th>大于等于10</th>
								<th>大于等于8</th>
								<th>大于等于6</th>
								<th>大于等于4</th>
								<th>大于等于2</th>
								<th>小于2</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>下游客户</b><br/><input type="text" name="" value="10%"/></td>
					<td>
						<b>经销商数量</b>
						<table class="addTable">
							<tr>
								<th>大于50</th>
								<th>大于等于45</th>
								<th>大于等于40</th>
								<th>大于等于35</th>
								<th colspan="2">大于等于30</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td colspan="2"><input type="text" name="" value="60%"/></td>
							</tr>
							<tr>
								<th>大于等于25</th>
								<th>大于等于20</th>
								<th>大于等于15</th>
								<th>大于等于10</th>
								<th>大于等于5</th>
								<th>小于5</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>行业替代性</b><br/><input type="text" name="" value="10%"/></td>
					<td><b>市场上可供选择的类似产品种类</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>小于2</th>
								<th>小于等于4</th>
								<th>小于等于7</th>
								<th>小于等于10</th>
								<th>小于等于15</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>
							<tr>
								<th>小于等于20</th>
								<th>小于等于25</th>
								<th>小于等于30</th>
								<th colspan="2">小于等于30</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td colspan="2"><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td rowspan="2"><b>行业发展趋势</b><br/><input type="text" name="" value="30%"/></td>
					<td><b>本行业近一年的平均销售额增长</b><input type="text" name="" value="50%"/></td>
					<td>
						<b>本行业近一年的平均销售额增长比率</b>
						<table class="addTable">
							<tr>
								<th>大于100%</th>
								<th>大于等于50%</th>
								<th>大于等于40%</th>
								<th>大于等于30%</th>
								<th>大于等于25%</th>
								<th>大于等于20%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>大于等于15%</th>
								<th>大于等于10%</th>
								<th>大于等于5%</th>
								<th>大于等于0%</th>
								<th>小于5%</th>
								<th>小于-20%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><b>本行业近一年来的平均净利润增长</b><input type="text" name="" value="50%"/></td>
					<td>
						<b>本行业近一年的平均净利润增长比率</b>
						<table class="addTable">
							<tr>
								<th>大于100%</th>
								<th>大于等于50%</th>
								<th>大于等于40%</th>
								<th>大于等于30%</th>
								<th>大于等于25%</th>
								<th>大于等于20%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>大于等于15%</th>
								<th>大于等于10%</th>
								<th>大于等于5%</th>
								<th>大于等于0%</th>
								<th>小于5%</th>
								<th>小于-20%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>行业风险分析</b><input type="text" name="" value="10%"/></td>
					<td><b>近三年来行业内平均破产率分析</b></td>
					<td>
						<b>近三年来行业平均破产率</b>
						<table class="addTable">
							<tr>
								<th>小于等于5%</th>
								<th>小于等于10%</th>
								<th>小于等于15%</th>
								<th>小于等于20%</th>
								<th>小于等于25%</th>
								<th>小于等于30%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>小于等于35%</th>
								<th>小于等于40%</th>
								<th>小于等于45%</th>
								<th>小于等于50%</th>
								<th colspan="2">大于50%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td colspan="2"><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>					
			</table>		
<!--*****************************企业**********************************-->
			<table class="myTable">
				<caption>企业<input type="text" name="" value="70%"/></caption>	
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>				
		<!--*****************************经营**********************************-->
				<tr>
					<td rowspan="13"><b>经营</b></td>
					<td rowspan="6"><b>市场与产品</b></td>
					<td><b>产品的差异性</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>产品与众不同，几乎没有替代品，专利得到很好的保护，信誉好</th>
								<td><input type="text" name="" value="100%"/></td>
							</tr>
							<tr>
								<th>产品有些独特，由于产品的复杂性，替代品有限</th>
								<td><input type="text" name="" value="75%"/></td>
							</tr>
							<tr>
								<th>产品无独特之处，有一些现成的替代品，信誉好</th>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>产品无独特之处，又许多好的替代品，质量一般</th>
								<td><input type="text" name="" value="25%"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>买方需求客户对产品的需求（奢侈品/生活必需品）</b></td>
					<td>
						<b>客户需求周期</b>
						<table class="addTable">
							<tr>
								<th>小于等于3天</th>
								<th>小于等于7天</th>
								<th>小于等于15天</th>
								<th>小于等于30天</th>
								<th>小于等于45天</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>
							<tr>
								<th>小于等于60天</th>
								<th>小于等于90天</th>
								<th>小于等于180天</th>
								<th>小于等于360天</th>
								<th>大于360天</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>产品的价格（客户对价格的可接受程度）</b></td>
					<td>
						<b>可接受此价格的目标客户群比率</b>
						<table class="addTable">
							<tr>
								<th>大于等于95%</th>
								<th>大于等于90%</th>
								<th>大于等于80%</th>
								<th>大于等于70%</th>
								<th>大于等于60%</th>
								<th>大于等于50%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>大于等于40%</th>
								<th>大于等于30%</th>
								<th>大于等于20%</th>
								<th>大于等于10%</th>
								<th>大于等于5%</th>
								<th>小于5%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>市场竞争的激烈程度</b></td>
					<td>
						<b>经营范围内的竞争性同业数量</b>
						<table class="addTable">
							<tr>
								<th>无</th>
								<th>等于1家</th>
								<th>小于等于3家</th>
								<th>小于等于8家</th>
								<th>小于等于8家</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>小于等于12家</th>
								<th>小于等于16家</th>
								<th>小于等于20家</th>
								<th>小于等于30家</th>
								<th>大于30家</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>客户的分散程度</b></td>
					<td>
						<b>最大的三个客户占企业总销售额的比率</b>
						<table class="addTable">
							<tr>
								<th>小于等于15%</th>
								<th>小于等于20%</th>
								<th>小于等于25%</th>
								<th>小于等于30%</th>
								<th>小于等于35%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>
							<tr>
								<th>小于等于40%</th>
								<th>小于等于50%</th>
								<th>小于等于60%</th>
								<th>小于等于80%</th>
								<th>小于等于90%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td><b>销售方法</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>单一销售渠道、单一营销方式</th>
								<td><input type="text" name="" value="20%"/></td>
							</tr>
							<tr>
								<th>固定二至三条销售渠道，单一营销方式/单一销售渠道，多种营销方式</th>
								<td><input type="text" name="" value="40%"/></td>
							</tr>
							<tr>
								<th>固定两至三条销售渠道，多种营销方式</th>
								<td><input type="text" name="" value="80%"/></td>
							</tr>
							<tr>
								<th>四条以上条销售渠道，多种营销方式，并仍在开发新的销售渠道和营销方式</th>
								<td><input type="text" name="" value="100%"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td rowspan="5"><b>生产环节</b></td>
					<td><b>专利技术</b></td>
					<td>
						<b>拥有专利技术的数量</b>
						<table class="addTable">
							<tr>
								<th>大于等于5</th>
								<th>等于4</th>
								<th>等于3</th>
								<th>等于2</th>
								<th>等于1</th>
								<th>等于0</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>技术</b></td>
					<td>
						<b>能独立解决技术难题的比率</b>
						<table class="addTable">
							<tr>
								<th>等于100%</th>
								<th>大于等于90%</th>
								<th>大于等于80%</th>
								<th>大于等于70%</th>
								<th>大于等于50%</th>
								<th>小于50%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>自然灾害</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>受自然灾害影响</th>
								<th>不受自然灾害影响</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="100%"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>环境</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>易造成环境污染</th>
								<th>不易造成环境污染</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="100%"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>劳资关系</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>劳资关系融洽，与员工关系和睦</th>
								<th>劳资关系紧张，与员工多有争执</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td rowspan="2"><b>企业的销售环节</b></td>
					<td><b>销售成本</b></td>
					<td>
						<b>本企业单位产品的销售成本/行业内单位产品的销售成本</b>
						<table class="addTable">
							<tr>
								<th>小于等于60%</th>
								<th>小于等于70%</th>
								<th>小于等于80%</th>
								<th>小于等于90%</th>
								<th>小于等于95%</th>
								<th>小于等于97.5%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="95%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="85%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
							</tr>
							<tr>
								<th>小于等于100%</th>
								<th>小于等于102.5%</th>
								<th>小于等于105%</th>
								<th>小于等于110%</th>
								<th>小于等于115%</th>
								<th>小于等于120%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>客户群的消费习惯</b></td>
					<td>
						<b>习惯购买同一品牌产品的客户比率</b>
						<table class="addTable">
							<tr>
								<th>大于等于90%</th>
								<th>大于等于80%</th>
								<th>大于等于70%</th>
								<th>大于等于60%</th>
								<th>大于等于50%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>大于等于40%</th>
								<th>大于等于30%</th>
								<th>大于等于20%</th>
								<th>大于等于10%</th>
								<th>小于10%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>			
		<!--*****************************管理**********************************-->
				<tr>
					<td rowspan="24"><b>管理</b></td>
					<td rowspan="2"><b>管理层的稳定性</b></td>
					<td><b>管理层组成</b></td>
					<td>
						<b>职业经理人在管理层中的占比</b>
						<table class="addTable">
							<tr>
								<th>大于等于90%</th>
								<th>大于等于80%</th>
								<th>大于等于70%</th>
								<th>大于等于60%</th>
								<th>大于等于50%</th>
								<th>大于等于45%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>大于等于40%</th>
								<th>大于等于35%</th>
								<th>大于等于30%</th>
								<th>大于等于25%</th>
								<th colspan="2">小于25%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td colspan="2"><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>管理层的更换程度</b></td>
					<td>
						<b>最近两年内管理人员的流失率</b>
						<table class="addTable">
							<tr>
								<th>小于等于10%</th>
								<th>小于等于20%</th>
								<th>小于等于30%</th>
								<th>小于等于40%</th>
								<th>小于等于50%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="40%"/></td>
							</tr>
							<tr>
								<th>小于等于60%</th>
								<th>小于等于70%</th>
								<th>小于等于80%</th>
								<th colspan="2">大于80%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td colspan="2"><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td rowspan="7"><b>管理层素质和经验</b></td>
					<td><b>文化程度</b></td>
					<td>
						<b>本科以上人员在管理层中的占比</b>
						<table class="addTable">
							<tr>
								<th>大于等于90%</th>
								<th>大于等于80%</th>
								<th>大于等于70%</th>
								<th>大于等于60%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>
							<tr>
								<th>大于等于50%</th>
								<th>大于等于40%</th>
								<th>大于等于30%</th>
								<th>小于30%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>年龄结构</b></td>
					<td>
						<b>管理层平均年龄</b>
						<table class="addTable">
							<tr>
								<th>20-25</th>
								<th>25-30</th>
								<th>30-40</th>
								<th>40-50</th>
								<th>50以上</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>管理者企业内的平均从业时间</b></td>
					<td>
						<b>管理者在本企业内的平均从业时间</b>
						<table class="addTable">
							<tr>
								<th>大于等于10年</th>
								<th>大于等于8年</th>
								<th>大于等于6年</th>
								<th>大于等于4年</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>
							<tr>
								<th>大于等于3年</th>
								<th>大于等于2年</th>
								<th>大于等于1年</th>
								<th>小于1年</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>管理者在行业内的平均从业时间</b></td>
					<td>
						<b>管理者在行业内的平均从业时间</b>
						<table class="addTable">
							<tr>
								<th>大于等于15年</th>
								<th>大于等于10年</th>
								<th>大于等于8年</th>
								<th>大于等于6年</th>
								<th>大于等于4年</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="40%"/></td>
							</tr>
							<tr>
								<th>大于等于3年</th>
								<th>大于等于2年</th>
								<th>大于等于1年</th>
								<th colspan="2">小于1年</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td colspan="2"><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td><b>开拓精神</b></td>
					<td>
						<b>企业近两年内的月营业额平均环比增长</b>
						<table class="addTable">
							<tr>
								<th>大于等于20%</th>
								<th>大于等于15%</th>
								<th>大于等于12%</th>
								<th>大于等于10%</th>
								<th>大于等于8%</th>
								<th>大于等于6%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>大于等于4%</th>
								<th>大于等于2%</th>
								<th>大于等于0%</th>
								<th>大于等于-2%</th>
								<th>大于等于-4%</th>
								<th>小于-4%</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td><b>团队精神</b></td>
					<td>
						<b>企业每年拓展训练或聚会的次数</b>
						<table class="addTable">
							<tr>
								<th>大于等于10次</th>
								<th>大于等于8次</th>
								<th>大于等于5次</th>
								<th>大于等于3次</th>
								<th>大于等于1次</th>
								<th>小于1次</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="50%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr>
					<td><b>道德品质</b></td>
					<td>
						<b>最近5年内企业出现道德风险事件的次数</b>
						<table class="addTable">
							<tr>
								<th>等于0次</th>
								<th>等于1次</th>
								<th>小于等于3次</th>
								<th>小于等于5次</th>
								<th>大于5次</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>						
				<tr>
					<td rowspan="2"><b>经营思想和作风</b></td>
					<td><b>经营思路的统一性</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>思路统一</th>
								<th>分歧较多</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>						
				<tr>
					<td><b>作风冒险或谨慎</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>冒险</th>
								<th>谨慎</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="100%"/></td>
							</tr>
						</table>
					</td>
				</tr>						
				<tr>
					<td rowspan="3"><b>关联企业的经营管理</b></td>
					<td><b>债务人的母子公司</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>母子公司经营良好，运转正常</th>
								<th>母子公司资金周转困难，运转正常</th>
								<th>母子公司资金周转困难，运转困难</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>						
				<tr>
					<td><b>关联企业主要供应商</b></td>
					<td>
						<b>供应商数量</b>
						<table class="addTable">
							<tr>
								<th>大于20</th>
								<th>大于等于18</th>
								<th>大于等于16</th>
								<th>大于等于14</th>
								<th>大于等于12</th>
								<th>大于等于10</th>
							</tr>							
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>
							<tr>
								<th>大于等于8</th>
								<th>大于等于6</th>
								<th>大于等于4</th>
								<th>大于等于2</th>
								<th colspan="2">小于2</th>
							</tr>
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td colspan="2"><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>						
				<tr>
					<td><b>关联企业主要经销商</b></td>
					<td>
						<b>经销商数量</b>
						<table class="addTable">
							<tr>
								<th>大于50</th>
								<th>大于等于45</th>
								<th>大于等于40</th>
								<th>大于等于35</th>
								<th>大于等于30</th>
								<th>大于等于25</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>						
							<tr>
								<th>大于等于20</th>
								<th>大于等于15</th>
								<th>大于等于10</th>
								<th>大于等于5</th>
								<th colspan="2">小于5</th>
							</tr>		
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td colspan="2"><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr>
					<td rowspan="2"><b>核心技术人员状况</b></td>
					<td><b>专业技能分布</b></td>
					<td>
						<b>核心技术人员在本行业平均从业时间</b>
						<table class="addTable">
							<tr>
								<th>大于等于20年</th>
								<th>大于等于15年</th>
								<th>大于等于10年</th>
								<th>大于等于8年</th>
								<th>大于等于6年</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>				
							<tr>
								<th>大于等于4年</th>
								<th>大于等于2年</th>
								<th>大于等于1年</th>
								<th colspan="2">小于1年</th>
							</tr>					
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td colspan="2"><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr>
					<td><b>稳定性</b></td>
					<td>
						<b>核心技术人员近两年的流失率</b>
						<table class="addTable">
							<tr>
								<th>小于等于10%</th>
								<th>小于等于20%</th>
								<th>小于等于30%</th>
								<th>小于等于40%</th>
								<th>小于等于50%</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="40%"/></td>
							</tr>						
							<tr>
								<th>小于等于60%</th>
								<th>小于等于70%</th>
								<th>小于等于80%</th>
								<th colspan="2">大于80%</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td colspan="2"><input type="text" name="" value="禁入"/></td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr>
					<td rowspan="2"><b>员工队伍</b></td>
					<td><b>员工文化</b></td>
					<td>
						<b>大专以上的员工占比</b>
						<table class="addTable">
							<tr>
								<th>大于等于90%</th>
								<th>大于等于80%</th>
								<th>大于等于70%</th>
								<th>大于等于60%</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>					
							<tr>
								<th>大于等于50%</th>
								<th>大于等于40%</th>
								<th>大于等于30%</th>
								<th>小于30%</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr>
					<td><b>员工专业性</b></td>
					<td>
						<b>员工在本行业的平均从业时间</b>
						<table class="addTable">
							<tr>
								<th>大于等于10年</th>
								<th>大于等于8年</th>
								<th>大于等于6年</th>
								<th>大于等于4年</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>						
							<tr>
								<th>大于等于3年</th>
								<th>大于等于2年</th>
								<th>大于等于1年</th>
								<th>小于1年</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
							</tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td rowspan="4"><b>内部控制与管理</b></td>
					<td><b>健全的组织架构</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>矩阵组织式</th>
								<th>模拟分散化</th>
								<th>事业部制</th>
								<th>直线-参谋</th>
								<th>直线</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="40%"/></td>
							</tr>	
						</table>
					</td>
				</tr>				
				<tr>
					<td><b>科学的决策程序</b></td>
					<td>
						<b>决策方式</b>
						<table class="addTable">
							<tr>
								<th>根据实际情况决定决策方式</th>
								<th>群体决策</th>
								<th>收集意见，领导决策</th>
								<th>个体决策（一言堂）</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="40%"/></td>
							</tr>	
						</table>
					</td>
				</tr>					
				<tr>
					<td><b>人事管理政策</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>规范招聘</th>
								<th>晋升激励</th>
								<th>物质激励</th>
								<th>人性化管理</th>
								<th>淘汰制度</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="20%"/></td>
							</tr>	
						</table>
					</td>
				</tr>					
				<tr>
					<td><b>公司的发展战略</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有序扩张</th>
								<th>百年老店</th>
								<th>安于现状</th>
								<th>疯狂扩张</th>
								<th>收缩规模</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="60%"/></td>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
							</tr>	
						</table>
					</td>
				</tr>			
				<tr>
					<td rowspan="2"><b>财务管理能力</b></td>
					<td><b>企业成本</b></td>
					<td>
						<b>同等售价下本企业单位产品的平均成本/行业内产品单位产品的平均成本</b>
						<table class="addTable">
							<tr>
								<th>小于等于60%</th>
								<th>小于等于70%</th>
								<th>小于等于80%</th>
								<th>小于等于90%</th>
								<th>小于等于95%</th>
								<th>小于等于97.5%</th>
								<th>小于等于100%</th>
							</tr>					
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="95%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="85%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="50%"/></td>
							</tr>						
							<tr>
								<th>小于等于102.5%</th>
								<th>小于等于105%</th>
								<th>小于等于110%</th>
								<th>小于等于115%</th>
								<th>小于等于120%</th>
								<th colspan="2">大于120%</th>
							</tr>							
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="30%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td colspan="2"><input type="text" name="" value="禁入"/></td>
							</tr>	
						</table>
					</td>
				</tr>					
				<tr>
					<td><b>企业流动资金</b></td>
					<td>
						<b>企业日均流动资金/企业日均开支</b>
						<table class="addTable">
							<tr>
								<th>大于等于120</th>
								<th>大于等于90</th>
								<th>大于等于60</th>
								<th>大于等于45</th>
								<th>大于等于30</th>
							</tr>					
							<tr>
								<td><input type="text" name="" value="100%"/></td>
								<td><input type="text" name="" value="90%"/></td>
								<td><input type="text" name="" value="80%"/></td>
								<td><input type="text" name="" value="70%"/></td>
								<td><input type="text" name="" value="60%"/></td>
							</tr>				
							<tr>
								<th>大于等于20</th>
								<th>大于等于10</th>
								<th>大于等于5</th>
								<th>大于等于3</th>
								<th>小于3</th>
							</tr>						
							<tr>
								<td><input type="text" name="" value="40%"/></td>
								<td><input type="text" name="" value="20%"/></td>
								<td><input type="text" name="" value="10%"/></td>
								<td><input type="text" name="" value="0%"/></td>
								<td colspan="2"><input type="text" name="" value="禁入"/></td>
							</tr>	
						</table>
					</td>
				</tr>																		
			</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" href="#" onclick="" title="提交">提交</a>
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
		<script type="text/javascript">
			
		</script>
	</body>
</html>