<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">			
			.myTable td{font-size:13px;text-align:center;}
			input[type=text]{width:80px;}
		</style>
	</head>
	<body>		
		<form class="iframeForm">
<!--*****************************资产状况**********************************-->
			<table class="myTable">
				<caption>资产状况<input type="text" name="name1" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
		<!--*****************************房子**********************************-->
				<tr>
					<td rowspan="4"><b>房子</b><br/><input type="text" name="name2" value=""/>%</td>
					<td rowspan="2"><b>自有</b><br/><input type="text" name="name3" value=""/>%</td>
					<td><b>按揭</b><input type="text" name="name4" value=""/>%</td>
					<td rowspan="2">
						<table class="addTable">
							<tr>
								<th colspan="5"><b>房产数量</b><input type="text" name="name5" value=""/>%</th>
							</tr>
							<tr>
								<th>≥5套</th>
								<th>4套</th>
								<th>3套</th>
								<th>2套</th>
								<th>1套</th>
							</tr>
							<tr>
								<td><input type="text" name="name6" value=""/></td>
								<td><input type="text" name="name7" value=""/></td>
								<td><input type="text" name="name8" value=""/></td>
								<td><input type="text" name="name9" value=""/></td>
								<td><input type="text" name="name10" value=""/></td>
							</tr>
						</table>
						<table class="addTable">
							<tr>
								<th colspan="8"><b>当前市价总值</b><input type="text" name="name11" value=""/>%</th>
							</tr>
							<tr>
								<th>≥1亿</th>
								<th>5000万-1亿元</th>
								<th>3000-5000万</th>
								<th>1000-3000万</th>
								<th>500-1000万</th>
								<th>300-500万</th>
								<th>100-300万</th>
								<th>≤100万</th>
							</tr>
							<tr>
								<td><input type="text" name="name12" value=""/></td>
								<td><input type="text" name="name13" value=""/></td>
								<td><input type="text" name="name14" value=""/></td>
								<td><input type="text" name="name15" value=""/></td>
								<td><input type="text" name="name16" value=""/></td>
								<td><input type="text" name="name17" value=""/></td>
								<td><input type="text" name="name18" value=""/></td>
								<td><input type="text" name="name19" value=""/></td>
							</tr>
						</table>
						<table class="addTable">
							<tr>
								<th colspan="6"><b>住房面积平均值/套</b><input type="text" name="name20" value=""/>%</th>
							</tr>
							<tr>
								<th>≥500㎡/套</th>
								<th>400-500㎡/套</th>
								<th>300-400㎡/套</th>
								<th>200-300㎡/套</th>
								<th>100-200㎡/套</th>
								<th>≤100㎡/套</th>
							</tr>
							<tr>
								<td><input type="text" name="name21" value=""/></td>
								<td><input type="text" name="name22" value=""/></td>
								<td><input type="text" name="name23" value=""/></td>
								<td><input type="text" name="name24" value=""/></td>
								<td><input type="text" name="name25" value=""/></td>
								<td><input type="text" name="name26" value=""/></td>
							</tr>
						</table>
						<table class="addTable">
							<tr>
								<th colspan="2"><b>装修情况</b><input type="text" name="name27" value=""/>%</th>
							</tr>
							<tr>
								<th>精装</th>
								<th>简装</th>
							</tr>
							<tr>
								<td><input type="text" name="name28" value=""/></td>
								<td><input type="text" name="name29" value=""/></td>
							</tr>
						</table>
						<table class="addTable">
							<tr>
								<th colspan="7"><b>居住年限</b><input type="text" name="name30" value=""/>%</th>
							</tr>
							<tr>
								<th>≥50年</th>
								<th>40-50年</th>
								<th>30-40年</th>
								<th>20-30年</th>
								<th>10-20年</th>
								<th>5-10年</th>
								<th>≤5年</th>
							</tr>
							<tr>
								<td><input type="text" name="name31" value=""/></td>
								<td><input type="text" name="name32" value=""/></td>
								<td><input type="text" name="name33" value=""/></td>
								<td><input type="text" name="name34" value=""/></td>
								<td><input type="text" name="name35" value=""/></td>
								<td><input type="text" name="name36" value=""/></td>
								<td><input type="text" name="name37" value=""/></td>
							</tr>
						</table>
						<table class="addTable">
							<tr>
								<th colspan="2"><b>房间格局</b><input type="text" name="name38" value=""/>%</th>
							</tr>
							<tr>
								<th>朝南</th>
								<th>朝北</th>
							</tr>
							<tr>
								<td><input type="text" name="name39" value=""/></td>
								<td><input type="text" name="name40" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>全额付款</b><br/><input type="text" name="name41" value=""/>%</td>
				</tr>	
				<tr>
					<td><b>无</b></td>
					<td><input type="text" name="name42" value=""/></td>
					<td></td>
				</tr>
				<tr>
					<td><b>租赁</b><br/><input type="text" name="name43" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th colspan="5"><b>数量</b><input type="text" name="name44" value=""/>%</th>
							</tr>
							<tr>
								<th>≥5套</th>
								<th>4套</th>
								<th>3套</th>
								<th>2套</th>
								<th>1套</th>
							</tr>
							<tr>
								<td><input type="text" name="name45" value=""/></td>
								<td><input type="text" name="name46" value=""/></td>
								<td><input type="text" name="name47" value=""/></td>
								<td><input type="text" name="name48" value=""/></td>
								<td><input type="text" name="name49" value=""/></td>
							</tr>
						</table>
						<table class="addTable">
							<tr>
								<th colspan="6"><b>平均面积/套</b><input type="text" name="name50" value=""/>%</th>
							</tr>
							<tr>
								<th>≥500㎡/套</th>
								<th>400-500㎡/套</th>
								<th>300-400㎡/套</th>
								<th>200-300㎡/套</th>
								<th>100-200㎡/套</th>
								<th>≤100㎡/套</th>
							</tr>
							<tr>
								<td><input type="text" name="name51" value=""/></td>
								<td><input type="text" name="name52" value=""/></td>
								<td><input type="text" name="name53" value=""/></td>
								<td><input type="text" name="name54" value=""/></td>
								<td><input type="text" name="name55" value=""/></td>
								<td><input type="text" name="name56" value=""/></td>
							</tr>
						</table>
						<table class="addTable">
							<tr>
								<th colspan="6"><b>总租金/月</b><input type="text" name="name57" value=""/>%</th>
							</tr>
							<tr>
								<th>≥5万元</th>
								<th>3-5万元</th>
								<th>1-3万元</th>
								<th>5000元-1万元</th>
								<th>3000-5000元</th>
								<th>≤3000元</th>
							</tr>
							<tr>
								<td><input type="text" name="name58" value=""/></td>
								<td><input type="text" name="name59" value=""/></td>
								<td><input type="text" name="name60" value=""/></td>
								<td><input type="text" name="name61" value=""/></td>
								<td><input type="text" name="name62" value=""/></td>
								<td><input type="text" name="name63" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>
		<!--*****************************车辆**********************************-->
				<tr>
					<td rowspan="4"><b>车辆</b><br/><input type="text" name="name64" value=""/>%</td>
					<td><b>车辆数量</b><br/><input type="text" name="name65" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>≥5辆</th>
								<th>4辆</th>
								<th>3辆</th>
								<th>2辆</th>
								<th>1辆</th>
								<th>0辆</th>
							</tr>
							<tr>
								<td><input type="text" name="name66" value=""/></td>
								<td><input type="text" name="name67" value=""/></td>
								<td><input type="text" name="name68" value=""/></td>
								<td><input type="text" name="name69" value=""/></td>
								<td><input type="text" name="name70" value=""/></td>
								<td><input type="text" name="name71" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>购买价格（总额）</b><br/><input type="text" name="name72" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>≥3000万</th>
								<th>2000-3000万</th>
								<th>1000-2000万</th>
								<th>500-1000万</th>
								<th>300-500万</th>
							</tr>
							<tr>
								<td><input type="text" name="name73" value=""/></td>
								<td><input type="text" name="name74" value=""/></td>
								<td><input type="text" name="name75" value=""/></td>
								<td><input type="text" name="name76" value=""/></td>
								<td><input type="text" name="name77" value=""/></td>
							</tr>
							<tr>
								<th>100-300万</th>
								<th>50-100万</th>
								<th>20-50万</th>
								<th>10-20万</th>
								<th>≤10万</th>
							</tr>
							<tr>
								<td><input type="text" name="name78" value=""/></td>
								<td><input type="text" name="name79" value=""/></td>
								<td><input type="text" name="name80" value=""/></td>
								<td><input type="text" name="name81" value=""/></td>
								<td><input type="text" name="name82" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>平均使用时间</b><br/><input type="text" name="name83" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>≤1年</th>
								<th>1-3年</th>
								<th>3-5年</th>
								<th>≥5年</th>
							</tr>
							<tr>
								<td><input type="text" name="name84" value=""/></td>
								<td><input type="text" name="name85" value=""/></td>
								<td><input type="text" name="name86" value=""/></td>
								<td><input type="text" name="name87" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>			
				<tr>
					<td><b>车牌购置方式</b><br/><input type="text" name="name88" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>竞拍/摇号</th>
								<th>常规上牌方式</th>
							</tr>
							<tr>
								<td><input type="text" name="name89" value=""/></td>
								<td><input type="text" name="name90" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>
		<!--*****************************储蓄账户**********************************-->
				<tr>
					<td rowspan="2"><b>储蓄账户</b><br/><input type="text" name="name91" value=""/>%</td>
					<td><b>生意帐户</b><br/><input type="text" name="name92" value=""/>%</td>
					<td><b>储蓄金额</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>≥5000万</th>
								<th>3000-5000万</th>
								<th>1000-3000万</th>
								<th>500-1000万</th>
								<th>300-500万</th>
								<th>≤300万</th>
							</tr>
							<tr>
								<td><input type="text" name="name93" value=""/></td>
								<td><input type="text" name="name94" value=""/></td>
								<td><input type="text" name="name95" value=""/></td>
								<td><input type="text" name="name96" value=""/></td>
								<td><input type="text" name="name97" value=""/></td>
								<td><input type="text" name="name98" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>个人银行帐户</b><br/><input type="text" name="name99" value=""/>%</td>
					<td><b>储蓄金额</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>≥1000万</th>
								<th>500-1000万</th>
								<th>300-500万</th>
								<th>100-300万</th>
								<th>50-100万</th>
								<th>≤50万</th>
							</tr>
							<tr>
								<td><input type="text" name="name100" value=""/></td>
								<td><input type="text" name="name101" value=""/></td>
								<td><input type="text" name="name102" value=""/></td>
								<td><input type="text" name="name103" value=""/></td>
								<td><input type="text" name="name104" value=""/></td>
								<td><input type="text" name="name105" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>	
		<!--*****************************其他应收账款**********************************-->
				<tr>
					<td rowspan="3"><b>其他应收账款</b><br/><input type="text" name="name106" value=""/>%</td>
					<td><b>回收期限</b><br/><input type="text" name="name107" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>≤1年</th>
								<th>1-2年</th>
								<th>2-3年</th>
								<th>>3年</th>
							</tr>
							<tr>
								<td><input type="text" name="name108" value=""/></td>
								<td><input type="text" name="name109" value=""/></td>
								<td><input type="text" name="name110" value=""/></td>
								<td><input type="text" name="name111" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>
					<td><b>金额占储蓄比例</b><br/><input type="text" name="name112" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>≥30%</th>
								<th>20%-30%</th>
								<th>10%-20%</th>
								<th>5%-10%</th>
								<th><5%</th>
							</tr>
							<tr>
								<td><input type="text" name="name113" value=""/></td>
								<td><input type="text" name="name114" value=""/></td>
								<td><input type="text" name="name115" value=""/></td>
								<td><input type="text" name="name116" value=""/></td>
								<td><input type="text" name="name117" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>		
				<tr>
					<td><b>收息</b><br/><input type="text" name="name118" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th><1000元</th>
								<th>1000-3000元</th>
								<th>3000-5000元</th>
								<th>>5000元</th>
							</tr>
							<tr>
								<td><input type="text" name="name119" value=""/></td>
								<td><input type="text" name="name120" value=""/></td>
								<td><input type="text" name="name121" value=""/></td>
								<td><input type="text" name="name122" value=""/></td>
							</tr>
						</table>
					</td>
				</tr>						
			</table>
<!--*****************************生活环境**********************************-->
			<table class="myTable">
				<caption>生活环境<input type="text" name="name123" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
		<!--*****************************居住区的客观环境**********************************-->
				<tr>
					<td rowspan="4"><b>居住区的客观环境</b><br/><input type="text" name="name124" value=""/>%</td>
					<td><b>安全性</b><br/><input type="text" name="name125" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>安全</th>
								<th>一般</th>
								<th>不安全</th>
							</tr>
							<tr>
								<td><input type="text" name="name126" value=""/></td>
								<td><input type="text" name="name127" value=""/></td>
								<td><input type="text" name="name128" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>健康性</b><br/><input type="text" name="name129" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>健康</th>
								<th>一般</th>
								<th>不健康</th>
							</tr>
							<tr>
								<td><input type="text" name="name130" value=""/></td>
								<td><input type="text" name="name131" value=""/></td>
								<td><input type="text" name="name132" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>		
				<tr>
					<td><b>便利性</b><br/><input type="text" name="name133" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>便利</th>
								<th>一般</th>
								<th>不便利</th>
							</tr>
							<tr>
								<td><input type="text" name="name134" value=""/></td>
								<td><input type="text" name="name135" value=""/></td>
								<td><input type="text" name="name136" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>		
				<tr>
					<td><b>舒适性</b><br/><input type="text" name="name137" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>舒适</th>
								<th>一般</th>
								<th>不舒适</th>
							</tr>
							<tr>
								<td><input type="text" name="name138" value=""/></td>
								<td><input type="text" name="name139" value=""/></td>
								<td><input type="text" name="name140" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
		<!--*****************************居住区的人文环境**********************************-->
				<tr>
					<td rowspan="4"><b>居住区的人文环境</b><br/><input type="text" name="name141" value=""/>%</td>
					<td rowspan="4"><b>邻里社会特征</b></td>
					<td><b>邻居的友好程度</b><br/><input type="text" name="name142" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>友好</th>
								<th>一般</th>
								<th>无接触</th>
							</tr>
							<tr>
								<td><input type="text" name="name143" value=""/></td>
								<td><input type="text" name="name144" value=""/></td>
								<td><input type="text" name="name145" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>					
					<td><b>居民平均教育水平</b><br/><input type="text" name="name146" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>硕士</th>
								<th>本科</th>
								<th>高中</th>
							</tr>
							<tr>
								<td><input type="text" name="name147" value=""/></td>
								<td><input type="text" name="name148" value=""/></td>
								<td><input type="text" name="name149" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>		
				<tr>					
					<td><b>职业种类</b><br/><input type="text" name="name150" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>公务员/事业单位</th>
								<th>生意人</th>
							</tr>
							<tr>
								<td><input type="text" name="name151" value=""/></td>
								<td><input type="text" name="name152" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>		
				<tr>					
					<td><b>经济收入水平</b><br/><input type="text" name="name153" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>金领水平</th>
								<th>白领水平</th>
								<th>蓝领水平</th>
							</tr>
							<tr>
								<td><input type="text" name="name154" value=""/></td>
								<td><input type="text" name="name155" value=""/></td>
								<td><input type="text" name="name156" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>						
			</table>
<!--*****************************生活时间分配**********************************-->
			<table class="myTable">
				<caption>生活时间分配<input type="text" name="name157" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
		<!--*****************************工作时间**********************************-->
				<tr>
					<td><b>工作时间</b><br/><input type="text" name="name158" value=""/>%</td>
					<td><b>每天工作时间（小时）</b></td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>>8小时</th>
								<th>8小时</th>
								<th><8小时</th>
							</tr>
							<tr>
								<td><input type="text" name="name159" value=""/></td>
								<td><input type="text" name="name160" value=""/></td>
								<td><input type="text" name="name161" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>		
		<!--*****************************休息时间**********************************-->
				<tr>
					<td rowspan="2"><b>休息时间</b><br/><input type="text" name="name162" value=""/>%</td>
					<td><b>休闲娱乐活动</b><br/><input type="text" name="name163" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>经常</th>
								<th>偶尔</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name164" value=""/></td>
								<td><input type="text" name="name165" value=""/></td>
								<td><input type="text" name="name166" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>户外活动</b><br/><input type="text" name="name167" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>经常</th>
								<th>偶尔</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name168" value=""/></td>
								<td><input type="text" name="name169" value=""/></td>
								<td><input type="text" name="name170" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>									
			</table>
<!--*****************************收入来源**********************************-->
			<table class="myTable">
				<caption>收入来源<input type="text" name="name171" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
		<!--*****************************企业经营**********************************-->
				<tr>
					<td rowspan="9"><b>企业经营</b><br/><input type="text" name="name172" value=""/>%</td>
					<td><b>法定代表人</b></td>
					<td><input type="text" name="name173" value=""/>%</td>
					<td></td>
				</tr>
				<tr>
					<td><b>实际控制人</b></td>
					<td><input type="text" name="name174" value=""/>%</td>
					<td></td>
				</tr>	
				<tr>
					<td rowspan="2"><b>股权结构</b><br/><input type="hidden" name="name175" value=""/></td>
					<td><b>股权集中度</b><br/><input type="text" name="name176" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>股权高度集中</th>
								<th>股权平衡</th>
								<th>股权高度分散</th>
							</tr>
							<tr>
								<td><input type="text" name="name177" value=""/></td>
								<td><input type="text" name="name178" value=""/></td>
								<td><input type="text" name="name179" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>股权构成</b><br/><input type="text" name="name180" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>国家股东+法人股东+社会公众股东</th>
								<th>国家股东+法人股东</th>
								<th>法人股东+社会公众股东</th>
							</tr>
							<tr>
								<td><input type="text" name="name181" value=""/></td>
								<td><input type="text" name="name182" value=""/></td>
								<td><input type="text" name="name183" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>主营业务经营范围</b></td>
					<td><input type="text" name="name184" value=""/>%</td>
					<td></td>
				</tr>
				<tr>
					<td><b>经营年限</b><br/><input type="text" name="name185" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>>20年</th>
								<th>15-20年</th>
								<th>10-15年</th>
								<th>5-10年</th>
								<th>3-5年</th>
								<th>1-3年</th>
								<th><1年</th>
							</tr>
							<tr>
								<td><input type="text" name="name186" value=""/></td>
								<td><input type="text" name="name187" value=""/></td>
								<td><input type="text" name="name188" value=""/></td>
								<td><input type="text" name="name189" value=""/></td>
								<td><input type="text" name="name190" value=""/></td>
								<td><input type="text" name="name191" value=""/></td>
								<td><input type="text" name="name192" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>		
				<tr>
					<td><b>雇员人数</b><br/><input type="text" name="name193" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>>10000人</th>
								<th>5000-10000人</th>
								<th>1000-5000人</th>
								<th>500-1000人</th>
								<th>150-500人</th>
								<th>50-150人</th>
								<th><50人</th>
							</tr>
							<tr>
								<td><input type="text" name="name194" value=""/></td>
								<td><input type="text" name="name195" value=""/></td>
								<td><input type="text" name="name196" value=""/></td>
								<td><input type="text" name="name197" value=""/></td>
								<td><input type="text" name="name198" value=""/></td>
								<td><input type="text" name="name199" value=""/></td>
								<td><input type="text" name="name200" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>		
				<tr>
					<td><b>经营场所面积（分行业）</b></td>
					<td><input type="text" name="name201" value=""/>%</td>
					<td></td>
				</tr>	
				<tr>
					<td><b>店铺类型</b><br/><input type="text" name="name202" value=""/>%</td>
					<td><b></b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>贸易</th>
								<th>制造</th>
								<th>服务</th>
								<th>养殖</th>
							</tr>
							<tr>
								<td><input type="text" name="name203" value=""/></td>
								<td><input type="text" name="name204" value=""/></td>
								<td><input type="text" name="name205" value=""/></td>
								<td><input type="text" name="name206" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
		<!--*****************************其他收入来源**********************************-->
				<tr>
					<td rowspan="9"><b>其他收入来源</b><br/><input type="text" name="name207" value=""/>%</td>
					<td><b>第二职业</b></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>事业单位/公务员</th>
								<th>私企员工</th>
							</tr>
							<tr>
								<td><input type="text" name="name208" value=""/></td>
								<td><input type="text" name="name209" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
			</table>
<!--*****************************社会福利**********************************-->
			<table class="myTable">
				<caption>社会福利<input type="text" name="name210" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
				<tr>
					<td><b>社会保险</b><br/><input type="text" name="name211" value=""/>%</td>
					<td></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name212" value=""/></td>
								<td><input type="text" name="name213" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>公积金</b><br/><input type="text" name="name214" value=""/>%</td>
					<td></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>有</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name215" value=""/></td>
								<td><input type="text" name="name216" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
			</table>	
<!--*****************************收入分配**********************************-->
			<table class="myTable">
				<caption>收入分配<input type="text" name="name217" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
				<tr>
					<td rowspan="2"><b>日常生活消费</b><br/><input type="text" name="name218" value=""/>%</td>
					<td><b>消费结构</b><br/><input type="text" name="name219" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>衣</th>
								<th>食</th>
								<th>住</th>
								<th>行</th>
								<th>其他</th>
							</tr>
							<tr>
								<td><input type="text" name="name220" value=""/></td>
								<td><input type="text" name="name221" value=""/></td>
								<td><input type="text" name="name222" value=""/></td>
								<td><input type="text" name="name223" value=""/></td>
								<td><input type="text" name="name224" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>消费习惯</b><br/><input type="text" name="name225" value=""/></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>信用卡+现金</th>
								<th>现金</th>
							</tr>
							<tr>
								<td><input type="text" name="name226" value=""/></td>
								<td><input type="text" name="name227" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>理财结构</b><br/><input type="text" name="name228" value=""/>%</td>
					<td colspan="2"><b>储蓄、保险、理财产品、房地产、高风险产品占比</b></td>
					<td>
						<table class="addTable">
							<tr>
								<th>稳健型</th>
								<th>风险偏好型</th>
								<th>风险厌恶型</th>
							</tr>
							<tr>
								<td><input type="text" name="name229" value=""/></td>
								<td><input type="text" name="name230" value=""/></td>
								<td><input type="text" name="name231" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
			</table>
<!--*****************************健康状况**********************************-->
			<table class="myTable">
				<caption>健康状况<input type="text" name="name232" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
				<tr>
					<td rowspan="3"><b>生理健康</b><br/><input type="text" name="name233" value=""/>%</td>
					<td><b>食欲状况</b><br/><input type="text" name="name234" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>良好</th>
								<th>一般</th>
								<th>差</th>
							</tr>
							<tr>
								<td><input type="text" name="name235" value=""/></td>
								<td><input type="text" name="name236" value=""/></td>
								<td><input type="text" name="name237" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>睡眠质量</b><br/><input type="text" name="name238" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>8小时</th>
								<th>>8小时</th>
								<th><8小时</th>
							</tr>
							<tr>
								<td><input type="text" name="name239" value=""/></td>
								<td><input type="text" name="name240" value=""/></td>
								<td><input type="text" name="name241" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>定期体检</b><br/><input type="text" name="name242" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>1年</th>
								<th>2年</th>
								<th>>2年</th>
							</tr>
							<tr>
								<td><input type="text" name="name243" value=""/></td>
								<td><input type="text" name="name244" value=""/></td>
								<td><input type="text" name="name245" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td rowspan="2"><b>心理健康</b><br/><input type="text" name="name246" value=""/>%</td>
					<td><b>记忆状况</b><br/><input type="text" name="name247" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>从不忘记任何事</th>
								<th>偶尔忘记事情</th>
								<th>时常忘记事情</th>
							</tr>
							<tr>
								<td><input type="text" name="name248" value=""/></td>
								<td><input type="text" name="name249" value=""/></td>
								<td><input type="text" name="name250" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>有无消极感受</b><br/><input type="text" name="name251" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>无</th>
								<th>偶尔</th>
								<th>经常</th>
							</tr>
							<tr>
								<td><input type="text" name="name252" value=""/></td>
								<td><input type="text" name="name253" value=""/></td>
								<td><input type="text" name="name254" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
			</table>
<!--*****************************家庭关系**********************************-->
			<table class="myTable">
				<caption>家庭关系<input type="text" name="name255" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
				<tr>
					<td><b>与配偶的情感关系</b><br/><input type="text" name="name256" value=""/>%</td>
					<td></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>与配偶感情非常好</th>
								<th>偶尔吵架</th>
								<th>经常吵架</th>
							</tr>
							<tr>
								<td><input type="text" name="name257" value=""/></td>
								<td><input type="text" name="name258" value=""/></td>
								<td><input type="text" name="name259" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>与家庭其他成员关系</b><br/><input type="text" name="name260" value=""/>%</td>
					<td></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>相处和睦</th>
								<th>偶尔吵架</th>
								<th>经常吵架</th>
							</tr>
							<tr>
								<td><input type="text" name="name261" value=""/></td>
								<td><input type="text" name="name262" value=""/></td>
								<td><input type="text" name="name263" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>参与家庭事务决策能力</b><br/><input type="text" name="name264" value=""/>%</td>
					<td></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>家庭主要决策人</th>
								<th>偶尔参与决策</th>
								<th>从不参与决策</th>
							</tr>
							<tr>
								<td><input type="text" name="name265" value=""/></td>
								<td><input type="text" name="name266" value=""/></td>
								<td><input type="text" name="name267" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
			</table>
<!--*****************************社交状况**********************************-->
			<table class="myTable">
				<caption>社交状况<input type="text" name="name268" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
				<tr>
					<td><b>聚会频繁程度</b><br/><input type="text" name="name269" value=""/>%</td>
					<td></td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>每天</th>
								<th>5-6次</th>
								<th>3-5次</th>
								<th>1-3次</th>
								<th>无</th>
							</tr>
							<tr>
								<td><input type="text" name="name270" value=""/></td>
								<td><input type="text" name="name271" value=""/></td>
								<td><input type="text" name="name272" value=""/></td>
								<td><input type="text" name="name273" value=""/></td>
								<td><input type="text" name="name274" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td rowspan="2"><b>交友状况</b><br/><input type="text" name="name275" value=""/>%</td>
					<td><b>朋友的工作</b><br/><input type="text" name="name276" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>公务员/事业单位</th>
								<th>做生意</th>
							</tr>
							<tr>
								<td><input type="text" name="name277" value=""/></td>
								<td><input type="text" name="name278" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>朋友的学历</b><br/><input type="text" name="name279" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>硕士</th>
								<th>本科</th>
								<th>高中</th>
							</tr>
							<tr>
								<td><input type="text" name="name280" value=""/></td>
								<td><input type="text" name="name281" value=""/></td>
								<td><input type="text" name="name282" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
			</table>
<!--*****************************负债  **********************************-->
			<table class="myTable">
				<caption>负债(减分项)<input type="text" name="name283" value=""/>%</caption>		
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="10%">
					<col width="70%">
				</colgroup>
				<tr>
					<td rowspan="3"><b>贷记卡</b><br/><input type="text" name="name284" value=""/>%</td>
					<td><b>信用卡总数 </b><br/><input type="text" name="name285" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>3张以上</th>
								<th>2张</th>
								<th>1张</th>
								<th>0张</th>
							</tr>
							<tr>
								<td><input type="text" name="name286" value=""/></td>
								<td><input type="text" name="name287" value=""/></td>
								<td><input type="text" name="name288" value=""/></td>
								<td><input type="text" name="name289" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>单卡最高授信额度</b><br/><input type="text" name="name290" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>>200万</th>
								<th>100-200万</th>
								<th>50-100万</th>
								<th>30-50万</th>
								<th>10-30万</th>
								<th><10万</th>
							</tr>
							<tr>
								<td><input type="text" name="name291" value=""/></td>
								<td><input type="text" name="name292" value=""/></td>
								<td><input type="text" name="name293" value=""/></td>
								<td><input type="text" name="name294" value=""/></td>
								<td><input type="text" name="name295" value=""/></td>
								<td><input type="text" name="name296" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>逾期情况</b><br/><input type="text" name="name297" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>10次以上</th>
								<th>8-10次</th>
								<th>6-7次</th>
								<th>4-5次</th>
								<th>2-3次</th>
								<th>1次</th>
								<th>0次</th>
							</tr>
							<tr>
								<td><input type="text" name="name298" value=""/></td>
								<td><input type="text" name="name299" value=""/></td>
								<td><input type="text" name="name300" value=""/></td>
								<td><input type="text" name="name301" value=""/></td>
								<td><input type="text" name="name302" value=""/></td>
								<td><input type="text" name="name303" value=""/></td>
								<td><input type="text" name="name304" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td rowspan="18"><b>银行贷款</b><br/><input type="text" name="name305" value=""/>%</td>
					<td rowspan="9"><b>历史贷款笔数</b><br/><input type="text" name="name306" value=""/>%</td>
				</tr>	
				<tr>
					<td><b>贷款机构</b><br/><input type="text" name="name307" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>农商行</th>
								<th>城商行</th>
								<th>国有4大行</th>
							</tr>
							<tr>
								<td><input type="text" name="name308" value=""/></td>
								<td><input type="text" name="name309" value=""/></td>
								<td><input type="text" name="name310" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>贷款金额</b><br/><input type="text" name="name311" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>>1000万</th>
								<th>500-1000万</th>
								<th><500万</th>
							</tr>
							<tr>
								<td><input type="text" name="name312" value=""/></td>
								<td><input type="text" name="name313" value=""/></td>
								<td><input type="text" name="name314" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>利率</b><br/><input type="text" name="name315" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>高于一般水平</th>
								<th>一般水平</th>
								<th>低于一般水平</th>
							</tr>
							<tr>
								<td><input type="text" name="name316" value=""/></td>
								<td><input type="text" name="name317" value=""/></td>
								<td><input type="text" name="name318" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>期限</b><br/><input type="text" name="name319" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>>1年</th>
								<th>6个月-1年</th>
								<th><6个月</th>
							</tr>
							<tr>
								<td><input type="text" name="name320" value=""/></td>
								<td><input type="text" name="name321" value=""/></td>
								<td><input type="text" name="name322" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>用途</b><br/><input type="text" name="name323" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>房贷</th>
								<th>车贷</th>
								<th>经营</th>
								<th>消费</th>
							</tr>
							<tr>
								<td><input type="text" name="name324" value=""/></td>
								<td><input type="text" name="name325" value=""/></td>
								<td><input type="text" name="name326" value=""/></td>
								<td><input type="text" name="name327" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>

				<tr>
					<td><b>是否有担保</b><br/><input type="text" name="name328" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>是</th>
								<th>否</th>
							</tr>
							<tr>
								<td><input type="text" name="name329" value=""/></td>
								<td><input type="text" name="name330" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>逾期情况</b><br/><input type="text" name="name331" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>10次以上</th>
								<th>8-10次</th>
								<th>6-7次</th>
								<th>4-5次</th>
								<th>2-3次</th>
								<th>1次</th>
								<th>0次</th>
							</tr>
							<tr>
								<td><input type="text" name="name332" value=""/></td>
								<td><input type="text" name="name333" value=""/></td>
								<td><input type="text" name="name334" value=""/></td>
								<td><input type="text" name="name335" value=""/></td>
								<td><input type="text" name="name336" value=""/></td>
								<td><input type="text" name="name337" value=""/></td>
								<td><input type="text" name="name338" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td rowspan="9"><b>尚未到期笔数</b><br/><input type="text" name="name339" value=""/>%</td>
					<td><b>放款日期</b></td>
				</tr>	
				<tr>
					<td><b>贷款机构</b><br/><input type="text" name="name340" value="10%"/></td>
					<td>
						<table class="addTable">
							<tr>
								<th>农商行</th>
								<th>城商行</th>
								<th>国有4大行</th>
							</tr>
							<tr>
								<td><input type="text" name="name341" value=""/></td>
								<td><input type="text" name="name342" value=""/></td>
								<td><input type="text" name="name343" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>贷款金额</b><br/><input type="text" name="name344" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>>1000万</th>
								<th>500-1000万</th>
								<th><500万</th>
							</tr>
							<tr>
								<td><input type="text" name="name345" value=""/></td>
								<td><input type="text" name="name346" value=""/></td>
								<td><input type="text" name="name347" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>利率</b><br/><input type="text" name="name348" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>高于一般水平</th>
								<th>一般水平</th>
								<th>低于一般水平</th>
							</tr>
							<tr>
								<td><input type="text" name="name349" value=""/></td>
								<td><input type="text" name="name350" value=""/></td>
								<td><input type="text" name="name351" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>期限</b><br/><input type="text" name="name352" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>>1年</th>
								<th>6个月-1年</th>
								<th><6个月</th>
							</tr>
							<tr>
								<td><input type="text" name="name353" value=""/></td>
								<td><input type="text" name="name354" value=""/></td>
								<td><input type="text" name="name355" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>用途</b><br/><input type="text" name="name356" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>房贷</th>
								<th>车贷</th>
								<th>经营</th>
								<th>消费</th>
							</tr>
							<tr>
								<td><input type="text" name="name357" value=""/></td>
								<td><input type="text" name="name358" value=""/></td>
								<td><input type="text" name="name359" value=""/></td>
								<td><input type="text" name="name360" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>还款日期</b></td>
					<td><input type="text" name="" value="5%"/></td>
				</tr>
				<tr>
					<td><b>是否有担保</b><br/><input type="text" name="name361" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>是</th>
								<th>否</th>
							</tr>
							<tr>
								<td><input type="text" name="name362" value=""/></td>
								<td><input type="text" name="name363" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
				<tr>
					<td><b>逾期情况</b><br/><input type="text" name="name364" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>10次以上</th>
								<th>8-10次</th>
								<th>6-7次</th>
								<th>4-5次</th>
								<th>2-3次</th>
								<th>1次</th>
								<th>0次</th>
							</tr>
							<tr>
								<td><input type="text" name="name365" value=""/></td>
								<td><input type="text" name="name366" value=""/></td>
								<td><input type="text" name="name367" value=""/></td>
								<td><input type="text" name="name368" value=""/></td>
								<td><input type="text" name="name369" value=""/></td>
								<td><input type="text" name="name370" value=""/></td>
								<td><input type="text" name="name371" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
<!--*****************************其他借款**********************************-->
				<tr>
					<td rowspan="7"><b>其他借款</b><br/><input type="text" name="name372" value=""/>%</td>
					<td><b>借款来源</b><br/><input type="text" name="name373" value=""/>%</td>
					<td>
						<table class="addTable">
							<tr>
								<th>民间借贷</th>
								<th>小额借款公司</th>
							</tr>
							<tr>
								<td><input type="text" name="name374" value=""/></td>
								<td><input type="text" name="name375" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>借款金额</b><br/><input type="text" name="name376" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>>1000万</th>
								<th>500-1000万</th>
								<th><500万</th>
							</tr>
							<tr>
								<td><input type="text" name="name377" value=""/></td>
								<td><input type="text" name="name378" value=""/></td>
								<td><input type="text" name="name379" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>利率</b><br/><input type="text" name="name380" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>高于一般水平</th>
								<th>一般水平</th>
								<th>低于一般水平</th>
							</tr>
							<tr>
								<td><input type="text" name="name381" value=""/></td>
								<td><input type="text" name="name382" value=""/></td>
								<td><input type="text" name="name383" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>		
				<tr>
					<td><b>期限</b><br/><input type="text" name="name384" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>>1年</th>
								<th>6个月-1年</th>
								<th>3个月-6个月</th>
								<th><3个月</th>
							</tr>
							<tr>
								<td><input type="text" name="name385" value=""/></td>
								<td><input type="text" name="name386" value=""/></td>
								<td><input type="text" name="name387" value=""/></td>
								<td><input type="text" name="name388" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>			
				<tr>
					<td><b>用途</b><br/><input type="text" name="name389" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>经营</th>
								<th>消费</th>
								<th>其他</th>
							</tr>
							<tr>
								<td><input type="text" name="name390" value=""/></td>
								<td><input type="text" name="name391" value=""/></td>
								<td><input type="text" name="name392" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>			
				<tr>
					<td><b>剩余还款期限</b><br/><input type="text" name="name393" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>1年</th>
								<th>6个月-1年</th>
								<th>3个月-6个月</th>
								<th><3个月</th>
							</tr>
							<tr>
								<td><input type="text" name="name394" value=""/></td>
								<td><input type="text" name="name395" value=""/></td>
								<td><input type="text" name="name396" value=""/></td>
								<td><input type="text" name="name397" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>			
				<tr>
					<td><b>是否正常还款</b><br/><input type="text" name="name398" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>是</th>
								<th>否</th>
							</tr>
							<tr>
								<td><input type="text" name="name399" value=""/></td>
								<td><input type="text" name="name400" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>
<!--*****************************担保情况**********************************-->
				<tr>
					<td rowspan="3"><b>担保情况</b><br/><input type="text" name="name401" value=""/>%</td>
					<td><b>担保金额（占本人自有资产比例）</b><br/><input type="text" name="name402" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>>100%</th>
								<th>50%-100%</th>
								<th>10%-50%</th>
								<th>5%-10%</th>
								<th><5%</th>
							</tr>
							<tr>
								<td><input type="text" name="name403" value=""/></td>
								<td><input type="text" name="name404" value=""/></td>
								<td><input type="text" name="name405" value=""/></td>
								<td><input type="text" name="name406" value=""/></td>
								<td><input type="text" name="name407" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>担保贷款用途</b><br/><input type="text" name="name408" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>经营</th>
								<th>其他</th>
							</tr>
							<tr>
								<td><input type="text" name="name409" value=""/></td>
								<td><input type="text" name="name410" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
				<tr>
					<td><b>担保期限</b><br/><input type="text" name="name411" value=""/>%</td>
					<td></td>
					<td>
						<table class="addTable">
							<tr>
								<th>5年以上</th>
								<th>3-5年</th>
								<th>2年</th>
								<th>1年</th>
								<th><1年</th>
							</tr>
							<tr>
								<td><input type="text" name="name412" value=""/></td>
								<td><input type="text" name="name413" value=""/></td>
								<td><input type="text" name="name414" value=""/></td>
								<td><input type="text" name="name415" value=""/></td>
								<td><input type="text" name="name416" value=""/></td>
							</tr>
						</table>	
					</td>
				</tr>	
			</table>
		</form>
		<div class="pagebar">			
			<div class="controlbtn">
				<a class="btn btn-info" onclick="getSum()" title="提交">提交</a>
				<a class="btn" onclick="javascript:history.go(-1);" title="返回">返回</a>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function() {
				var result = "{{result}}";
				if(result!=''){
					$("input").each(function(i){
					    $(this).val(result.split(",")[i]);
					});
				}
			})
			
			function getSum(){
				var score = new Array();
				$("input").each(function(i){
				    var value = $(this).val();
				    if(value==''){
				    	score.push(0);
				    }else{
				    	score.push(value);
				    } 
				});
				var url = "/mxpg/cspz_shzt_save/"+score;
		   		window.location.href =  url;
			}
		</script>
	</body>
</html>