<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		
	</head>
	<body>
		<div class="iframeForm">
			<form class="search" style="padding:30px;text-align:center;">				
				选择导入文件：<input type="file"/><br/><br/>
				<input type="button" class="btn btn-info" value="导入"/>
				<a class="btn" href="#" onclick="javascript:history.go(-1);" title="返回">返回</a>		
			</form>
		</div>
	</body>
</html>