<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../static/js/date/lhgcore.js"></script>
		<script src="../../static/js/date/lhgcalendar.js"></script>
		<style type="text/css">
		</style>
	</head>
	<body>		
			<table class="myTable">
				<caption>评估报告</caption>
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tr>
					<td class="table-label">客户索引号</td>
					<td>{{info.id}}</td>
					<td class="table-label">客户名称</td>
					<td>{{info.customer_name}}</td>					
				</tr>
				<tr>
					<td class="table-label">经营状况得分</td>
					<td>{{score.jyzk_score}}</td>
					<td class="table-label">道德品质得分</td>
					<td>{{score.ddpz_score}}</td>				
				</tr>
				<tr>
					<td class="table-label">生存状况得分</td>
					<td>{{score.shzk_score}}</td>	
					<td class="table-label">还款能力</td>
					<td id="hknl"></td>
				</tr>
				<tr>
					<td class="table-label">拟授信额度</td>
                    <td id="nsxed" colspan="3"></td>
					<!-- <td class="table-label">风险等级</td>
					{%- if score.jyzk_score=='不满足准入条件' or score.hknl_score=='不满足准入条件' or score.shzk_score=='不满足准入条件' or score.ddpz_score=='不满足准入条件'%}
					<td>100</td>	
					{%- else%}
					<td>0</td>
					{%-endif%}	 -->
				</tr>
				<tr>
					<td class="table-label">综述</td>
					{%- if score.jyzk_score=='不满足准入条件' or score.hknl_score=='不满足准入条件' or score.shzk_score=='不满足准入条件' or score.ddpz_score=='不满足准入条件'%}
					<td colspan="3">不合格</td>		
					{%- else%}
					<td colspan="3">合格</td>	
					{%-endif%}
				</tr>
				<tr>
					<td class="table-label">备注</td>
					<td colspan="3" style="color:red">{{score.remark}}</td>		
				</tr>
				<tr>
					<td class="table-label">未评估项统计</td>
					<td colspan="3" >{{pet}}</td>		
				</tr>
			</table>	
			<div class="pagebar">			
				<div class="controlbtn">
					
					<a class="btn"  onclick="javascript:history.go(-1);" title="返回">返&nbsp;&nbsp;回</a>
				</div>
			</div>
		<script type="text/javascript">
			$(document).ready(function(){
            	
            	var ed = "{{score.total_approve}}";
            	var ed1 = "{{score.hknl_score}}";
            	turnTopet(ed);
            	$("#nsxed").append(turnTopet(ed)+"元");
            	$("#hknl").append(turnTopet(ed1)+"元");
            })

            function turnTopet(value){
            	num  =  value+"";  
	           var  re=/(-?\d+)(\d{3})/  
	           while(re.test(num)){  
	                       num=num.replace(re,"$1,$2")  
	           	}  
	           	return num;
            }
		</script>
	</body>
</html>