<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../static/js/date/lhgcore.js"></script>
		<script src="../../static/js/date/lhgcalendar.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>模型评估 / 授信评估</span>
		</div>
		<div class="pageTitle">
			授信评估
		</div>
		<div class="content">
			<form id="tests" action="/mxpg/sxpg/1" method="POST">	
			{%- with messages = get_flashed_messages(with_categories=true) %}
			  	{%- if messages %}
		    	{%- for category, message in messages %}
		    	<div class="alert alert-{{category}}">
		      		{{message}}
		      	</div>
		    	{%- endfor %}
			  	{%- endif %}
			{%- endwith %}
				<table style="width:80%;height:50px">
				<tr>	
				<td>
					客户名称：<input type="text" name="customer_name" value="{{customer_name}}"/>
				</td>
				<td>
					证件号码：<input type="text" name="card_id" value="{{card_id}}"/>
				</td>
							
				<td>
					<input type="submit" class="btn btn-info" value="筛选"/>
				</td>
				</tr>	
			</form>
			<table class="table-list">
				<colgroup>
					<col width="5%" />
					<col width="10%" />
					<col width="15%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="5%" />
					<col width="5%" />
					<col width="10%" />
					<col width="5%" />
				</colgroup>
				<tr>
					<th width="50"></th>
					<th>客户名称</th>
					<th>证件号码</th>
					<th>产品名称</th>
					<th>申请额度</th>
					<th>进件机构</th>
					<th>进件区域</th>
					<th>行业</th>
					<th>商圈</th>
					<th>客户经理</th>
					<th>审核人</th>
					<th>审批人</th>
				</tr>
			</table>
			<table class="table-list">
				<colgroup>					
					<col width="5%" />
					<col width="10%" />
					<col width="15%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="5%" />
					<col width="5%" />
					<col width="10%" />
					<col width="5%" />
				</colgroup>
				{%- for obj in appList.items%}
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" onclick="selectbelong({{obj.id}})"/></td>
					<td>{{obj.customer_name}}</td>
					<td>{{obj.card_id}}</td>
					<td>{{obj.product_name}}</td>
					<td>{{obj.approve_je}}</td>
					<td>{{obj.approve_org}}</td>
					<td>{{obj.approve_area}}</td>
					<td>{{obj.industry}}</td>
					<td>{{obj.district}}</td>
					<td>{{obj.user_name}}</td>
					<td>{{obj.sh_name}}</td>
					<td>{{obj.sp_name}}</td>
				</tr>
				{%-endfor%}
			</table>
			<div class="pagebar">
				<input type="hidden" id="hiddenId"/>
				<div class="controlbtn">
					<!-- <a class="btn btn-info" href="javascript:void(0);" title="人工分案" onclick="iframe('')">准入筛选</a> -->	
					<a class="btn btn-info" href="javascript:void(0);" title="人工分案" onclick="iframeById('/mxpg/show_pgbg',document.getElementById('hiddenId').value)">评估</a>
					<!-- <a class="btn btn-info" href="javascript:void(0);" title="人工分案" onclick="iframe('')">全部评估</a>	 -->			
				</div>
				<div class="page">
					{%- if appList.has_prev %}
						<span style="CURSOR: pointer" onclick="submitForm('tests','/mxpg/sxpg/{{appList.prev_num}}')">&lt;&lt;</span>
					{%- else %}
						<span style="CURSOR: pointer">&lt;&lt;</span>
					{%- endif %}
					&#160;第&#160;<font color="#0088cc">{{appList.page}}</font>&#160;页&#160;
					&#160;共&#160;<font color="#0088cc">{{appList.pages}}</font>&#160;页&#160;
					{%- if appList.has_next %}
						<span style="CURSOR: pointer" onclick="submitForm('tests','/mxpg/sxpg/{{appList.next_num}}')">&gt;&gt;</span>
					{%- else %}
						<span style="CURSOR: pointer">&gt;&gt;</span>
					{%- endif %}
				</div>
			</div>		
		</div>
		<script type="text/javascript">
			// function checkAll(obj){
			// 	if($(obj).attr('checked')=="checked"){
			// 		$("input[type=checkbox]").attr("checked","checked");
			// 	}
			// 	else{
			// 		$("input[type=checkbox]").removeAttr("checked");
			// 	}				
			// }
			function selectbelong(id){
				document.getElementById("hiddenId").value=id;
			}
			//切换iframe里的内容用于iframe内部页面	
			function iframeById(page,id){
				if(id==""){
					alert("请选择记录");
					return;
				}
				var url = page+"/"+id+"/write";
			   window.location.href =  url;
			}
			function submitForm(formId,action){
			    document.getElementById(formId).action = action;
			    document.getElementById(formId).submit();
			}
		</script>
	</body>
</html>