<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../../static/js/index.js"></script>
		<!--日历-->
		<script src="../../../static/js/date/lhgcore.js"></script>
		<script src="../../../static/js/date/lhgcalendar.js"></script>
	</head>
	<body >
		<div class="position">
			当前位置：<span>信息录入</span>
		</div>
		<div class="pageTitle">
			信息录入
		</div>
		<div class="content">
			<div class="">
			<form id="tests" action="/mxpg/xxlr/1" method="POST">	
				<table style="width:80%;height:50px">
				<tr>	
				<td>
					客户名称：<input type="text" name="customer_name"/>
				</td>
				<td>
					证件号码：<input type="text" name="card_id"/>
				</td>
							
				<td>
					<input type="submit" class="btn btn-info" value="筛选"/>
				</td>
				</tr>	
			</form>
			<table class="table-list">
				<colgroup>
					<col width="5%" />
					<col width="10%" />
					<col width="15%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="5%" />
					<col width="5%" />
					<col width="10%" />
					<col width="5%" />
				</colgroup>
				<tr>
					<th width="50"></th>
					<th>客户名称</th>
					<th>证件号码</th>
					<th>产品名称</th>
					<th>申请额度</th>
					<th>进件机构</th>
					<th>进件区域</th>
					<th>行业</th>
					<th>商圈</th>
					<th>客户经理</th>
					<th>审核人</th>
					<th>审批人</th>
				</tr>
			</table>
			<table class="table-list">
				<colgroup>					
					<col width="5%" />
					<col width="10%" />
					<col width="15%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="5%" />
					<col width="5%" />
					<col width="10%" />
					<col width="5%" />
				</colgroup>
				{%- for obj in appList.items%}
				<tr onclick="checkTable(this)">
					<td><input type="radio" name="radio" onclick="selectbelong({{obj.id}},{{obj.model_type}})"/></td>
					<td>{{obj.customer_name}}</td>
					<td>{{obj.card_id}}</td>
					<td>{{obj.product_name}}</td>
					<td>{{obj.approve_je}}</td>
					<td>{{obj.approve_org}}</td>
					<td>{{obj.approve_area}}</td>
					<td>{{obj.industry}}</td>
					<td>{{obj.district}}</td>
					<td>{{obj.user_name}}</td>
					<td>{{obj.sh_name}}</td>
					<td>{{obj.sp_name}}</td>
				</tr>
				{%-endfor%}
			</table>
			<div class="pagebar">
				<input type="hidden" value="" id="hiddenId"/>
				<div class="controlbtn">
					<input class="btn btn-info" id="history" onclick="iframeById('/khzldy/khzl_hknl/1')" value="录入传统评估要素"></input>
					<input class="btn btn-info"  id="static" onclick="iframeById('/khzldy/khzl_hknl/2')" value="录入标准评估要素" ></input>
								
				</div>
				<div class="page">
					共&#160;<font color="#0088cc">{{length}}</font>&#160;条
					{%- if appList.has_prev %}
						<span style="CURSOR: pointer" onclick="submitForm('tests','/mxpg/xxlr/{{appList.prev_num}}')">&lt;&lt;</span>
					{%- else %}
						<span style="CURSOR: pointer">&lt;&lt;</span>
					{%- endif %}
					&#160;第&#160;<font color="#0088cc">{{appList.page}}</font>&#160;页&#160;
					&#160;共&#160;<font color="#0088cc">{{appList.pages}}</font>&#160;页&#160;
					{%- if appList.has_next %}
						<span style="CURSOR: pointer" onclick="submitForm('tests','/mxpg/xxlr/{{appList.next_num}}')">&gt;&gt;</span>
					{%- else %}
						<span style="CURSOR: pointer">&gt;&gt;</span>
					{%- endif %}
				</div>
			</div>
		</div>
		</div>	
		<script type="text/javascript">
		function selectbelong(id,type){
		 	$("#hiddenId").val(id);
		 	if(type=="0"){
		 		$("#static").attr("disabled",false);
		 		$("#history").attr("disabled",false);
		 	}else{
		 		if(type=="1"){
			 		$("#static").attr("disabled",true);
			 		$("#history").attr("disabled",false);
			 	}else{
					$("#static").attr("disabled",false);
			 		$("#history").attr("disabled",true);
			 	}
		 	}

		 }
		 function iframeById(url){
		 	var value = $("#hiddenId").val();
		 	if(value==""){
		 		alert("请选择记录");
		 		return;
		 	}
		 	window.location.href =  url+"/"+value;
		 }

		 function submitForm(id,url){
		 	document.getElementById(id).action = url;
		 	document.getElementById(id).submit();
		 }
		</script>
	</body>
</html>