<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<script src="../../static/js/base64.js"></script>
		<script src="../../static/js/util.js"></script>
		<!--验证样式-->
		<link rel="stylesheet" href="../../static/css/validationEngine.jquery.css">
		<script src="../../static/js/jquery.validationEngine-zh_CN.js"></script> 
		<script src="../../static/js/jquery.validationEngine.js"></script>	
		
		<style type="text/css">			
			.myTable td{font-size:13px;}
			input[type=text]{width:80px;}
			.tdCenter{text-align: center;}
			.tdPadding1{padding-left: 26px;}
			.tdPadding2{padding-left: 52px;}
			input:read-only{background-color: #D9D9D9;}
		</style>
	</head>
	<body>			
<!--*****************************利润表**********************************-->	
		{%- if table_content != '' %}
		<script type="text/javascript">
			var content = '{{table_content}}' 
			document.write('<form id="form_id" class="" action="" method="POST">'+unescape(content))
		</script>
		{%- else %}
		<form id="form_id" class="" action="" method="POST">
		<table class="myTable">
				<caption>利润表</caption>
				<colgroup>
					<col width="30%">
					<col width="10%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<tr>
					<td class="tdCenter"><b>资产</b></td>
					<td class="tdCenter"><b>行次</b></td>
					<td class="tdCenter"><b>上月同期累计</b></td>
					<td class="tdCenter"><b>本月数</b></td>
					<td class="tdCenter"><b>本月累计数</b></td>
				</tr>
				<tr>
					<td>一、主营业务收入</td>
					<td class="tdCenter">1</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">减：主营业务成本</span></td>
					<td class="tdCenter">4</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">主营业务税金及附加</span></td>
					<td class="tdCenter">5</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td>二、主营业务利润（亏损以“－”号填列）</td>
					<td class="tdCenter">10</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">加：其他业务利润（亏损以“－”号填列）</span></td>
					<td class="tdCenter">11</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">减：营业费用</span></td>
					<td class="tdCenter">14</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">管理费用</span></td>
					<td class="tdCenter">15</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">财务费用</span></td>
					<td class="tdCenter">16</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td>三、营业利润（亏损以“－”号填列）</td>
					<td class="tdCenter">18</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">加：投资收益（亏损以“－”号填列）</span></td>
					<td class="tdCenter">19</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">补贴收入</span></td>
					<td class="tdCenter">22</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">营业外收入</span></td>
					<td class="tdCenter">23</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">减：营业外支出</span></td>
					<td class="tdCenter">25</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td>四、利润总额（亏损总额以“－”号填列）</td>
					<td class="tdCenter">27</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">减：所得税</span></td>
					<td class="tdCenter">28</td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name=""  class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td>五、净利润</td>
					<td class="tdCenter">1</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">加：年初未分配利润</span></td>
					<td class="tdCenter">2</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">其他转入</span></td>
					<td class="tdCenter">4</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td>六、可供分配的利润</td>
					<td class="tdCenter">8</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">减：提取法定盈余公积</span></td>
					<td class="tdCenter">9</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">提取法定公益金</span></td>
					<td class="tdCenter">10</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">提取职工奖励及福利基金</span></td>
					<td class="tdCenter">11</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">提取储备基金</span></td>
					<td class="tdCenter">12</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">提取企业发展基金</span></td>
					<td class="tdCenter">13</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">利润归还投资</span></td>
					<td class="tdCenter">14</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td>七、可供投资者分配的利润</td>
					<td class="tdCenter">16</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding1">减：应付优先股股利</span></td>
					<td class="tdCenter">17</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">提取任意盈余公积</span></td>
					<td class="tdCenter">18</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">应付普通股股利</span></td>
					<td class="tdCenter">19</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td><span class="tdPadding2">转作资本（或股本）的普通股股利</span></td>
					<td class="tdCenter">20</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td>八、未分配利润</td>
					<td class="tdCenter">25</td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				
			</table>
		
		<div class="pagebar">			
			<div class="controlbtn">
				 <input type="button" class="btn btn-info" id="id_save_button" value="提交">
			</div>
		</div>
		{%- endif %}
		</form>
		<script type="text/javascript">
		$(document).ready(function(){
			//前端验证
			$('#form_id').validationEngine();
			$("#id_save_button").click(function() {
				if(!submitFlag){
					alert("正在处理，请勿重复提交!");
					return;
				}
				submitFlag = false;
				// 前端验证 
				if($('#form_id').validationEngine('validate')){
					//submit
					var b = new Base64(); 
					updateAllDOMFields(document.getElementById("form_id"));
					var content = {'content':b.encode(escape($("#form_id").html()))};
					var url = "/xxlr/lrb_bz/save.json/{{loan_apply_id}}";
					$.ajax({
						url : url,
						type : "POST",
						data:content,
						success : function(data) {
							parent.location.reload();
							submitFlag = true;
						}
					});
				}else{
					submitFlag = true;
				}
			});
		});
		
		</script>
	</body>
</html>