<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<script src="../../static/js/base64.js"></script>
		<script src="../../static/js/util.js"></script>
		
		<script src="../../static/js/Date.js"></script>
		<script src="../../static/js/Stack.js"></script>
		<script src="../../static/js/Tokanizer.js"></script>
		<script src="../../static/js/Evaluator.js"></script>
		<!--验证样式-->
		<link rel="stylesheet" href="../../static/css/validationEngine.jquery.css">
		<script src="../../static/js/jquery.validationEngine-zh_CN.js"></script> 
		<script src="../../static/js/jquery.validationEngine.js"></script>	
		
		<style type="text/css">			
			.myTable td{font-size:13px;}
			input[type=text]{width:80px;}
			.tdCenter{text-align: center;}
			input:read-only{background-color: #D9D9D9;}
			.tdBgClr{background-color: #87CEFA}
		</style>
		<script type="text/javascript">
			var rules = [
			            'B18=B6+B7+B8+B9+B10+B11+B12+B13+B14+B15+B16',
			            'C18=C6+C7+C8+C9+C10+C11+C12+C13+C14+C15+C16',
			            'E18=E6+E7+E8+E9+E10+E11+E12+E13+E14+E15+E16+E17',
			            'F18=F6+F7+F8+F9+F10+F11+F12+F13+F14+F15+F16+F17',
			            'B27=B25-B26',
			            'C27=C25-C26',
			            'E27=E20+E21+E22+E23+E24+E25+E26',
			            'F27=F20+F21+F22+F23+F24+F25+F26',
			            'E28=E18+E27',
			            'F28=F18+F27',
			            'B29=B27-B28',
			            'C29=C27-C28',
			            'E37=E31+E32+E33+E34+E35+E36',
			            'F37=F31+F32+F33+F34+F35+F36',
			            'B40=B22+B23+B24+B29+B30+B31+B32+B33+B34+B36+B37+B38+B39',
			            'C40=C22+C23+C24+C29+C30+C31+C32+C33+C34+C36+C37+C38+C39',
			            'B41=B18+B40',
			            'C41=C18+C40',
			            'E41=E28+E37',
			            'F41=F28+F37'
			            ]
			var exp = new Expression("");

			function Convert(strExp)
			{
			    if (strExp == null || strExp == undefined)
			    {
			        alert ("No expression is specified!");
			        return false;
			    }

			    exp.Expression(strExp);
			    return exp.Parse();
			}

			function Compute(strExp)
			{
			    exp.Expression(strExp);
			    return exp.Evaluate();
			}
		</script>
	</head>
	<body>		
<!--*****************************资产负债表**********************************-->
		{%- if table_content != '' %}
			<script type="text/javascript">
				var content = '{{table_content}}'; 
				document.write('<form id="form_id" class="" action="" method="POST">'+unescape(content));
			</script>
		{%- else %}
		<form id="form_id" class="" action="" method="POST">
		<table class="myTable">
				<caption>资产负债表</caption>
				<colgroup>
					<col width="20%">
					<col width="15%">
					<col width="15%">
					<col width="20%">
					<col width="15%">
					<col width="15%">
				</colgroup>
				<tr>
					<td class="tdCenter tdBgClr"><b>资产</b></td>
					<td class="tdCenter tdBgClr"><b>年初余额</b></td>
					<td class="tdCenter tdBgClr"><b>期末余额</b></td>
					<td class="tdCenter tdBgClr"><b>负债和所有者权益（或股东权益）</b></td>
					<td class="tdCenter tdBgClr"><b>年初余额</b></td>
					<td class="tdCenter tdBgClr"><b>期末余额</b></td>
				</tr>
				<tr>
					<td class="tdBgClr">流动资产：</td>
					<td class="tdCenter"></td>
					<td class="tdCenter"></td>
					<td class="tdBgClr">流动负债：</td>
					<td class="tdCenter"></td>
					<td class="tdCenter"></td>
				</tr>
				<tr>
					<td class="tdBgClr">货币资金</td>
					<td class="tdCenter"><input type="text" name="B6" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C6" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">短期借款</td>
					<td class="tdCenter"><input type="text" name="E6" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F6" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">交易性金融资产</td>
					<td class="tdCenter"><input type="text" name="B7" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C7" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">交易性金融负债</td>
					<td class="tdCenter"><input type="text" name="E7" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F7" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">应收票据</td>
					<td class="tdCenter"><input type="text" name="B8" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C8" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">应付票据</td>
					<td class="tdCenter"><input type="text" name="E8" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F8" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">应收账款</td>
					<td class="tdCenter"><input type="text" name="B9" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C9" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">应付账款</td>
					<td class="tdCenter"><input type="text" name="E9" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F9" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">预付款项</td>
					<td class="tdCenter"><input type="text" name="B10" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C10" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">预收款项</td>
					<td class="tdCenter"><input type="text" name="E10" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F10" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">应收利息</td>
					<td class="tdCenter"><input type="text" name="B11" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C11" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">应付职工薪酬</td>
					<td class="tdCenter"><input type="text" name="E11" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F11" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">应收股利</td>
					<td class="tdCenter"><input type="text" name="B12" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C12" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">应交税费</td>
					<td class="tdCenter"><input type="text" name="E12" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F12" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">其他应收款</td>
					<td class="tdCenter"><input type="text" name="B13" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C13" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">应付利息</td>
					<td class="tdCenter"><input type="text" name="E13" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F13" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">存货</td>
					<td class="tdCenter"><input type="text" name="B14" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C14" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">应付股利</td>
					<td class="tdCenter"><input type="text" name="E14" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F14" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">一年内到期的非流动资产</td>
					<td class="tdCenter"><input type="text" name="B15" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C15" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">其他应付款</td>
					<td class="tdCenter"><input type="text" name="E15" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F15" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">其他流动资产</td>
					<td class="tdCenter"><input type="text" name="B16" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C16" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">一年内到期的非流动负债</td>
					<td class="tdCenter"><input type="text" name="E16" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F16" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr"></td>
					<td></td>
					<td></td>
					<td class="tdBgClr">其他流动负债</td>
					<td class="tdCenter"><input type="text" name="E17" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F17" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr"><b>流动资产合计</b></td>
					<td class="tdCenter"><input type="text" name="B18" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="C18" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdBgClr"><b>流动负债合计</b></td>
					<td class="tdCenter"><input type="text" name="E18" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="F18" class="validate[required,custom[number]]"  value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">非流动资产：</td>
					<td class="tdCenter"></td>
					<td class="tdCenter"></td>
					<td class="tdBgClr">非流动负债：</td>
					<td class="tdCenter"></td>
					<td class="tdCenter"></td>
				</tr>
				<tr>
					<td class="tdBgClr">可供出售金融资产</td>
					<td class="tdCenter"><input type="text" name="B20" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C20" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">长期借款</td>
					<td class="tdCenter"><input type="text" name="E20" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F20" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">持有至到期投资</td>
					<td class="tdCenter"><input type="text" name="B21" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C21" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">应付债券</td>
					<td class="tdCenter"><input type="text" name="E21" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F21" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">长期应收款</td>
					<td class="tdCenter"><input type="text" name="B22" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C22" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">长期应付款</td>
					<td class="tdCenter"><input type="text" name="E22" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F22" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">长期股权投资</td>
					<td class="tdCenter"><input type="text" name="B23" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C23" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">专项应付款</td>
					<td class="tdCenter"><input type="text" name="E23" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F23" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">投资性房地产</td>
					<td class="tdCenter"><input type="text" name="B24" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C24" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">预计负债</td>
					<td class="tdCenter"><input type="text" name="E24" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F24" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">固定资产</td>
					<td class="tdCenter"><input type="text" name="B25" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C25" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">递延所得税负债</td>
					<td class="tdCenter"><input type="text" name="E25" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F25" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">减：累计折旧</td>
					<td class="tdCenter"><input type="text" name="B26" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C26" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">其他非流动负债</td>
					<td class="tdCenter"><input type="text" name="E26" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F26" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">固定资产净值</td>
					<td class="tdCenter"><input type="text" name="B27" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="C27" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdBgClr"><b>非流动负债合计</b></td>
					<td class="tdCenter"><input type="text" name="E27" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="F27" class="validate[required,custom[number]]"  value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">减：固定资产减值准备</td>
					<td class="tdCenter"><input type="text" name="B28" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C28" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr"><b>负债合计</b></td>
					<td class="tdCenter"><input type="text" name="E28" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="F28" class="validate[required,custom[number]]"  value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">固定资产净额</td>
					<td class="tdCenter"><input type="text" name="B29" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="C29" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdBgClr"></td>
					<td class="tdCenter"><input type="text" name="E29" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F29" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">在建工程</td>
					<td class="tdCenter"><input type="text" name="B30" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C30" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">所有者权益（或股东权益）：</td>
					<td class="tdCenter"></td>
					<td class="tdCenter"></td>
				</tr>
				<tr>
					<td class="tdBgClr">工程物资</td>
					<td class="tdCenter"><input type="text" name="B31" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C31" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">实收资本（或股本）</td>
					<td class="tdCenter"><input type="text" name="E31" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F31" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">固定资产清理</td>
					<td class="tdCenter"><input type="text" name="B32" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C32" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">资本公积</td>
					<td class="tdCenter"><input type="text" name="E32" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F32" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">生产性生物资产</td>
					<td class="tdCenter"><input type="text" name="B33" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C33" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">减：库存股</td>
					<td class="tdCenter"><input type="text" name="E33" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F33" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">无形资产</td>
					<td class="tdCenter"><input type="text" name="B34" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C34" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">专项储备</td>
					<td class="tdCenter"><input type="text" name="E34" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F34" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr"></td>
					<td class="tdCenter"></td>
					<td class="tdCenter"></td>
					<td class="tdBgClr">盈余公积</td>
					<td class="tdCenter"><input type="text" name="E35" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F35" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">商誉</td>
					<td class="tdCenter"><input type="text" name="B36" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C36" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr">未分配利润</td>
					<td class="tdCenter"><input type="text" name="E36" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="F36" class="validate[required,custom[number]]" value="0" /></td>
				</tr>
				<tr>
					<td class="tdBgClr">长期待摊费用</td>
					<td class="tdCenter"><input type="text" name="B37" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C37" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr"><b>所有者权益（或股东权益）合计</b></td>
					<td class="tdCenter"><input type="text" name="E37" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="F37" class="validate[required,custom[number]]"  value="0" readonly/></td>
				</tr>
				<tr>
					<td class="tdBgClr">递延所得税资产</td>
					<td class="tdCenter"><input type="text" name="B38" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C38" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr"></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="tdBgClr">其他非流动资产</td>
					<td class="tdCenter"><input type="text" name="B39" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdCenter"><input type="text" name="C39" class="validate[required,custom[number]]" value="0" /></td>
					<td class="tdBgClr"></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="tdBgClr"><b>非流动资产合计</b></td>
					<td class="tdCenter"><input type="text" name="B40" class="validate[required,custom[number]]" value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="C40" class="validate[required,custom[number]]" value="0" readonly/></td>
					<td class="tdBgClr"></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="tdBgClr"><b>资产总计</b></td>
					<td class="tdCenter"><input type="text" name="B41" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="C41" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdBgClr"><b>负债和所有者权益（或股东权益）合计</b></td>
					<td class="tdCenter"><input type="text" name="E41" class="validate[required,custom[number]]"  value="0" readonly/></td>
					<td class="tdCenter"><input type="text" name="F41" class="validate[required,custom[number]]"  value="0" readonly/></td>
				</tr>
				
			</table>
		
		<div class="pagebar">			
			<div class="controlbtn">
				<input type="button" class="btn btn-info" id="id_count_button" value="计算">
				<input type="button" class="btn btn-info" id="id_save_button" value="提交">
			</div>
		</div>
		{%- endif %}
		</form>
		<script type="text/javascript">
			$(document).ready(function(){
				//前端验证
				$('#form_id').validationEngine();
				//保存
				$("#id_save_button").click(function() {
					if(!submitFlag){
						alert("正在处理，请勿重复提交!");
						return;
					}
					submitFlag = false;
					// 前端验证 
					if($('#form_id').validationEngine('validate')){
						//submit
						var b = new Base64(); 
						updateAllDOMFields(document.getElementById("form_id"));
						var form_data = $("#form_id").serialize(); 
						var content = {'content':b.encode(escape($("#form_id").html())),'form_data':form_data};
						var url = "/xxlr/zcfzb_bz/save.json/{{loan_apply_id}}";
						$.ajax({
							url : url,
							type : "POST",
							data:content,
							success : function(data) {
								window.location.reload();
								submitFlag = true;
							}
						});
					}else{
						submitFlag = true;
					}
				});
				
				//计算
				$("#id_count_button").click(function() {
					for(index in rules){
						var rule = rules[index];
						var sum_name = rule.split("=")[0];
						var strExp = rule.split("=")[1];
						//将编码换成数值
						var code = "";
						var sb = "";
						for(var i = 0;i<strExp.length;i++){
							if("^,*,/,%,+,-,(,)".indexOf(strExp[i])<0){
								code += strExp[i];
							}
							else{
								if(code != ""){
									sb += $("input[name='"+code+"']").val();
									code = "";
								}
								sb += strExp[i];
							}
						}
						if(code != ""){
							sb += $("input[name='"+code+"']").val();
							code = "";
						}
						$("input[name='"+sum_name+"']").val(Compute(sb));
						exp.Reset();
					}
				});
				
				//监测readonly的input值是否发生改变
				$("input:text[readonly]").bind('input propertychange', function() {
				    //$('.msg').html($(this).val().length + ' characters');
				    alert('111');
				    $(this).css('background-color','#123456');
				    
				});
			});
			
		</script>
	</body>
</html>