<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="../../static/css/btn.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/main.css" rel="stylesheet" type="text/css" />
		<script src="../../static/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/js/index.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="position">
			当前位置：<span>资信评估规则维护 / 评估规则维护</span>
		</div>
		<div class="pageTitle">
			评估规则维护
		</div>
		<div class="content">			
			<table class="myTable">
				<caption>专家独立资信评估规则</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>
					<td class="table-label">评估规则</td>
					<td><select><option>---请选择---</option><option>全票通过</option><option>一票否决</option><option>通过票数占比</option></td>
					<td class="table-label">说明</td>
					<td><input type="text" value=""/></td>					
				</tr>
			</table>			
			<table class="myTable">
				<caption>专家会审资信评估规则</caption>
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="40%">
				</colgroup>
				<tr>					
					<td class="table-label">评估规则</td>
					<td><select><option>---请选择---</option><option>全票通过</option><option>一票否决</option><option>通过票数占比</option></td>
					<td class="table-label">说明</td>
					<td><input type="text" value=""/></td>						
				</tr>
			</table>
			<div class="pagebar">			
				<div class="controlbtn">
					<a class="btn btn-info" href="javascript:void(0);" title="提交">提&nbsp;&nbsp;交</a>
				</div>
			</div>
		</div>
	</body>
</html>